/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
.sb-search {
	position: relative;	
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.sb-search-input::-webkit-input-placeholder {
	color:#be2d64;
}

.sb-search-input:-moz-placeholder {
	color:#be2d64;
}

.sb-search-input::-moz-placeholder {
	color:#be2d64;
}

.sb-search-input:-ms-input-placeholder {
	color:#be2d64;
}

.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	z-index: 90;
    padding-top: 18px;
	}


/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
    position: absolute;
    top:17px;
    right:0px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
	box-shadow: 0px 0px 1px #ccc;
	}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #fff;
	color: #fff;
	z-index: 11;
    border: 1px solid #cacaca;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
