@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/ex-font/OpenSans.eot');
    src: url('../fonts/ex-font/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ex-font/OpenSans.woff2') format('woff2'),
        url('../fonts/ex-font/OpenSans.woff') format('woff'),
        url('../fonts/ex-font/OpenSans.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/ex-font/OpenSans-Bold.eot');
    src: url('../fonts/ex-font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ex-font/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/ex-font/OpenSans-Bold.woff') format('woff'),
        url('../fonts/ex-font/OpenSans-Bold.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/ex-font/OpenSans-Semibold.eot');
    src: url('../fonts/ex-font/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ex-font/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/ex-font/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/ex-font/OpenSans-Semibold.ttf') format('truetype');
    font-style: 600;
}