a:hover, a:focus { text-decoration: none; }
a, .btn, button { transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; }
html { width: 100%;	overflow-x: hidden; }
*, *:focus, .btn:focus, button:focus, a:focus, form:focus { outline: none !important; }

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow-x: hidden;
	width: 100%;
	padding: 0 0 !important;
}
.box_howItWork .main_cat a img {
	max-width: 70px;
	max-height: 70px;
}
nav.menu-header {
	border-radius: 0;
	margin: 0;
	border: none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}
.box_logSign ul {
	display: block;
	padding: 0;
	margin: 0;
}
.box_logSign ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
.main_cat a img {
	width: 94px;
    height: 94px;
}
.box_logSign ul li a {
	padding: 8px 12px 8px 12px;
	display: block;
	color: #000;
	text-decoration: none;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
}
.top-navi ul li a:after {
	position: absolute;
	content: '';
	right: 6px;
	height: 20px;
	width: 1px;
	background: #fff;
	top: 50%;
	margin-top: -10px;
}
.top-header {
	position: relative;
	background: #ed3f44;
	height: 47px;
}
.top-navi ul {
	text-align: right;
}
.main-srch-sub {
	position: relative;
	border-radius: 50px;
	/*overflow: hidden;*/
	max-width: 1000px;
	margin: 0 auto;
	background: #efefef;
	padding: 5px 20px !important;
	box-sizing: border-box !important;
}
.main-srch-sub .col-md-6, .main-srch-sub .col-md-4, .main-srch-sub .col-md-2 {
	padding: 0;
}
.main-srch-sub .col-md-2 {
	padding-left: 5px;
}
.form-group.form-sub {
	position: relative;
}
.main-srch-sub .form-group {
	margin: 0;
	height: 60px;
}
.form-group.form-sub .add-form {
	border-radius: 30px 0 0 30px;
}
.form-group.form-sub select {
	height: 61px;
    border-radius: 0 35px 35px 0;
    font-size: 16px;
    letter-spacing: 1px;
}
.form-group.form-sub input.form-control {
	height: 60px;
	background: rgba(255, 255, 255, 0.8);
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	letter-spacing: 1px;
	width: 100%;
	outline: none !important;
	border-radius: 0;
	box-shadow: none !important;
}
input.form-control.add-form {
	padding-left: 14px !important;
	position: relative;
	background-image: url(../images/v.png) !important;
	background-repeat: no-repeat !important;
	background-position-x: right !important;
	background-position-y: 22px !important;
	border-right: 10px solid rgba(0, 0, 0, 0) !important;
}
.main-srch-sub button.btn.btn-default {
	width: 100%;
	background: #c85480;
	height: 60px;
	color: #fff;
	font-size: 20px;
	border-radius: 30px;
	border: none;
	padding-right: 10px;
}
.form-group.form_first::before {
	content: '';
	position: absolute;
	right: 0;
	height: 40px;
	background: #ababab;
	width: 1px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 99;
}
input.form-control.cat-form {
	background-image: url(../images/cat-icon.png) !important;
	background-repeat: no-repeat !important;
	background-position-x: right !important;
	background-position-y: 30px !important;
	border-right: 10px solid rgba(0, 0, 0, 0) !important;
}
.box_headeRight {
	float: right;
	text-align: right;
	padding-top: 18px;
	position: relative;
}
.box_headeRight .box_logSign {
	display: inline-block !important;
	margin-top: 11px;
}
.add_listing {
	display: inline-block;
}
header#main_header_id {
	width: 100%;
	position: relative;
	z-index: 9999;
	border-bottom: 1px solid #dcdcdc;
}
.theame-modal .modal-footer .submitBtn,
a.btn_addListing {
	background: #be2d64;
	color: #fff;
	padding: 10px 15px;
	border-radius: 20px;
	text-shadow: none;
	border: #be2d64;
}
.theame-modal .modal-footer .close-btn {
	background: #000;
	color: #fff;
	border-color: #000;
}
.theame-modal .modal-footer .submitBtn:hover {
	background: #000;
	color: #fff;
}
a.btn_addListing .fa {
	margin-right: 10px;
}
ul.main-nav li a {
	color: #000 !important;
	font-weight: 600;
	padding: 39px 15px;
	font-size: 14px;
	text-transform: uppercase;
}
.box_logSign ul li a {
	border-left: 1px solid #e8e4e4;
}
li.login .f-login ul li a {
	border-color: #be2d64;
}
ul.nav.navbar-nav.main-nav {
	float: none;
	display: inline-block;
	margin: 0px auto 0px 35px;
}
ul.main-nav li a:hover {
	color: #be2d64 !important;
}
.box_logSign ul li a:hover {
	color: #be2d64;
}
.btn_addListing:hover {
	background: #000;
	text-decoration: none;
}
.box_explore {
	background: #fdfdfd;
	border-bottom: 1px solid #c0c1c1;
	padding: 30px 0px 45px;
	margin-bottom: 25px;
}
.header-srch {
	text-align: center;
}
.main-srch-heading h1 {
	font-size: 43px;
	color: #504e4f;
	font-weight: 300;
	margin: 0px 0px 30px;
}
.main-srch-heading h1 span {
	font-weight: 600;
}
.main-srch-heading p {
	font-size: 15px;
	color: #000000;
	letter-spacing: 0.6px;
	margin-bottom: 35px;
}
.navbar-default {
	background-color: rgba(255, 255, 255, 0.76);
	border-bottom: none;
}
nav.menu-header.navi {
	position: fixed;
	background: rgb(255, 255, 255) !important;
	z-index: 99999999;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	visibility: visible !important;
	border-bottom: 1px solid #cacaca;
}
.form-group.form-sub input.add-form {
	border-radius: 30px 0px 0px 30px;
}
.form-group.form-sub input.cat-form {
	border-radius: 0px 30px 30px 0px;
}
.box_logSign ul li ul li {
	width: 100% !important;
}
.navi .box_headeRight {
	padding-top: 10px;
}
.main_cat a {
	border: 1px solid #e8e7e7;
	text-align: center;
	padding: 50px 20px 20px;
	display: inline-block;
	box-shadow: 0px 3px 2px #ccc;
	position: relative;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin: 30px 0px;
	width: 100%;
}
.main_cat a span {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 1px solid #ccc;
	display: block;
	margin: 0px auto 10px;
	line-height: 55px;
	font-size: 18px;
	color: #333;
	position: absolute;
	top: -30px;
	left: 0px;
	right: 0px;
	background: #fff;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}
.main_cat a h4 {
	font-size: 15px;
    color: #262626;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    min-height: 38px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 38px;
}
.main_cat a p {
	color: #262626;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 35px;
    max-height: 35px;
    margin-bottom: 0;
}
.main_cat a:hover span {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	background: #ca3d72;
	color: #fff;
}
.main_cat a:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	box-shadow: 0px 3px 5px #ccc;
}
section.our-work {
	padding: 20px 0 40px;
	background: #fff;
}
.more-guru button.more-list {
	background: #bd5183;
	border: none;
	padding: 12px 25px;
	display: inline-block;
	color: #fff;
	margin: 10px auto 0;
	font-weight: 600;
	font-size: 14px;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}
.more-guru button.more-list:hover {
	background: #000;
	color: #fff;
}
.more-guru {
	text-align: center;
}
.heading-section h2 {
	margin: 45px auto 25px;
	font-size: 34px;
	text-transform: capitalize;
	font-weight: 300;
}
span.yellow {
	font-weight: 600;
}
.heading-section {
	text-align: center;
	margin: 0px auto;
	padding: 0px 0px 35px;
	position: relative;
}
.heading-section:after {
	content: '';
	width: 90px;
	height: 105px;
	bottom: 15px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;/*	background: url(../images/img_map.png) no-repeat;*/
	border-bottom: 1px solid #666;
	background-position: top center;
}
.heading-section:before {
	content: "";
	position: absolute;
	width: 160px;
	height: 1px;
	background: #666666;
	left: 0;
	bottom: 20px;
	right: 0px;
	margin: 0px auto;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
.box_howItWork .main_cat a span {
	width: 100px;
	height: 100px;
	border-radius: 60px;
	border: 1px solid #ccc;
	display: block;
	margin: 0px auto 10px;
	line-height: 65px;
	font-size: 18px;
	color: #333;
	position: absolute;
	top: -50px;
	left: 0px;
	right: 0px;
	background: #fff;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}
.box_howItWork .main_cat a span img {
	margin-top: 15px;
}
.box_howItWork .main_cat a h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0px;
}
.box_howItWork .main_cat a p {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 0;
}
#success_msg span.btn-success.removess {
    margin: 0 auto;
    border-radius: 4px;
    float: left;
    /* margin-top: -15px; */
    position: relative;
    top: -15px;
    left: 35px;
    padding: 5px;
}
div#success_msg {
    text-align:  center;
}
p.sub_hed {
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.3px;
	margin-bottom: 35px;
}
span.btn_pr {
	color: #be2d64;
	font-size: 18px;
	font-weight: 600;
}
a.btn_dis {
	float: right;
	background: #be2d64;
	color: #fff;
	padding: 7px 20px;
	border-radius: 20px;
	margin-top: -5px;
}
.rtin-map {
	margin: 15px -15px -15px;
    padding: 8px;
    border-top: 1px solid #dcdcdc;
}
.rtin-map span .fa {
    margin-right: 0px;
    font-size: 20px;
    color: #b0b0b0;
    position: absolute;
    left: 2px;
    top: 0;
    margin-top: 0;
}
.main-srch-sub button.btn.btn-default:hover {
	background: #000;
	color: #fff;
}
a.navbar-brand {
	padding: 10px 15px;
}
.navbar-brand img {
	max-width: 220px;
	width: 100%;
	transition: all ease-in-out 400ms;
	-webkit-transition: all ease-in-out 400ms;
	-moz-transition: all ease-in-out 400ms;
	-ms-transition: all ease-in-out 400ms;
	-o-transition: all ease-in-out 400ms;
}
.navi ul.main-nav li a {
	padding: 31px 13px;
}
.navi .navbar-brand img {
	max-width: 135px;
}
.navi .sb-search.sb-search-open {
	top: 10px;
}
.navbar-brand {
	height: auto;
}
.box {
	padding: 15px;
	background: #ffffff;
	text-align: center;
	margin-top: 40px;
}
section {
	overflow: hidden;
}
.add-class .heading-section:after {
	background: url(../images/img_treeDark.png) no-repeat;
}
/* Footer */
footer.main_footer {
	background: #fff url(../images/footer_bg.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 15px 0 0;
	position: relative;
	z-index: 999;
}
.f_heading h3 {
	font-size: 20px;
	color: #000;
	font-weight: 600;
	margin: 0 0 30px;
}
.footer-bottom {
	padding: 10px 0px;
	border-top: 1px solid #ccc;
}
ul.listfTop {
	margin-top: 52px !important;
}
.f_middle {
	padding: 10px 0 10px;
	overflow: hidden;
}
.ft_logo img {
	max-width: 130px;
	width: 100%;
}
.working_hours ul {
	padding: 0;
	display: block;
	margin: 0;
	text-align: left;
}
.social-demo ul {
	text-align: right !important;
}
.f_follow.text-center {
	color: #000;
	font-size: 14px;
	letter-spacing: 1.2px;
	text-align: left;
	margin: 9px 0;
}
.working_hours ul li {
	padding: 3px 0;
	margin: 0;
	display: inline-block;
	list-style: none;
}
.copy_left ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.working_hours ul li a {
	color: #000;
	text-decoration: none;
	display: block;
	letter-spacing: 0.8px;
	font-size: 13px;
	padding: 0 10px;
    text-transform: uppercase;
}
.working_hours ul li a:hover {
	color: #be2d64;
}
.footer-add li {
	color: #000;
	padding: 4px 0 8px 30px !important;
	position: relative;
	font-size: 14px;
}
.social-demo ul {
	padding: 0;
	display: block;
	margin: 5px 0 0;;
}
.working_hours ul li i.fa.fa-map-marker {
	font-size: 24px;
}
.social-demo ul li {
	padding: 0 0 !important;
	margin: 0;
	display: inline-block;
	list-style: none;
}
.social-demo ul li a i.fa {
	position: static;
	color: #848383;
}
.social-demo ul li a {
	color: #000;
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 0 10px;
}
.social-demo ul li a:hover {
	color: #ed4749;
}
.footer-add li .fa {
	position: absolute;
	left: 0;
	font-size: 18px;
	top: 8px;
}
.que-form-main input.sub-btn:hover {
	background: #fff;
	color: #1f3345;
	border-color: #1f3345;
}
.social-demo ul li a:hover .fa {
	color: #b6487c !important;
}
.container {
	max-width: 1170px;
	width: 100%;
}
.view {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.drop-menu ul.dropdown-menu {
	padding: 0;
	margin: 0;
}
.drop-menu ul.dropdown-menu li {
	padding: 0;
	margin: 0;
}
.drop-menu ul.dropdown-menu li a {
	padding: 10px;
	font-weight: 600;
	font-size: 12px;
}
.add {
	padding: 15px 10px 15px 50px;
	border-top: solid 1px #e1e2e4;
	position: relative;
}
.add i.fa {
	position: absolute;
	left: 0;
	top: 22px;
	font-size: 30px;
	width: 30px;
	margin-top: 0;
	color: #1f3345;
	text-align: center;
}
.add a {
	color: #000;
	text-decoration: none;
}
.social-demo.contact-page ul li a {
	color: #000;
	width: 44px;
	height: 44px;
	border: solid 2px #1f3345;
	text-align: center;
	line-height: 54px;
	display: inline-block;
	margin: 0 5px 10px;
	border-radius: 50%;
	color: #1f3345;
}
.social-demo.contact-page ul li a:hover {
	background: #5aa938;
	border-color: #5aa938;
	color: #fff;
}
.social-demo.contact-page ul li i.fa {
	position: static;
	font-size: 20px;
	line-height: 40px;
}
.social-demo.contact-page {
	padding: 50px 0 0;
	border-top: solid 1px #e1e2e4;
	text-align: center;
}
.add h4 {
	font-weight: 600;
}
.main-content {
	margin-top: 2px;
	margin-bottom: 2px;
}
.box {
	border-right: 1px solid #c7c7c780;
}
.email_su_icon {
	width: 6%;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-left: 0%;
	margin-top: 7px;
	margin-right: 15px;
}
.email_su_icon .fa {
	font-size: 28px;
	color: #717171;
}
.footer_top {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.email_su_search {
	width: 90%;
	float: right;
	margin: 0px;
	padding: 0px;
}
.email_sub {
	width: 80%;
	float: right;
	margin-top: 0px;
	background: #fff;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.33);
	border-radius: 40px;
	padding: 0 0 0 20px;
}
.email_su_search input[type="text"] {
	width: 84%;
	background: transparent;
	border: 0;
	padding-top: 8px;
	letter-spacing: 1px;
}
.email_su_search button {
	background: transparent;
	border: 0px solid #fff;
	padding: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.email_su_search input[type="text"]::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #00000080;
}
.email_su_search input[type="text"]::-moz-placeholder {
	/* Firefox 19+ */
	color: #00000080;
}
.email_su_search input[type="text"]:-ms-input-placeholder {
	/* IE 10+ */
	color: #00000080;
}
.email_su_search input[type="text"]:-moz-placeholder {
	/* Firefox 18- */
	color: #00000080;
}
.email_su_search button:hover {
	color: #ed4749;
}
.top-navi ul li a:hover {
	background: #fff;
	border: 1px solid #fff;
	color: #ed3f44;
}
.heading-section {
	text-align: center;
	margin: 0px auto 30px;
	padding: 0px 0px 35px;
	position: relative;
}

.heading-section h2 {
	margin: 45px auto 25px;
	font-size: 34px;
	text-transform: capitalize;
	font-weight: 300;
}

.copy_left {
	float: right;
	margin: 0px;
	padding: 0px;
}

.copy_left a {
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	padding-right: 5px;
}

.copy_left ul li {
	float: left;
}

.copy_left a:hover {
	text-decoration: none;
	color: #ed4749;
}

.open > .dropdown-menu {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}

.dropdown-menu {
	opacity: .3;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1, 0);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}

li.dropdown.open ul.dropdown-menu a {
	padding: 12px 15px !important;
}

li.dropdown.open ul.dropdown-menu {
	padding-top: 0px;
}

.rt-course-box {
	margin: 0 0 30px;
	overflow: hidden;
	transition: all .5s ease-out;
	background-color: #fff;
	width: 100%;
	border: 1px solid #dcdcdc;
}
.rt-course-box .rtin-thumbnail {
    position: relative;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.rt-course-box .rtin-thumbnail img {
    width: 100%;
    vertical-align: middle;
    min-height: 150px;
}
.rt-course-box .rtin-thumbnail a {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 3;
	margin: 0 auto;
	text-align: center;
	width: 40px;
	line-height: 40px;
	border: 1px solid #ed3f44;
	border-radius: 50%;
	color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: all .5s ease-out;
}

.rt-course-box .rtin-thumbnail a .fa {
	line-height: 40px;
}

.rt-course-box .rtin-thumbnail .rtin-price {
	background-color: #b6487c;
	top: 0;
	color: #fff;
	font-weight: 500;
	padding: 8px 20px;
	position: absolute;
	left: 0;
	z-index: 5;
	text-transform: uppercase;
}

.rt-course-box .rtin-content {
    padding: 15px;
    position: relative;
}
.rt-course-box .rtin-content .rtin-title {
	margin: 0px 0px 10px 0px;
}
.rt-course-box .rtin-content .rtin-author {
	margin-bottom: 5px;
}
.rt-course-box .rtin-content .rtin-author i {
	color: #fdc800;
	margin-right: 10px;
}
.rt-course-box .rtin-content .rtin-author a {
	color: #646464;
	font-weight: 500;
}
.rt-course-box .rtin-content .profile {
    margin-top: -25px;
    /* z-index: 999; */
}
.rtin-thumbnail:hover img {
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.rt-course-box .rtin-content .rtin-description {
	font-size: 14px;
	line-height: 1.6;
	margin-top: 15px;
	height: 70px;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.rt-course-box .rtin-content .rtin-author a {
    color: #333;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.rt-course-box .rtin-content .rtin-title a {
    color: #504e4f;
    transition: all .3s ease 0s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 19px;
    font-size: 13px;
    height: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
    -moz-line-clamp: 3;
	-moz-box-orient: vertical;
    -ms-line-clamp: 3;
	-ms-box-orient: vertical;
    -o-line-clamp: 3;
	-o-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hvr-bounce-to-right:before, .hvr-bounce-to-bottom:before {
	background-color: #fdc800;
}

.hvr-bounce-to-right:hover {
	color: #fff;
}

.hvr-bounce-to-right:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
}

.rt-course-box .rtin-thumbnail:hover a {
	opacity: 1;
	display: none;
}

.rt-course-box .rtin-thumbnail:before {
	background-color: rgba(0, 33, 71, .6);
}

.rt-course-box .rtin-thumbnail:before {
	background-color: rgba(190, 45, 100, 0.6);
	z-index: 1;
	display: none;
}

.hvr-bounce-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fdc800;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

nav.servic_pagi {
	text-align: center;
}
.col-sm-12.paginat-cus {
    text-align:  center;
    padding-bottom: 20px;
}
nav.servic_pagi {
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid #cccc;
}
nav.servic_pagi.custom_pagination span, nav.servic_pagi.custom_pagination a,
.servic_pagi .pagination>li>a, .servic_pagi .pagination>li>span {
	padding: 0px 12px;
	margin-left: -1px;
	color: #504e4f;
	background-color: #f1f1f1;
	border-radius: 0px !important;
	font-size: 16px;
	min-height: 45px;
	min-width: 45px;
	line-height: 43px;
	display: inline-block;
	border-left: 1px solid #ccc;
}
nav.servic_pagi.custom_pagination span.current,
nav.servic_pagi.custom_pagination span:hover, nav.servic_pagi.custom_pagination a:hover,
nav.servic_pagi.custom_pagination span:focus, nav.servic_pagi.custom_pagination a:focus,
.servic_pagi .pagination>li>a:hover, .servic_pagi .pagination>li>span:hover,
.servic_pagi .pagination>li>a:focus, .servic_pagi .pagination>li>span:focus,
.custom_pagination a.current {
	background: #be2d64 !important;
	color: #fff !important;
}
nav.servic_pagi.custom_pagination a b {
    font-weight:  600;
    padding: 0 8px;
    font-size: 14px;
}
.read-more.paginat-cus {
    display:  block;
    width: 100%;
    overflow:  hidden;
}
.servic_pagi .pagination {
	margin: 5px 0 50px;
}
.servic_pagi .pagination>li>a span .fa {
	line-height: 40px;
	font-size: 22px;
}
ul.pagination li:first-child a {
	border-radius: 40px 0px 0px 40px !important;
}
ul.pagination li:last-child a {
	border-radius: 0px 40px 40px 0px !important;
}

.box_logSign ul li a img {
	width: 20px;
}
.box_logSign ul li:first-child a img {
	width: 16px;
}
.main-listing-sec {
	width: 60%;
	float: left;
	padding: 15px 15px 30px;
	background: #f9f9f9;
}

.image-lis-sub {
	width: 170px;
	height: 210px;
	overflow: hidden;
	float: left;
}

.image-lis-sub img {
	width: 100%;
	min-height: 210px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}

.listing-sub:hover .image-lis-sub img {
	-ms-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.image-txt-sub {
	float: left;
	width: calc(100% - 170px);
	height: 210px;
	background: #fff;
	padding: 45px 20px;
	position: relative;
}
.dsply-num {
    padding: 2px 0 0 0;
    font-size: 13px;
    position: relative;
}
/*.featured-box.grid-system .image-txt-sub h3 {
    background: rgba(0, 0, 0, 0.6);
    color:  #fff;
    padding:  8px;
    width:  auto;
    display:  block;
    margin: 0 -16px 10px;
}
.featured-box.grid-system .img-txt-subhead {
    margin-top: -54px !important;
}*/
.dsply-num button.btn.btn-default {
	border-radius: 40px;
	float: right;
	background: transparent;
	position: absolute;
    right: -8px;
    top: 10px;
}
.dsply-num button.btn.btn-default:hover {
	background: #be2d64;
	border-color: #be2d64;
	color: #fff;
}

.image-txt-sub h3 {
	margin: 0 0 5px 0;
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
p.add-l {
    margin: 0;
    color: #262626;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 18px;
    max-height: 18px;
    margin-bottom: 0;
}
.listing-sub {
	display: block;
    margin-bottom: 8px;
    box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.14);
    margin: 0 10px 20px;
    float: left;
    width: 99%;
    border: 1px solid rgba(204, 204, 204, 0.4);
}
.sub-txt button#av-btn {
	background: #ff8d07;
	border-radius: 0;
	border: none;
	color: #fff;
	padding: 7px 12px;
}
.act-valid-sec label {
	font-weight: 400;
	margin-top: 5px;
}
.act-valid-sec input.form-control {
	border: none;
	background: #f0f0f0;
	box-shadow: none;
}
span.rating-main ul {
	padding: 0;
	margin: 0;
}
button.validate-btn.btn.btn-default {
	background: #ff8d07;
	border-radius: 0;
	color: #fff;
	border: none;
	width: 100%;
	padding: 7px 15px;
}
.mes-opt-two .select-form .form-control {
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	box-shadow: none;
}
.map-main {
	width: 40%;
	position: fixed;
	z-index: 99;
	height: 100%;
	padding-top: 100px;
	right: 0;
	transition: all ease-in-out 400ms;
	top: 0;
}
span.rating-main ul li {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	    color: #000;
}
span.rating-main ul li .fa {
	background: none;
	color: #fcba4a;
	padding: 0;
	margin: 0;
	font-size: 16px;
	width: 15px;
}
span.rating-main {
	display: inline-block;
	vertical-align: middle;
}
.cate-sele select {
	width: 100%;
	border-radius: 50px;
	height: 35px;
	padding: 5px 10px;
	color: #353e48;
	border: 1px solid #ccc;
	background: #fff url(../images/arrow-d.png) no-repeat;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 13px;
	background-size: 14px;
	background-position-x: 95%;
	background-position-y: 10px;
}
.main-srch-form-sec {
	padding: 0 0 15px;
}
span.pro-img {
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 1px #000;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	height: 50px;
	width: 50px;
}
span.pro-img img {
	width: 100%;
	height: 100%;
    min-height: 100%;
}
span.discount-tab {
	background: #be2d64;
	padding: 6px 15px;
	border-radius: 40px;
	color: #fff;
	float: right;
	margin: 9px 0;
}
.profile {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 8px;
	margin-bottom: 8px;
	width: 100%;
	overflow: hidden;
}
span.add-new {
    padding: 13px 45px 0 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.add-new i.fa.fa-map-marker {
	color: #be2d64;
	margin-right: 5px;
}
.lis-grid {
	text-align: right;
}
.main-srch-form-sec .col-md-3 {
	padding: 0 5px;
}
.main-srch-form-sec .row {
	margin: 0 -5px;
}
.lis-grid button.btn {
	background: #fff;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	text-align: center;
	padding: 8px;
	border: 1px solid #ccc;
}
.main-srch-form-sec button.btn.act {
	background: #be2d64;
	color: #fff;
	border-color: #be2d64;
}
.listing-sub.grid-system {
	float: left;
	width: 50%;
	padding: 10px;
	box-shadow: none;
	margin: 0;
	border: none;
	    position: relative;
}
.listing-sub.grid-system .image-lis-sub {
	width: 100%;
	position: relative;
}
.listing-sub.grid-system .image-txt-sub {
	width: 100%;
	height: auto;
	border: 1px solid #dcdcdc;
	padding: 15px; 
}

.deteils-img {
	padding: 15px;
	background: #fff;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}
.right-add div#map_canvas {
    width:  100%;
    margin:  0;
}
.listing-add label.error {
    position:  absolute;
    left: 20px;
    width:  100%;
    bottom:  0;
    text-align:  left;
}
label.error:after {
    display:  none;
}
.uploader-first .upload-sec label.error {
    left: 10px;
    padding: 0;
}
.temp-details p {
	font-size: 14px;
	line-height: 25px;
	color: #777777;
}
.deteils-img li.clone {
	max-height: 350px !important;
	overflow: hidden !important;
}
.deteils-img li.lslide {
	max-height: 350px;
	overflow: hidden;
}
ul.lSGallery li a {
	padding: 2px;
	display: block;
	border-radius: 0 !important;
	margin-bottom: 0;
	max-height: 80px;
}
ul.lSGallery li a img {
	min-height: 80px;
}
.hotel-info {
	background: #fff;
	padding: 15px;
	box-shadow: 0 1px 2px #c9cccd;
	margin-bottom: 15px;
}
@media screen and (max-width:1000px) {
	.listing-sub.grid-system {
		width: 100%;
	}
}
.bread_out {
	/*position: absolute;*/
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	/*background: rgba(0, 0, 0, 0.6);*/
	padding: 0px 0 0px;
}

.inner_head {
	/*height: 170px;*/
	overflow: hidden;
	position: relative;
/*	background: url(../images/inner-banner.jpg);*/
	background: #fff;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
}
 
.inner_head img {
	width: 100%;
}

.contact-head {
	text-align: center;
}

.contact-head h1 {
	color: #fff;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

#crumbs {
	color: #fff;
}

.contact-head #crumbs a {
	color: #f0c051;
	text-decoration: none;
	display: inline-block;
	padding: 0 8px;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
}

.contact-head #crumbs span {
	display: inline-block;
	padding: 0 8px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.contact-head span {
	font-weight: 600;
}

.header-main .navbar-default {
	border-radius: 0;
	margin: 0;
	border: none;
	background: rgba(0, 0, 0, 0.5);
}

.temp-details {
	padding: 15px;
	border: 1px solid #ccc;
	background: #fff;
}

.dmv-heading h3 {
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
}

.dmv-heading h3:after {
	background: #000;
	height: 3px;
	width: 125px;
	left: 0;
	bottom: -2px;
	content: '';
	position: absolute;
}

.dis-ac span {
	border: 2px solid #fff;
	color: #fff;
	padding: 12px 21px;
	border-radius: 50px;
	font-size: 16px;
}

.dis-ac span {
	border: 2px solid #fff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 50px;
	font-size: 16px;
	display: inline-block;
}

.single-data h2 {
	color: #000;
	margin: 0;
	padding: 10px 0;
	font-size: 28px;
	text-transform: uppercase;
}

.dis-ac {
	overflow: hidden;
}

.single-data {
	color: #fff;
	overflow: hidden;
	padding: 10px 0 20px;
}

.single-data span.rating-main {
	float: left;
	padding: 5px 0;
}

.con-details {
	overflow: hidden;
	width: 100%;
	float: left;
	padding: 10px 0;
}

.con-details ul {
	padding: 0;
	margin: 0;
}

.con-details ul li {
	list-style: none;
	display: inline-block;
	margin-right: 25px;
	font-size: 15px;
	color: #000;
}

.con-details ul li i.fa {
	margin-right: 5px;
}

.right-side-angle ul {
	padding: 0;
	margin: 0;
	text-align: right;
}

.right-side-angle ul li {
	display: inline-block;
	margin-left: 20px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

button.review-btn {
	background: transparent;
	border: 2px solid #fff;
	padding: 10px 20px;
	border-radius: 40px;
}

button.review-btn .fa {
	font-size: 25px;
	margin-top: -4px;
	vertical-align: middle;
	margin-left: 10px;
}

button.review-btn {
	font-size: 16px;
	text-transform: uppercase;
}

.right-side-angle {
	margin-top: 140px;
}

.side-map iframe {
	height: 400px;
	width: 100%;
}

.side-map {
	border: 1px solid #d5d4d4;
	padding: 5px;
}

.right-search {
	padding: 15px;
	margin: 15px 0 0;
	border: 1px solid #d5d4d4;
	overflow: hidden;
}

.input-serch input {
	height: 38px;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #d5d4d4;
}

.input-serch select {
	height: 38px;
	width: 100%;
	margin-bottom: 10px;
	color: #767676;
	padding: 5px 10px;
	border: 1px solid #d5d4d4;
}

.rooms .col-sm-6 {
	padding: 5px;
}

.rooms {
	margin: 0 -5px;
}

.featur-pro ul {
	margin: 0;
	padding: 0;
}
.featur-pro ul li {
	padding: 0 0 10px 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #d5d4d4;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
}
.fre-details h4 {
	color: #6e6e6e;
    margin: 8px 0 0;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 50px;
    max-height: 50px;
}
.featur-pro ul li p {
	margin: 0;
	color: #be2d64;
	font-size: 16px;
	font-weight: 600;
}
.featur-pro ul li:nth-last-child(1) {
	margin: 0;
	padding: 0;
	border: none;
}
.fre-details span {
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    text-transform: capitalize;
}
.featur-pro ul li img {
	float: left;
	margin-right: 10px;
}
.featur-pro {
	padding: 15px;
	border: 1px solid #d5d4d4;
	margin-top: 15px;
}
.pro-img-re {
	height: 80px;
	border-radius: 50%;
	width: 80px;
	overflow: hidden;
}
.pro-img-re img {
	width: 100%;
	height: 100%;
}
.review-containt h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}
.review-containt span.rating-main {
	padding: 10px 0;
	float: left;
	display: block;
	width: 100%;
}
.main-review h2 {
	font-size: 22px;
	margin: 0 0 24px;
	font-weight: 600;
}
.temp-details.review-box {
	padding: 25px;
	margin-top: 15px;
}
.review-containt h2 span {
	font-size: 15px;
	color: #bdbdbd;
	float: right;
	font-weight: 400;
}
.review-containt span.rating-main li {
	color: #757575;
}
.revire-input input {
	width: 100%;
	height: 45px;
	padding: 10px 15px;
	border-radius: 25px;
	border: 1px solid #d5d4d4;
}
.revire-input {
	margin-bottom: 20px;
}
.revire-input textarea {
	width: 100%;
	height: 150px;
	padding: 17px;
	border-radius: 15px;
	border: 1px solid #d5d4d4;
}
span.rating-main {
	margin-bottom: 5px;
}
.sub-btn input {
	padding: 10px 40px;
	border-radius: 30px;
	border: 1px solid #be2d64;
	background: #be2d64;
	color: #fff;
	text-transform: uppercase;
}
button.search {
	position: relative;
	padding: 13px;
	width: 100%;
	background: #be2d64;
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding-right: 60px;
	height: 50px;
}
span.icon-s {
	background: #a11c4f;
	height: 50px;
	width: 50px;
	padding: 14px;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 20px;
}
.data-div {
	padding: 10px 0;
	border-bottom: 1px solid #d5d4d4;
}
.conta-details {
	padding: 15px;
	border: 1px solid #d5d4d4;
	margin-top: 15px;
}
.data-div p {
	font-size: 15px;
	margin: 0;
	color: #626262;
}
.data-div p i.fa {
	margin-right: 5px;
	color: #be2d64;
}
.data-div:nth-child(1) {
	margin: 0;
}
.data-div a {
	color: #be2d64;
	display: inline-block;
	padding: 10px 0 0;
}
.social ul {
	padding: 0;
	margin: 0 0 0 -10px;
}
.social ul li {
	display: inline-block;
}
.social ul li a {
	padding: 10px 10px 0 10px;
	display: block;
	font-size: 18px;
}
.fa-facebook {
/*	color: #3b5999;*/
}
.fa-instagram {
	color: #e54a68;
}
.fa-twitter {
	color: #2ca7e0;
}
.fa-youtube-play {
	color: #e02f2f;
}
.fa-linkedin {
	color: #0178b5;
}
.range_slide {
	padding: 15px 0 0;
	display: block;
	height: 45px;
	width: 100%;
	clear: both;
}
.range_slide .asRange {
	width: 100%;
}
.sub-btn input:hover {
	background: #000;
	border-color: #000;
}
button.search:hover {
	background: #000;
}
.add-img img {
	width: 100%;
}
.add-img {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
	margin: 10px 0px 20px;
}
button.load-more {
	background: #be2d64;
	color: #fff;
	padding: 10px 25px;
	border-radius: 20px;
	text-shadow: none;
	border: none;
	margin: 0 auto;
	text-transform: uppercase;
}
.more-view-list {
	text-align: center;
}
button.load-more:hover {
	background: #000;
}

.main-add .col-sm-6 {
	padding: 0 10px;
}

.main-add .add-img {
	margin: 10px 0;
}

.login-page {
	background: #fff;
	padding: 50px 0;
	text-align: center;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

/*.form-box {
	padding: 30px;
	border: 1px solid rgba(144, 144, 144, 0.3);
	max-width: 900px;
	margin: 0 auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}*/
.form-box {
    padding: 0px;
    border: 1px solid rgba(144, 144, 144, 0.3);
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.form-box form {
    padding: 30px;
}
/*.form-box h2 {
	color: #504e4f;
	margin: 0 0 30px;
	font-weight: 600;
	font-size: 33px;
}*/

.form-box h2 {
    color: #ffffff;
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 30px;
    padding: 30px;
    padding-bottom: 15px;
    background-color: #be2d64;
    padding-top: 15px;
    text-transform: uppercase;
}
.listing-add input, .f-login input {
	width: 100%;
	padding: 8px 15px;
	height: 40px;
	margin-bottom: 18px;
	background: #fff;
	color: #be2d64;
	border: 1px solid rgba(190, 45, 100, 0.39);
	border-radius: 40px;
}

.listing-add label, .f-login label {
	text-align: left;
	width: 100%;
	font-size: 13px;
	padding: 0 0 0 5px;
}

.login-drop .submit-login input {
	background: #be2d64;
	border-radius: 40px;
	padding: 6px 25px;
	border: none;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}

.login ul.dropdown-menu {
	min-width: 260px;
	top: 50px;
	border-radius: 0;
}

.login-drop {
	padding: 10px;
}

.login-drop input {
	background: transparent;
	color: #fff;
	border-radius: 40px;
	margin: 0 0 15px;
	border: 1px solid #be2d64;
	font-size: 12px;
	height: 33px;
	padding: 5px 15px;
}

.login-drop {
	padding: 10px;
}

.login-drop input {
	background: transparent;
	color: #be2d64;
	border-radius: 40px;
	margin: 0 0 24px;
	border: 1px solid rgba(190, 45, 100, 0.39);
	font-size: 12px;
	height: 33px;
	padding: 5px 15px;
}

li.login .f-login ul li a {
	font-size: 11px;
	padding: 0 8px !important;
}

li.login .f-login ul li {
	float: left;
	width: auto !important;
}

li.login .f-login ul {
	text-align: center;
	overflow: hidden;
	display: inline-block;
	margin: 0 auto;
	    margin-top: 10px;
}
li.login .f-login ul li:nth-child(1) a, .box_logSign ul li:nth-child(1) a {
	border-left: none !important;
}
.f-login {
	text-align: center;
}
.submit-login {
	margin: 0 auto;
	text-align: center;
}
.login-drop {
	position: absolute;
	left: 0;
	top: 72px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
	width: 280px;
	padding: 20px 20px;
	border: 1px solid rgba(204, 204, 204, 0.73);
	z-index: 99;
}
li.login {
	position: relative;
}
.main-map-sec .rt-course-box {
	margin: 0 0 10px;
}
.main-map-sec .rtin-main-cols.col-md-6 {
	padding: 0 10px;
}
.offer-img img {
	width: 100%;
	margin: 15px 0 0;
}
.navi .login-drop {
	top: 61px;
}
input[type="radio"], input[type="checkbox"] {
	height: auto;
	width: auto;
	display: inline-block;
	margin: 10px 0;
	vertical-align: top;
}
input[type="radio"] + label {
	display: inline-block;
	width: auto;
	vertical-align: top;
	margin: 7px 10px 0 0;
}
.f-login select {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(190, 45, 100, 0.39);
	border-radius: 40px;
	padding: 9px 10px;
	background: #fff url(../images/arrow-d-sel.png) no-repeat;
	box-shadow: none;
	background-size: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-size: 16px;
	background-position-x: 96%;
	background-position-y: 10px;
	margin-bottom: 25px;
}
.submit-login input {
	background: #be2d64;
	color: #fff;
	padding: 10px 25px;
	border-radius: 20px;
	text-shadow: none;
	border: none;
	text-transform: uppercase;
}
.submit-login input:hover {
	background: #000;
}
/***pricing table***/
.wrapper-card {
	display: flex;
	flex-wrap: nowrap;
	margin: 40px auto;
	padding: 0px 0 50px;
}
.card {
	border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    flex: 1;
    margin: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(204, 204, 204, 0.41);
    background: rgba(204, 204, 204, 0.10);
    overflow: hidden;
}
.card.popular {
	margin-top: -10px;
	margin-bottom: -10px;
}
.card.popular .card-title h3 {
	color: #be2d64;
	font-size: 40px;
}
.card.popular {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.card.popular .card-price h1 {
	color: #be2d64;
	font-size: 60px;
}
.card.popular .card-action button {
	background-color: #be2d64;
	border-radius: 80px;
	color: #fff;
	font-size: 14px;
	padding: 15px;
	border-color: #be2d64;
}
.card.popular .card-action button:hover {
	background-color: #000000;
	border-color: #000;
}
.card-ribbon {
	position: absolute;
	overflow: hidden;
	top: -10px;
	left: -10px;
	width: 114px;
	height: 112px;
}
.card-ribbon span {
	position: absolute;
	display: block;
	width: 160px;
	padding: 10px 0;
	background-color: #be2d64;
	box-shadow: 0 5px 5px rgba(190, 45, 100, 0.38);
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	left: -35px;
	top: 25px;
	transform: rotate(-45deg);
}
.card-ribbon::before, .card-ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid #be2d64;
	border-top-color: transparent;
	border-left-color: transparent;
}
.card-ribbon::before {
	top: 0;
	right: 0;
}
.card-ribbon::after {
	bottom: 0;
	left: 0;
}
.card-title h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    padding: 10px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #be2d64;
}
.card-title h4 {
	color: rgba(0, 0, 0, 0.6);
}
.card-price {
	margin: 25px 0;
}
.card-price h1 {
    font-size: 40px;
    position: relative;
    font-weight: bold;
    color: #be2d64;
    margin: 0;
}
.card-price h1 sup {
	font-size: 18px;
    display: inline-block;
    margin: 28px 0 0 -20px;
    width: 10px;
    vertical-align: middle;
    position: absolute;
    font-weight: bold;
    color: #000;
}
.card.current h3 {
    background: #000;
    color: #fff;
}
.current button.curent-lagega {
    background:  #000;
}
.card-price h1 small {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #be2d64;
    font-weight: 600;
}
.card.current {
    border: 1px solid rgba(0, 0, 0, 0.35);
}
.card:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.39);
}
.card-description ul {
	display: block;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
.card-description li {
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;
	margin: 0 0 15px;
}
.card-description li::before {
	font-family: FontAwesome;
	content: "\f00c";
	padding: 0 5px 0 0;
	color: rgba(0, 0, 0, 0.15);
}
.card-action button {
	background: #be2d64;
	border: 2px solid #be2d64;
	border-radius: 30px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px;
	width: 100%;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}
.card-action button:hover {
	background-color: #000000;
	border-color: #000;
}
.box_logSign li.dropdown ul.dropdown-menu {
	padding-top: 0px;
	top: 71px !important;
	left: 0 !important;
}
.owl-buttons .owl-prev, .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	margin-top: -24px !important;
	background: #fff !important;
	border-radius: 0 !important;
	color: #000 !important;
	font-size: 40px !important;
}
div#add-slid {
	position: relative;
}
.owl-buttons .owl-prev {
	left: -10px;
}
div#modalForm {
    padding:  0 !important;
}
.owl-buttons .owl-next {
	right: -10px;
}
ul.social {
	margin: 12px 0 !important;
	display: block;
	text-align: center;
}

ul.social li a {
	border: none;
	font-size: 14px !important;
}

span.feat-ad {
	position: absolute;
	background: #be2d64;
	padding: 7px 12px;
	color: #fff;
	z-index: 999;
}

.dsply-num button.btn.btn-default.like {
	background: #be2d64;
    color: #fff;
    border-color: #be2d64;
}

.navi .box_logSign li.dropdown ul.dropdown-menu {
	top: 61px !important;
}

.main-srch-sub.my-listing-search {
	padding: 5px 12px !important;
}

.main-srch-sub.my-listing-search button.btn.btn-default {
	height: 40px;
	font-size: 14px;
	text-align: center;
	padding: 9px 15px !important;
}

.main-srch-sub.my-listing-search input.form-control {
	height: 40px;
	font-size: 14px;
	text-align: left;
	padding: 9px 15px !important;
}

.row.lis-page-row {
	margin: 0 -10px;
}

.my-listing-search input.form-control.cat-form {
	background-position-y: 18px !important;
}

.lis-grid {
	padding: 16px 5px 0 0;
}

.listing-add {
	width: 100%;
	border: 1px solid rgba(204, 204, 204, 0.49);
	padding: 20px;
	box-shadow: 0 0 10px rgba(204, 204, 204, 0.49);
	margin-bottom: 10px;
}

.listing-add label {
	width: 100%;
	font-size: 13px;
}

.map iframe {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

textarea.te-box {
	width: 100% !important;
	padding: 8px 15px;
	height: 100px !important;
	background: #fff;
	color: #be2d64;
	border: 1px solid rgba(190, 45, 100, 0.39);
	border-radius: 15px;
	margin-bottom: 25px !important;
}

.uploader-first .upload-sec label {
	padding: 10px 0;
	background: transparent;
}

.upload-sec label {
	padding: 132px 0;
	text-align: center;
	background: #ededed;
	width: 100%;
	margin: 0;
	position: relative;
}

.upload-sec label::after {
	position: absolute;
	content: "Add Photo";
	padding: 6px;
	left: 0;
	right: 0;
	margin: -20px 0 0 10px;
	max-width: 82px;
	top: 46%;
	color: #000;
	background: #fff;
	border-radius: 4px;
	height: 36px;
	line-height: 27px;
}


/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .upload-sec label::after   
 { 
	max-width: 94px;
   	top: 50%;
 	line-height: 17px;
    height: auto;
 }
 .users-main input {
     padding: 8px 15px !important;
 }
 
}



.upload-sec span {
	width: 100%;
	font-size: 13px;
	text-align: left;
	width: 100%;
	font-weight: 700;
	padding: 0 0 0 5px;
}

.right-add img {
	width: 100%;
}
.rtin-thumbnail img {
    width: 100%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.right-add {
	padding: 10px;
	border: 1px solid rgba(204, 204, 204, 0.49);
}
/*****/
.dash-link-sub {
	padding: 0px;
	background: #000;
	height: 100vh;
    overflow: auto;
}
.rtin-thumbnail img {
    width:  100%;
}
.dash-link-sub li a:hover, .dash-link-sub li.active a, .dash-link-sub li.active a:focus {
	background: #be2d64;
	color: #fff;
	border-color: #be2d64 !important;
}

.dash-link-sub li a {
	color: #fff;
	border-bottom: 1px solid rgba(204, 204, 204, 0.34);
	padding: 13px 15px;
	font-size: 14px;
}

.pro-img {
	margin: 0 auto;
	max-width: 150px;
	height: 150px;
	border-radius: 100%;
	overflow: hidden;
}

.pro-img img {
	height: 100%;
	width: 100%;
}

.profile-div {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(204, 204, 204, 0.38);
}
.general-info .card-header {
    background: #eaeaea;
}
.faq-left {
	margin-bottom: 30px;
	border: none;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: .25rem;
	padding: 15px;
	text-align: center;
}

.panel-body.panel-bodyy {
	padding: 15px 0;
}

.card-header {
	padding: 20px;
	background: #f9f9f9;
	color: #757575;
	border-radius: .25rem .25rem 0 0;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 15px;
}

.general-info {
	margin-bottom: 30px;
	border: none;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: .25rem;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

.col-md-9.col-sm-8.bg-col {
	padding-left: 0;
}

ul.list_prof {
	list-style: none;
	margin: 15px 0px;
	padding: 0px;
}

.card-block h4 {
	color: #000;
	font-weight: 400;
	margin-top: 0px;
}

.social-profile img.img-fluid {
	width: 100%;
}

.social-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    padding-top: 10px;
    border: 1px solid #ddd;
}

ul.list_prof li {
	margin-bottom: 5px;
}

.f_name {
	padding:0 0 5px !important;
	color: #636363;
	font-weight: 700;
}
.f_nameOne {
	padding:0 0 10px 0;
	height: 30px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
ul.categries-list {
	list-style: none;
	padding: 10px 20px 0px;
	margin: 0px;
	display: inline-block;
}
ul.categries-list li {
	float: left;
	width: 100%;
	margin: 0 0 5px;
	position: relative;
}
ul.categries-list li a {
	float: left;
	width: auto;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	font-family: 'Lato', sans-serif;
	color: #636363;
	padding-left: 20px;
}
.card-header h5 {
	color: #636363;
	font-size: 16px;
	margin: 0px;
	font-weight: 700;
}
.general-info p {
	padding: 0 15px 15px;
	margin: 0;
}
.list_prof li a {
	color: #be2d64;
}
.faq-profile-btn button.faq-profBtn {
	background: #be2d64;
	padding: 6px 10px;
	border: none;
	border-radius: 40px;
	color: #fff;
	margin-top: 10px;
	font-size: 13px;
}
.faq-profile-btn button.faq-profBtn:hover {
	background: #000;
}
/**Enquiry**/
.msg-sub-list {
	display: block;
	width: 100%;
	background: #e0e0e0;
	margin: 0 0;
	overflow: hidden;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.21);
	border: 1px solid transparent;
}
.mes-messages ul li a:hover .msg-sub-list {
    background: #f1f1f1;
    border: 1px solid rgba(204, 204, 204, 0.3);
}
.mes-messages ul li a:nth-last-child(1) {
    margin-bottom: 0;
}
.msg-pro-pic {
	width: 50px;
	height: 50px;
	background: rgba(121, 121, 121, 0.21);
	color: #9b9b9b;
	float: left;
	margin-right: 10px;
}
.enquiry_show div.modal-body {
    padding: 8px;
}
.msg-pro-pic .fa {
	font-size: 20px;
	display: block;
	text-align: center;
	padding: 14px;
	border-bottom: 2px solid #be2d64;
}
.msg-text {
	float: left;
	width: calc(100% - 60px);
	padding: 6px;
	height: 50px;
}
h4.usr-name {
	margin: 0 0 2px;
	font-size: 13px;
	font-weight: bold;
	color: #be2d64;
}
p.msg-show {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #646464;
	margin: 0;
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	white-space: nowrap;
	font-weight: 600;
}
.read h4.usr-name, .read p.msg-show {
	font-weight: normal;
	color: #000;
}
.msg-sub-list.read {
	box-shadow: none;
	background: #eaeaea;
}
span.msg-date {
	display: block;
	text-align: center;
	margin: 7px 0 3px;
	font-size: 12px;
	color: #7f7f7f;
}
.mes-messages {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 3px;
	padding: 15px;
}
span.date {
	float: right;
	font-size: 11px;
	font-weight: 400;
}
.mes-messages ul {
	padding: 0;
	margin: 0;
}
.mes-messages ul li {
	display: block;
}
.mes-messages ul li a {
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
.pagination>li {
	float: left;
}
.mes-messages ul.pagination {
	margin: 15px 0 0 0;
}
.dash-link-sub li a i.fa {
	margin-right: 10px;
}
.read .msg-pro-pic .fa {
	font-size: 20px;
	display: block;
	text-align: center;
	padding: 14px;
	border-bottom: 2px solid #be2d6400;
}
.dash-counter {
	border: none;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 3px;
	padding: 15px;
}
.users-main h2 {
	margin: 0 0 20px;
}
.te-area textarea {
	width: 100% !important;
	padding: 8px 15px;
	height: 100px !important;
	background: #fff;
	color: #be2d64;
	border: 1px solid rgba(190, 45, 100, 0.39);
	border-radius: 15px;
	margin-bottom: 0 !important;
}
.users-main input {
	width: 100%;
	padding: 0px 15px;
	height: 40px;
	margin-bottom: 4px;
	background: #fff;
	color: #be2d64;
	border: 1px solid rgba(190, 45, 100, 0.39);
	border-radius: 40px;
}
.users-main label {
	width: 100%;
	font-size: 13px;
	padding: 0 0 0 5px;
}
.sbt-btn input {
	margin: 30px 0 0;
	max-width: 150px;
	background: #be2d64;
	color: #fff;
}
.sbt-btn input:hover {
	background: #000;
	color: #fff;
	border-color: #000;
}
input.btn.btn-default.up_but {
	margin: 0;
}
.users-main .upload-sec label::after {
	margin: -29px 0 0 10px;
}
h4.hed_form {
	font-weight: 600;
}
.f_nameOne a {
	color: #be2d64;
}
.my-add-tab img {
	width: 100%;
	min-height: 196px;
}
span.exp {
	background: #d81407;
	padding: 5px 15px;
	color: #fff;
	border-radius: 20px;
}
span.exp i.fa {
	margin-right: 5px;
}
.inner-tab-bar li {
	display: inline-block;
}
.inner-tab-bar li a {
	color: #fff;
	border-radius: 0;
	padding: 10px 25px;
	font-weight: 600;
}
.inner-tab-bar li a:hover, .inner-tab-bar li a:focus, .inner-tab-bar li.active a {
	background: #be2d64;
}
.inactive, .inactive:focus, .inactive:hover {
	background: #000000 !important;
	color: #fff;
	cursor: inherit;
	border: none;
}
.my-add-tab .panel-heading.inner-tab-bar {
	padding: 0;
}
.my-add-tab .panel-body {
	padding: 20px 0 0;
}
.my-add-tab .listing-sub.grid-system {
	width: 33.33%;
	padding: 10px;
}
.my-add-tab span.add-new {
	padding: 6px 0 0 0;
	display: inline-block;
	max-width: 154px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sub-btn button.form-btn {
    background: #be2d64;
    color:  #fff;
    padding:  10px 15px;
    border: none;
    border-radius:  60px;
    letter-spacing: 0.8px;
}
.my-add-tab .rtin-main-cols.col-md-4 {
	padding: 10px;
}

.my-add-tab .row {
	margin: 0 -10px;
}

.my-add-tab .panel {
	margin: 0;
	border-bottom: none;
	box-shadow: none;
}

.my-add-tab .rt-course-box {
	margin: 0;
}

.inner-tab-bar ul.nav {
	background: #000;
}

span.error {
	width: 100%;
	text-align: left;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	left: 22px;
	font-size: 12px;
	color: #be2d63;
}

label.error {
	font-size: 12px;
    color: #be2d63;
    font-weight: 400;
}

.f-login {
	position: relative;
}

.f-login label.error {
	width: 100%;
	text-align: left;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	left: 0;
	font-size: 12px;
	color: #be2d63;
	font-weight: 500;
	margin: 0;
}

.form-box.log-in-form {
	max-width: 480px;
}

.form-box.log-in-form {
	max-width: 480px;
}

.log-in-form ul {
	padding: 0;
	margin: 20px 0 !important;
}

.log-in-form ul li {
	display: inline-block;
}

.log-in-form ul li a {
	padding: 0 10px 0;
	color: #be2d64;
	display: block;
}

ul.log-rag li {
	position: relative;
}

ul.log-rag li:after {
	position: absolute;
	content: '|';
	right: -5px;
	top: -2px;
	font-size: 16px;
	color: #be2d64;
	font-weight: bold;
}

ul.log-rag li:nth-last-child(1)::after {
	display: none;
}

.log-in {
    padding: 50px 0;
    min-height: 85vh;
    /* min-height: 650px; */
}

.log-in-form .alert {
    padding: 10px 15px;
    border-radius: 20px;
    display: table;
    width: 88%;
    margin: 0 auto;
}

.more-view-list {
	float: left;
	width: 100%;
	padding: 10px 0;
}

.main-add {
	float: left;
	width: 100%;
}

#infobar {
	width: 500px;
	height: 200px;
	border: 1px solid #333;
	overflow-y: scroll;
}

.content {
	width: 100%;
}

.content div {
	color: blue;
	opacity: 0.5;
}

.content div span {
	color: #666;
}

.info {
	margin-top: 10px;
}

.example {
	background-color: #F8F8F8;
}

.submit {
	margin-top: 20px;
}

.upload-sec input.multiple_input {
	margin: 0 0 10px;
}

button.add-more-img {
	background: #bd2c63;
	padding: 9px 15px;
	border: none;
	border-radius: 30px;
	color: #fff;
	position: absolute;
	top: 26px;
	right: 15px;
}

button.add-more-img.label-more {
	top: 24px;
}

@media (min-width:768px) and (max-width:992px) {
.working_hours .col-sm-9 {
    width: 100%;
    margin-bottom: 15px;
}
.form-group.form-sub input.form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    outline: none !important;
    box-shadow: none !important;
}
.form-group.form-sub select {
    height: 51px;
    border-radius: 0 35px 35px 0;
    font-size: 16px;
    letter-spacing: 1px;
}
.main-srch-sub button.btn.btn-default {
    width: 100%;
    background: #c85480;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding-right: 10px;
}
.main-srch-sub .form-group {
    margin: 0;
    height: 50px;
}
}

@media only screen and (max-width:720px) {
	#mobile {
		padding: 20px 0;
	}

}

#infobar {
	width: 500px;
	height: 200px;
	border: 1px solid #333;
	overflow-y: scroll;
}

.content {
	width: 100%;
}

.content div {
	color: blue;
	opacity: 0.5;
}

.content div span {
	color: #666;
}

.info {
	margin-top: 10px;
}

.example {
	background-color: #F8F8F8;
}

.submit {
	margin-top: 20px;
}

.img-hover img {
	width: 100%;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}

.add-imges {
	border: 1px solid #ccc;
	padding: 15px;
	box-shadow: 0 1px 4px rgba(154, 154, 154, 0.35);
	margin-bottom: 20px;
}

li.page-item.active a {
	background: #be2d64;
	color: #fff;
	border-color: #be2d64;
}

.img-hover {
	position: relative;
	overflow: hidden;
}

.img-hover:hover img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
}

.img-hover:after {
	background: rgba(0, 0, 0, 0.4);
	height: 20px;
	width: 20px;
	content: '';
	left: 0;
	right: 0;
	bottom: 45%;
	top: 45%;
	margin: 0 auto;
	position: absolute;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	opacity: 0;
}

.img-hover:hover:after {
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.page-error h2 {
	margin: 0 0 15px;
	color: #be2d64;
	font-weight: bold;
}

.page-error {
	text-align: center;
}

.page-error p {
	margin: 0;
}
.email_su_search input[type="text"] {
   width: 100%;
   border: 0;
   padding: 15px 55px;
   letter-spacing: 1px;
   background: #fff;
   box-shadow: 0 0px 3px rgba(0, 0, 0, 0.33);
   border-radius: 40px;
   margin: 3px 1px;
}
.email_su_icon {
	position: absolute;
    left: 18px;
    padding: 0px;
    margin: 0;
    top: 13px;
}
.search-container {
   position: relative;
   padding-bottom: 00px;
}
div#success_msg {
   position: absolute;
   bottom: 0;
   color: #f10;
   font-size: 12px;
   left: 20px;
   width: 100%;
}
section.email_sub {
   width:  100%;
   padding:  00;
   border-radius:  0;
    overflow: visible;
   box-shadow:  none;
}
.email_su_search button {
    background: transparent;
    border: 0px solid #fff;
    padding: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
}
.search-container label.error {
   position:  absolute;
   left: 19px;
   bottom: -20px;
   width:  100%;
   font-size:  12px;
   font-weight: 400;
}
.profile .btn-default.inactive {
    border-radius:  23px;
    float:  right;
    margin: 10px 0 0;
}
.input-field textarea.text-com {
	padding: 8px 15px;
}
.deteils-img li.lslide img {
	width: 100%;
	/*object-fit: contain;
    min-width: 100%;
    max-height: 360px;*/
}
div#map {
    margin-top: 0 !important;
}
.btn-success.review-theam, button.btn.enquiry.btn-lg {
    background: #be2d64;
    border: none;
    border-radius:  40px;
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 14px;
	    margin-bottom: 15px;
}
/*.review-div .row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.review-div .row:nth-last-child(1) {
    margin-bottom: -10px;
    border: none;
}*/
button.btn.enquiry.btn-lg {
    margin-top:96px;
}
button.btn.enquiry.btn-lg i.fa {
	margin-right: 5px;
}
.btn-success.review-theam:focus,
button.btn.enquiry.btn-lg:focus,
.btn-success.review-theam:hover,
button.btn.enquiry.btn-lg:hover {
	background: #000;
	color: #fff;
}
.theame-modal .modal-header {
    background: #be2d64;
    color:  #fff;
}
.theame-modal input {
    border-radius: 50px;
    padding: 8px 15px;
    height: 36px;
    outline: none !important;
    border: 1px solid rgba(190, 45, 100, 0.39) !important;
    box-shadow: none !important;
}
.theame-modal textarea {
    border-radius: 16px;
    width:  100% !important;
    height: 100px !important;
    overflow-y: auto;
    outline: none !important;
    border: 1px solid rgba(190, 45, 100, 0.39) !important;
    box-shadow: none !important;
}
.theame-modal .modal-footer button.btn {
    border-radius: 30px;
    padding: 7px 20px;
}
.theame-modal button.close {
    color:  #fff;
    opacity: 1;
}
.login-new-modal .main-content {
    margin:  0;
    background: transparent;
}
.login-new-modal .modal-content {
    background: transparent;
    box-shadow:  none;
    border: none;
}
.login-new-modal .form-box.log-in-form {
    background: #fff;
    max-width: 400px;
}
.login-new-modal .main-content {
    margin:  0;
    background: transparent;
}
.login-new-modal .modal-content {
    background: transparent;
    box-shadow:  none;
    border: none;
}
.login-new-modal .form-box.log-in-form {
    background: #fff;
    max-width: 400px;
}

.login-new-modal button.close {
    background: #be2d64;
    opacity:  1;
    width: 30px;
    height: 30px;
    position:  absolute;
    right:  0;
    z-index:  9999;
    top: -10px;
    color:  #fff;
    border-radius: 50%;
}
.login-new-modal .modal-dialog {
    max-width: 420px;
    width:  100%;
    padding:  0;
    top: 80px;
}
span.glyphicon.glyphicon-star {
    color: #be2d64;
}
.main-srch-sub.my-listing-search select {
    height: 40px;
}
.main-srch-sub.my-listing-search .form-group.form-sub {
    height:  40px;
}
.main-listing-sec {
    min-height: 55vh;
}
div#myRadioGroup {
   text-align:  left;
}
ul.lang-menu li {
   padding: 4px 8px !important;
}
ul.lang-menu {
   padding:  5px 0 !important;
}
ul.lang-menu li:hover {
   color: #be2d64;
   cursor:  pointer;
}
.upload-sec-one label.error {
    font-size: 12px;
    padding: 0 0 0 5px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    left: 5px;
}
.upload-sec-one span {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 13px;
    padding:  0 0 0 9px;
    display:  block;
}
.upload-sec-one label {
	position: relative;
}
.upload-sec-one label:after {
    position: absolute;
    content: "Add Photo";
    padding: 6px 10px;
    left: 0;
    right: 0;
    margin: -29px 0 0 12px;
    max-width: 98px;
    top: 50%;
    color: #000;
    background: #fff;
    border-radius: 4px;
}
section.cancel-sec {
    background: rgba(241, 241, 241, 0.43);
}
.cancel-box {
    background:  #fff;
    max-width:  520px;
    text-align:  center;
    padding: 50px;
    margin:  80px auto;
    border: 1px solid #ece8e8;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
}
.cancel-box h3 {
    margin: 0 0 15px;
}
.cancel-box  p {
    margin:  0;
}
.btn-ok {
    padding:  15px 0 0 0;
}
.btn-ok button {
    padding: 7px 15px;
    border-radius: 35px;
    border: none;
    min-width:  65px;
    background: #be2d64;
    color:  #fff;
    text-transform:  uppercase;
    font-weight:  600;
}
.btn-ok button:hover {
    background: #000;
}
.cancel-box span {
    display:  inline-block;
    margin: 0 auto 10px;
}
.cancel-box span img {
    max-width: 40px;
}
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
button.curent-lagega,
.user-plan .card input[type="submit"] {
    background: #be2d64;
    border: none;
    color: #fff;
    padding: 9px;
    border-radius: 50px;
    min-width: 125px;
}
button.curent-lagega:hover,
.user-plan .card input[type="submit"]:hover {
	background: #000;
}
.rtin-map span {
	width: 100%;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 18px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.form-sub select {
    padding: 6px;
    height: 41px;
    border: none;
    margin: -1px 0 0;
    border-radius:  0;
    vertical-align: top;
}
.enquiry_show .form-box.log-in-form {
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
}
.enquiry_show table.enquiry_table {
    margin:  0;
}
.modal.fade.in {
    background: rgba(0, 0, 0, 0.15);
}









/* --------------------------- */
/* ----- Responsive css ----- */
/* ------------------------- */
@media screen and (max-width:1199px) {
	ul.nav.navbar-nav.main-nav {
		margin: 0px auto 0px 0px;
	}
	ul.main-nav li a {
		padding: 39px 10px;
	}
	.card.popular .card-action button,
	.card-action button {
		font-size: 12px;
	    font-weight: 600;
	    padding: 8px;
	}
	.card-description li {
		font-size: 13px;
	}
	.working_hours ul li a {
		padding: 0 7px;
	}
}
@media screen and (max-width:1080px) {
	ul.main-nav li a {
		font-weight: normal;
	}
	.box_logSign ul li a {
		font-weight: normal;
	    padding: 8px 7px 8px
	}
	a.btn_addListing {
		padding: 10px 15px;
		font-size: 13px;
	}
	a.btn_addListing .fa {
		margin-right: 5px;
	}
	.navbar-brand img {
		max-width: 140px;
	}
	ul.main-nav li a {
		padding: 32px 10px;
	}
	.box_headeRight {
		padding-top: 11px;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
		top: 12px;
	}
	.navi ul.main-nav li a {
		padding: 31px 10px;
	}
	.main-srch-heading h1 {
		font-size: 34px;
		margin: 0px 0px 20px;
	}
	.main-srch-sub button.btn.btn-default {
		font-size: 17px;
	}
	.heading-section h2 {
		font-size: 30px;
	}
	.box_howItWork .main_cat a h4 {
		font-size: 18px;
	}
	.box_howItWork .main_cat a p {
		font-size: 14px;
	}
	.rt-course-box .rtin-content .rtin-title {
		font-size: 17px;
	}
	.rt-course-box .rtin-content .rtin-author {
		font-size: 14px;
	}
	span.btn_pr {
		font-size: 16px;
	}
	a.btn_dis {
		font-size: 13px;
	}
	.heading-section h2 {
		font-size: 28px;
	}
	.email_su_search {
		width: 88%;
		float: right;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
		top: 12px !important;
	}
}
@media screen and (max-width:991px) {
	.container {
		width: 100% !important;
	}
	.rt-course-box .rtin-thumbnail {
		text-align: center;
	}
	.box_logSign ul li a img {
		width: 16px;
	}
	.box_logSign ul li:first-child a img {
		width: 14px;
	}
	.sb-search {
		min-width: 35px !important;
	}
	.sb-icon-search {
		width: 30px !important;
	}
	.sb-search-submit {
		width: 30px !important;
	}
	.sb-search-open .sb-icon-search {
		width: 60px !important;
	}
	.f_heading h3 {
		font-size: 18px;
	}
	.card.popular .card-price h1 {
	    font-size: 46px;
	}
	.card.popular .card-title h3 {
	    font-size: 30px;
	}
	.card.popular {
	    box-shadow: none;
	}
	.wrapper-card {
	    display: block;
	    flex-wrap: inherit;
	    margin: 0 auto;
	    padding: 20px 0;
	    overflow: hidden;
	}
	.card {
	    flex: 1;
	    margin: 0 3% 20px;
	    width: 44%;
	    float: left;
	}
	.card.popular {
	    margin-top: 0;
	    margin-bottom: 20px;
	}
	.rt-course-box .rtin-thumbnail {
	    max-height: 100%;
	}
	.social-demo ul li a {
	    padding: 10px 7px;
	}
	.working_hours ul li a {
		padding: 0 6px;
		font-size: 12px;
	}
}
@media screen and (max-width:920px) {
	ul.main-nav li a {
		padding: 29px 5px;
		text-transform: capitalize;
		font-size: 13px;
	}
	.box_logSign ul li a {
		font-size: 13px;
		text-transform: capitalize;
		padding: 8px 8px;
	}
	a.btn_addListing {
		padding: 8px 10px;
		font-size: 12px;
	}
	.navbar-brand img {
		max-width: 120px;
	}
	a.navbar-brand {
		padding: 11px 10px;
	}
	.navi ul.main-nav li a {
		padding: 28px 5px !important;
	}
	.navi .navbar-brand img {
		max-width: 120px;
	}
	.sb-search.sb-search-open {
		top: 8px !important;
	}
	.sb-search-input {
		font-size: 14px;
	}
}
@media screen and (max-width:767px) {
	.navi .sb-search.sb-search-open {
		top: 10px !important;
	}
	a.btn_addListing {
	    display: inline-block;
	    margin-bottom: 15px;
	}
	.sb-icon-search {
		padding-top: 15px !important;
	}
	.add_listing {
	    display: block;
	    overflow: hidden;
	    width: 100%;
	}
	.details .col-sm-6.col-md-3 {
		width: 50%;
		float: left;
	}
	.box_howItWork .col-sm-6.col-md-4 {
		width: 80%;
		margin: 10px auto;
	}
	.rtin-main-cols {
		width: 50%;
	}
	.navbar-default .navbar-toggle {
		border-color: #c85480;
		background: #c85480;
		margin-top: 20px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #c85480;
	}
	ul.nav.navbar-nav.main-nav {
		margin: 0px auto 0px 0px;
		width: 100%;
	}
	.navi ul.main-nav li a {
		padding: 8px 5px !important;
		text-align: left;
	}
	ul.main-nav li a {
		padding: 8px 5px !important;
		border-bottom: 1px solid #e7e7e7;
		text-align: left;
	}
	ul.main-nav li a:hover {
		border-bottom: 1px solid #c85480;
	}
	.box_headeRight {
		float: left;
		text-align: left;
		padding-top: 0;
		position: relative;
		width: 100%;
	}
	.navi .box_headeRight {
		padding-top: 0px;
	}
	.sb-icon-search {
		padding-top: 10px;
	}
	.sb-icon-search, .sb-search-submit {
		height: 45px !important;
	}
	.sb-search.sb-search-open {
		top: 20px !important;
	}
	.box_headeRight .box_logSign {
		display: block !important;
    	margin: 0 0 10px !important;
	}
	.sb-search {
		height: 45px !important;
	}
	.box_logSign ul li {
		display: block;
	    border-bottom: 1px solid #e7e7e7;
	}
	.box_logSign li.dropdown.open ul.dropdown-menu {
	    display:  block;
	}
	.box_logSign li.dropdown ul.dropdown-menu {
	    padding-top: 0px;
	    top: 0 !important;
	    left: 0 !important;
	    position: static;
	    background: transparent;
	    box-shadow: none;
	    border: none;
	    width: 100%;
	    transform: inherit;
	    display: none;
	}
	.right-side-angle ul li {
		margin-left: 0;
		margin-right: 0;
	}
	.right-side-angle ul {
		text-align: left;
	}
	.box_logSign ul li a {
	    font-size: 13px;
	    text-transform: capitalize;
	    padding: 10px 0;
	    border: none;
	}
	.navbar-collapse.in {
	    overflow: inherit;
	}
	.sb-search-input {
		height: 45px !important;
		padding: 10px 65px 10px 20px !important;
	}
	.sb-icon-search, .sb-search-submit {
		height: 45px !important;
	}
	.sb-icon-search {
		padding-top: 14px !important;
	}
	.main-srch-sub.my-listing-search {
		border-radius: 40px;
		padding: 15px 30px !important;
	}
	.main-srch-sub .col-sm-6.col-md-6 {
		width: 50%;
		float: left;
	}
	.main-srch-sub .col-sm-4.col-md-4 {
		width: 50%;
		float: right;
	}
	.pulir.pull-right {
	    float: left !important;
	}
	.main-srch-sub .col-md-2 {
		padding-left: 0px;
		margin-top: 10px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.main-srch-sub button.btn.btn-default {
		width: 260px;
	}
	.email_sub {
		width: 100%;
	}
	.footer_top .row > div {
		width: 100%;
		float: left;
	}
	.footer_top .ft_logo {
	    text-align: center;
	    margin-bottom: 10px;
	}
	.email_su_search {
	    float: none;
	    margin: 0 auto;
	}
	.email_su_icon {
		margin-top: 0px;
	}
	.f_heading h3 {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	.working_hours .col-sm-6 .col-sm-3 {
		width: 25%;
		float: left;
	}
	.footer-bottom .col-sm-6 {
		width: 50%;
		float: left;
	}
	.sb-search-open .sb-icon-search {
		padding-top: 8px !important;
	}
	.working_hours ul,
	.social-demo ul {
	    text-align: center !important;
	}
	.map-main {
		width: 100%;
		position: static;
		height: 300px !important;
		overflow: hidden;
	}
	.col-md-9.col-sm-8.bg-col {
		padding:0 15px !important; 
	}
	.main-listing-sec {
		width: 100%;
		float: left; 
	}

	.dash-board-inner .dash-link-sub li {
    	width:  100%;
    }
	.dash-link-sub li {
    	width:  auto;
	    display: inline-block;
	    float:  left;
	}
	.dash-link-sub ul {
	    border-bottom: 1px solid #ccc;
	}
	.dash-link-sub {
	    height:  auto !important;
	}
	.dash-link-sub li a {
	    border-bottom: none;
	    border-right: 1px solid #ccc;
	}
	section.our-work {
	    padding: 20px 0;
	}
	.heading-section {
		margin: 0px auto 30px;
	}
	.image-lis-sub {
		height: auto;
	}
	.who_we .col-sm-6 {
		display: block !important;
	}
	.co-info {
		margin-bottom: 20px;
	}
	section.contact-information {
		padding: 0 !important;
	}
	.main-srch-sub {
	    padding: 20px 30px !important;
	}
	.pro-img-re {
	    margin-bottom: 15px;
	}
	.bread_out {
		padding: 20px 0;
	}
	.right-side-angle {
	    margin-top: 0;
	}
	.single-data h2 {
		font-size: 28px;
	}
	span.rating-main {
	    margin-bottom: 0;
	}
	.add-img {
		margin: 0 0px 25px;
	}
	.form-box {
		padding: 20px 7px;
	}
	li.login .f-login ul {
	    display: block;
	}
	li.login .f-login ul li {
	    float: none;
	    display: inline-block;
	    border-bottom: none;
	}
	.login-drop {
	    max-width: 320px;
	    padding: 20px 20px;
	    right: 0;
	    margin: 0 auto;
	    width: 100%;
	}
	button.btn.enquiry.btn-lg {
		margin-top: 0px;
	}
	.dropdown-backdrop {
		position: static;
	}
	.box_logSign li.dropdown.open ul.dropdown-menu li {
	    padding-left: 25px !important;
	}
}
@media screen and (max-width:720px) {
	#mobile {
		padding: 20px 0;
	}
}
@media screen and (max-width: 600px) {
	.footer-bottom .col-sm-6 {
		width: 100%;
		text-align: center;
	}
	.f_follow.text-center {
		text-align: center;
		margin-bottom: 15px;
	}
	.copy_left {
		float: left;
		width: 100%;
	}
	.copy_left ul {
		display: inline-block;
	}
	.con-details ul li {
	    width: 100%;
	    margin-bottom: 5px;
	}
}
@media screen and (max-width:480px) {
	.main-srch-sub .col-sm-6.col-md-6 {
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	.main-srch-sub .col-sm-4.col-md-4 {
		width: 100%;
		float: left;
	}
	.form-group.form-sub input.add-form {
		border-radius: 30px;
	}
	.form-group.form-sub input.cat-form {
		border-radius: 30px;
	}
	.form-group.form_first::before {
		width: 0px;
	}
	.details .col-sm-6.col-md-3 {
		width: 100%;
		float: left;
	}
	nav.servic_pagi.custom_pagination span,
	nav.servic_pagi.custom_pagination a,
	.servic_pagi .pagination>li>a,
	.servic_pagi .pagination>li>span {
	    padding: 0px 0;
	    margin-left: -1px;
	    color: #504e4f;
	    background-color: #f1f1f1;
	    border-radius: 0px !important;
	    font-size: 14px;
	    min-height: 30px;
	    min-width: 25px;
	    line-height: 30px;
	    display: inline-block;
	    border-left: 1px solid #ccc;
	}
	.box_howItWork .col-sm-6.col-md-4 {
		width: 90%;
	}
	.rtin-main-cols {
		width: 100%;
	}
	.footer_top .col-md-6.col-sm-6 {
		width: 100%;
		float: left;
		text-align: center;
	}
	ul.listfTop {
		margin-top: 65px !important;
	}
	.form-group.form-sub input.form-control {
		height: 45px;
	    font-size: 14px;
	    padding: 10px 15px !important;
	    text-align: left;
	}
	.main-srch-sub button.btn.btn-default {
		width: 100%;
		height: 45px;
	}
	input.form-control.cat-form {
		background-position-y: 20px !important;
	}
	.main-srch-heading h1 {
		font-size: 28px;
		margin: 0px 0px 15px;
	}
	.main-srch-heading p {
		font-size: 14px;
		margin-bottom: 25px;
	}
	.heading-section h2 {
		font-size: 24px;
	}
	.card {
	    margin: 0 0 20px;
	    width: 100%;
	    float: left;
	}
	.email_su_search {
	    width: 96%;
	    float: none;
	    margin: 0 auto;
	}
	.box_logSign ul li a {
		padding: 8px;
	}
	.featured-box.listing-sub {
	    width: 100%;
	    margin: 0 0 20px;
	    padding: 10px;
	    border: solid 1px #ddd;
	}
	.image-lis-sub {
		width: 100%;
	}
	.image-txt-sub {
	    width: 100%;
	    height: auto;
	    padding: 15px 0;
	}
	.dsply-num button.btn.btn-default {
		right: 0;
	}
	.listing-sub.grid-system .image-txt-sub {
		border: 0;
	}
	.form-group.form-sub select,
	.main-srch-sub .form-group {
		height: 40px;
	}
	.form-group.form-sub select {
		border-radius: 35px;
	}
	.main-srch-sub.my-listing-search {
		padding: 15px 20px;
	}
}
@media screen and (max-width:400px) {
	.box_headeRight .box_logSign {
		margin-bottom: 15px !important;
		width: 100%;
		text-align: left;
	}
	a.btn_addListing {
		display: block;
	}
	.sb-icon-search {
		padding-top: 0px !important;
	}
	.sb-search.sb-search-open {
		top: inherit !important;
		bottom: 10px;
	}
	.navi .sb-search.sb-search-open {
		top: inherit !important;
		bottom: 10px;
	}
	.working_hours .col-sm-6 .col-sm-3 {
		width: 100%;
		float: left;
	}
	ul.listfTop {
		margin-top: 15px !important;
	}
	.login-drop {
	    position: absolute;
	    left: 0;
	    top: 72px;
	    background: #fff;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
	    width: 267px;
	    padding: 20px 20px;
	    border: 1px solid rgba(204, 204, 204, 0.73);
	    right: 0;
	    margin: 0 auto;
	    z-index: 9;
	}	
}

.rtin-map-hover {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 9;
}
.rtin-map-hover button {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 20px;
    color: #b6487c;
    z-index: 999;
}
.rtin-map-hover button:hover {
    color: #000;
}
div#myModal {
    z-index: 9999;
    padding-top: 4%;
}
div#myModal .modal-header {
	background-color: #be2d64;
}

div#myModal .modal-header h4 {
    color: #fff;
}

div#myModal .modal-footer button.closebtn {
    background-color: #be2d64;
    color: #fff;
}
body.bfix .map-main {
    padding-top: 80px;
}
.map-main div#map {
    box-shadow: -4px 1px 7px #ccc;
}
.myRadioGroup-box {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding-bottom: 0;
    margin-top: -1px;
}
div#myRadioGroup span {
    float: left;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 10px;
} 
.card-description {
    min-height: 56px;
} 

.card-price .price-box h1 sup {
    font-size: 40px;
    display: inline-block;
    margin: 0px;
    width: auto;
    vertical-align: middle;
    position: relative;
    font-weight: bold;
    color: #424242;
    top: -4px;
    left: 4px;
}
.price-box {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #e6e6e6;
    font-size: 20px;
    font-weight: 800;
    color: #be2d64;
}
.price-box span {
    margin-right: 5px;
}
.pricing-cards .card-title h3 {
    color: #fff;
    font-size: 22px;
    padding: 15px 8px;
    text-transform: uppercase;
}
.pricing-cards .card {
    border: 1px solid #be2d64;
}
.pricing-cards .card.current {
    border: 1px solid #000;
}
div#pricelisting {
    min-height: 450px;
}
.wrapper-card.pricing-cards .card:hover {
    box-shadow: 2px 2px 2px #737373;
}



.viwes-erroe .close-pop {
    display: none;
}
 .form-group.ad-list-imgb {
    float: left;
    width: 100%;
        margin-bottom: 0;
}
.form-group.ad-list-imgb span {
    font-size: 12px;
    margin-left: 7px;
} 
.business-img-sec {
    float: left;
    width: 50%;
    border: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}
.business-img-sec img {
    width: 100%;
}
.business-img-sec2 {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}
.business-img-sec2 img {
    width: 100%;
}
.imgp-prwv-box {
    float: left;
    width: 100%;
    /* padding: 15px; */
    border: 1px solid #ddd;
    margin-bottom: 15px;
    background-color: #f5f5f5;
}
.imgp-prwv-box .row {
    width: 32.33%;
    display: inline-block;
    padding: 1%;
    margin: 0;
}
.imgp-prwv-box input.form-control {
    margin-bottom: 0;
}
.imgp-prwv-box .row .form-group.ad-list-imgb {
    margin-bottom: 0px;
}
.prvw-hed h2 {
    font-size: 16px;
    font-weight: 700;
    float: left;
    width: 100%;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-top: 0;
}
.prvw-hed span {
    font-size: 13px;
    font-weight: 700;
}
.listing-add label.upload-reltd-img {
    font-size: 16px;
    padding: 12px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
.upload-sec.uplod-sec-block {
    float: left;
    width: 100%;
    /* padding: 15px; */
    margin-bottom: 15px;
    background-color: #f5f5f5;
}
.upload-sec.uplod-sec-block .imgupload img {
    width: 100%;
}

.uploader-first.all-reletiv-img button.add-more-img.image {
    position: relative;
    float: right;
    right: 0;
    top: 0px;
    font-size: 14px;
    font-weight: 400;
}
.uploader-first.all-reletiv-img span {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    float: left;
}
.imgp-prwv-box input.multiple_input {
    margin-bottom: 15px;
}
.imgp-prwv-box .upload-sec-one label:after {
    top: 33px;
}
.imgp-prwv-box2 {
    margin-bottom: 15px;
}
.imgp-prwv-box2 img {
    width: 100%;
}

.fileupload {
	    float: left;
    width: 100%;
    /* padding: 15px; */
    margin-bottom: 15px;
    background-color: #f5f5f5;
}
.fileupload .imgupload {
    width: 32.33%;
    display: inline-block;
    padding: 1%;
    margin: 0;
}
.fileupload .imgupload img {
    width: 100%;
}
.uplod-prwv-img .imguploadfirst {
    float: left;
    width: 100%;
}
.uplod-prwv-img .imguploadfirst .img-prw-box {
    float: left;
    width: 50%;
    /* border: 1px solid #ddd; */
    margin-top: 15px;
}
.uplod-prwv-img .imguploadfirst .img-prw-box img {
    width: 100%;
}
.uploader-first.all-reletiv-img span {
    float: left;
    width: 100%;
    font-size: 16px;
    padding: 12px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
.add-mor-sub h2 {
    float: left;
    margin: 8px;
    font-size: 16px;
    font-weight: 700;
}
.add-mor-sub p {
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.add-mor-sub {
    float: left;
    width: 100%;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-top: 0;
}
.add-mor-first p {
    margin-bottom: 0px;
    font-size: 12px;
}

.add-mor-first h2 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 10px;
}
.add-mor-first {
    float: left;
    width: 100%;
}
.rrow .row {
    margin: 0px;
}
.rrow .col-md-12.col-sm-12:first-child {
    background-color: #eaeaea;
    padding: 5px;
}
.rrow .col-md-12.col-sm-12>div {
    padding: 0 !important;
    margin: 0;
    height: auto;
}
.rrow .col-md-12.col-sm-12:first-child {
    background-color: #eaeaea;
    padding: 5px;
}    

.rrow .col-md-12.col-sm-12:last-child {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
.general-info .card-header {
    background: #eaeaea;
}
div#myprofile .faq-left {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: .25rem;
    padding: 0px;
    text-align: center;
    padding-top: 10px;
}
div#myprofile .faq-left .card-block {
    padding: 10px 5px;
    background-color: #eaeaea;
}
div#myprofile .faq-left .card-block h4 {
    color: #4e4e4e;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px; 
}
.users-main select {
    width: 100%;
    padding: 8px 15px;
    height: 40px;
    margin-bottom: 0;
    background: #fff;
    color: #be2d64;
    border: 1px solid rgba(190, 45, 100, 0.39);
    border-radius: 40px;
}
.uploaded_img {
    padding: 20px 15px 0 0;
}
#package .user-plan {
    margin-bottom: 10px;
}
.package_had {
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    color: #be2d64;
    margin: 0 0 10px;
    padding: 0 10px 10px;
    border-bottom: solid 1px #be2d64;
}
.category-section {
    padding: 40px 0 0 !important;
}
.cat-head h2 {
    margin: 0 !important;
}
.listing-sub.grid-system .rtin-map-hover button {
    padding: 6px 2px;
    width: 30px;
    border: none;
    background-color: #be2d64;
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
    z-index: 999;
    text-align: center;
}
.pagke_msg {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
    padding: 0 0 0 10px;
    margin-bottom: 28px
}
.form-group.form-sub select {
    background: #fff url(../images/down_new.png) no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-size: 20px;
    background-position: 95%;
    font-size: 14px;
    letter-spacing: 0px;
}
.form-group.form-sub select::-ms-expand {
    display: none;
}
.my-listing-search .form-group.form-sub select {
    background-size: 15px;
}
.add-imges .img-hover {
    height: 220px;
}
.add-imges .img-hover img {
    min-height: 220px;
}

@media screen and (max-width:767px) {
.add-imges .img-hover {
    height: 160px;
}
.add-imges .img-hover img {
    min-height: 160px;
}
}

@media screen and (max-width:480px) {
.add-imges .img-hover {
    height: 110px;
}
.add-imges .img-hover img {
    min-height: 110px;
}
}

@media(min-width:992px) and (max-width:1199px)
{
	.working_hours ul li a
	{
		font-size: 12px;
	}
}





.noclass.add_offr_sec select {
    width: 100%;
    padding: 8px 15px;
    height: 40px;
    margin-bottom: 18px;
    background: #fff;
    color: #be2d64;
    border: 1px solid rgba(190, 45, 100, 0.39);
    border-radius: 40px;
    font-weight: 400;
}

.listing-add span {
    float: left;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


.listing-add label.noclass.add_offr_sec {
    padding-left: 0;
}

.listing-add label.uplodfirstimg {
    padding-left: 0;
}

label.noclass.add_serv_sec select {
    width: 100%;
    padding: 8px 15px;
    height: 40px;
    margin-bottom: 18px;
    background: #fff;
    color: #be2d64;
    border: 1px solid rgba(190, 45, 100, 0.39);
    border-radius: 40px;
    font-weight: 400;
}

label.noclass.add_serv_sec {
    padding-left: 0;
}

.listing-add input[type="submit"] {
    margin-top: 0;
}

.listing-add input[type="submit"] {
    margin-top: 0;
}


@media(min-width:320px) and (max-width:767px)
{
	.main-listing-sec {
			min-height: auto;
	}
	.map-main
	{
			padding-top: 0px;	
	}
}



label.noclass.add_serv_sec label#business_id-error {
    font-weight: 400;
}

label.uplodfirstimg .error {
    font-weight: 400;
}

label.noclass.add_offr_sec .error {
    font-weight: 400;
}

.prodct-spnsor i.fa {
    color: #ffffff;
    margin-right: 3px;
}
.prodct-spnsor {
    float: left;
    width: 100%;
    padding: 8px 15px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    /* text-align: center; */
}
.prodct-spnsor a:hover {
    background-color: #000000;
}
.prodct-spnsor a {
    font-size: 12px;
    color: #fff;
    padding: 6px 12px;
    background-color: #be2d64;
    display: table;
    margin: 0 auto;
    border-radius: 15px;
    text-transform: uppercase;
    /* border: 1px solid #fff; */
}



/* 21 june */

.form-box span.error {
    bottom: 0px;
}

.form-box .f-login {
    margin-bottom: 10px;
}

.form-box span.error {
    bottom: -2px;
}






.listing-add input[type="submit"] {
    margin-top: 0;
    margin-bottom: 34px;
}

span.error.err_txt {
    float: left;
    padding: 25px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
}


label.text-danger {
    font-size: 12px;
    color: #be2d63;
    font-weight: 400;
}

.form-control.frm-brdr-no {
    border: none;
    padding: 0;
    height: 60px;
    border-radius: 30px 0px 0px 30px;
    overflow: hidden;
    position: relative;
}

.form-group.form-sub input.form-control {
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 7px;
    font-size: 14px;
    letter-spacing: 0px;
    width: 100%;
    outline: none !important;
    border-radius: 0;
    box-shadow: none !important;
}
.form-group.form_first::before {
    content: '';
    position: absolute;
    right: 7px;
    height: 40px;
    background: #ababab;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}
.form-control.frm-brdr-no:before {
    content: '';
    position: absolute;
    right: 7px;
    height: 40px;
    background: #ababab;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
}
.form-group.form-sub input.add-form {
    border-radius: 0px 0px 0px 0px;
}

.form-control.frm-brdr-no input {
    padding: 10px;
    width: 100%;
    border: none;
    height: 60px;
        padding-left: 24px;
}
form#searching_form .col-sm-3.col-md-3 {
    padding: 0;
}
.img-prw-boxtwo {
    float: left;
    width: 33%;
    margin-bottom: 15px;
}
.img-prw-boxtwo img {
    width: 100%;
}
.uploader-first.ading-afer button.add-more-img.imageoffer {
    top: 41px;
}
.card-action button {
    padding: 9px;
    width: 125px;
    display: table;
    margin: 0 auto;
    font-weight: 500;
    text-transform: capitalize;
}



/* 25 june */


.main-srch-sub.my-listing-search .form-group.form-sub input.form-control
{
    height: 39px;
}

.main-srch-sub.my-listing-search .form-control.frm-brdr-no input {
    height: 39px;
}

.main-srch-sub.my-listing-search .form-control.frm-brdr-no {
    height: 39px;
}


/* 26 june */

.inner_head.offer_sec {
    height: 85px;
}
.about.inner_head.cont_sec .bread_out {
    padding: 6px 0px 7px;
}

.about.inner_head.cont_sec {
    height: 85px;
}

.about.inner_head.cont_sec {
    height: 85px;
}

.about.inner_head.cont_sec .bread_out {
    padding: 6px 0 20px;
}

section.who_we.priv {
    padding-top: 0;
}


.about.inner_head.priv_sec .bread_out {
    padding: 10px 0;
}

.about.inner_head.priv_sec {
    height: 94px;
}

.list_det_logo {
    float: left;
    margin-top: 15px;
    width: 130%;
}


.side-map
{
position:relative;	
}

.map_icon_sec {
    position: absolute;
    background: #000000bd;
    width: 100%;
    bottom: 0;
    padding: 15px;
    color: #fff;
}

.side_map_se {
    position: relative;
}

.map_icon_sec i.fa.fa-map-o {
    padding-right: 8px;
}

.offer-img .item {
    max-height: 350px;
    overflow: hidden;
}

.offer-img .item img {
    max-height: 100%;
}

.col-sm-12.sbt-btn input.back_sec {
    background: #000;
    text-transform: capitalize;
    width: auto;
    min-width: 100px;
    margin-right: 10px;
}
.col-sm-12.sbt-btn input.back_sec:hover {
    background: #be2d64;
    border: 1px solid #bd2c63;
}

.col-sm-12.sbt-btn a.back_sec {
    background: #000;
    text-transform: capitalize;
    width: auto;
    min-width: 100px;
    margin-right: 10px;
    float: left;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 25px;
}

.col-sm-12.sbt-btn a.back_sec:hover {
    background: #be2d64;
/*    border: 1px solid #bd2c63;*/
}

.col-sm-12.sbt-btn a.back_sec i.fa.fa-arrow-left {
    margin-right: 3px;
}

button.btn.fav.enquiryone.enquiry.btn-lg i.fa.fa-heart-o.favlist {
    margin-right: 0;
}

.map_icon_sec a {
    color: #fff;
}
p.sign_txt {
    margin-top: 15px;
}

.wrapper-card.pricing-cards button.curent-lagega {
    margin-bottom: 10px;
}

button.curent-lagega_sec {
    border: none;
    color: #fff;
    padding: 9px;
    border-radius: 50px;
    min-width: 125px;
    margin-bottom: 10px;
    background: #be2d64;
}

.row.back_mBtn {
    margin-top: 40px;
}
.pricing-cards .card button.curent-lagega.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}



@media(min-width:992px) and (max-width:1199px)
{
	.single-data h2
	{
		font-size: 24px;	
	}


}

.main-srch-sub .form-group.form-sub.form_first label.error {
    margin-top: 6px;
    position: relative;
    margin-left: 13px;
}

.form-group.ad-list-imgb.edit_list_add {
    margin-bottom: 5px;
}

.form-group.ad-list-imgb.edit_list_add label.error {
    bottom: -24px;
}

.form-group.ad-list-imgb.edit_list_add_one label.error {
    bottom: -5px;
}



.form-box.log-in-form .error {
    bottom: 0px;
}









@media(min-width:320px) and (max-width:767px)
{
	

.form-control.frm-brdr-no {
    float: left;
    margin-bottom: 5px;
    border-radius: 0;
}

.form-group.form-sub select.form-control.cat-form {
    padding-left: 15px;
    border-radius: 0;
}

.form-group.form-sub {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.form-group.form-sub.form_first {
    float: left;
    margin-bottom: 5px;
    height: 59px;
    width: 100%;
}

.form-control.frm-brdr-no {
    float: left;
    margin-bottom: 5px;
}

.main-srch-sub
{
border-radius: 0;
}

.main-srch-sub .col-sm-4.col-md-4 {
    width: 100%;
    float: left;
}


.form-box form {
    padding:10px 0px;
}

}



.chang_pass
{
	width:100%;
	float:left;
	margin-bottom:3px;
}


.about.inner_head {
    height: 100px;
}
.about.inner_head .bread_out {
    padding: 10px 0px 0px;
}
.about.inner_head p {
    color: #000;
}

ul.nav.navbar-nav.main-nav a.active {
    color: #c85480 !important;
}

.box_logSign a.active {
    color: #be2d64;
}



/* css added by 03 july */


.nearby {
    width: 80%;
    float: right;
    padding-right: 10px!important;
    padding-left: 10px!important;
    padding-top: 10px!important;
}

.lis-grid {
    float: right;
    width: auto!important;
    padding-right: 10px!important;
    /* padding-left: 10px!important; */
    padding-top: 10px!important;
}

.offer_ntabs {
    margin-top: 15px;
}
.offer_ntabs .nav-tabs {
    border-bottom: 2px solid #be2d64;
}
.offer_ntabs .nav-tabs>li {
    margin-bottom: 0;
}
.offer_ntabs .nav-tabs>li>a {
    margin-right: 0;
    border: 0;
    border-radius: 0;
    background: #be2d64;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .7px;
    padding: 10px 25px;
    cursor: pointer !important;
}
.offer_ntabs .nav-tabs>li.active>a, 
.offer_ntabs .nav-tabs>li.active>a:hover,.offer_ntabs .nav-tabs>li.active>a:focus,
.offer_ntabs .nav-tabs>li>a:hover,.offer_ntabs .nav-tabs>li>a:focus{
    color: #fff;
    cursor: default;
    background-color: #000;
    border: 0;
}
.offer_ntabs .tab-content {
    padding: 15px;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: 15px;
}
.offer_ntabs .item img {
    margin: 0px;
}
.offer_ntabs ul.services_list {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow: auto;
}
.offer_ntabs ul.services_list li {
    list-style-type: none;
}
.offer_ntabs ul.services_list li a {
    background: #f1f1f1;
    color: #000;
    display: block;
    padding: 10px;
    font-weight: 600;
    letter-spacing: .7px;
}
.offer_ntabs ul.services_list li:nth-child(even) a {
    background: #e2e2e2;
}
.offer_ntabs .owl-theme .owl-controls {
    margin-top: 0px;
}
.offer_ntabs .owl-pagination {
    display: none;
}

/** feed special **/
span.feat-ad1 {
    position: absolute;
    z-index: 99;
    top: 10px;
    right: 10px;
}
span.feat-ad1 .fa {
    font-size: 24px;
    color: #be2d64;
}
.featured-box.favourt-tabs .image-lis-sub {
    height: auto;
}