/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Global Styles */
body {
    margin-top: 0px;
    background-color: #222;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 40vh 0;
}
.admin-nav ul.dropdown-menu li a.active {
    color: #be2d64;
}

.loader img {
  position: relative;
}
.curs-admin>.navbar-header>a.navbar-brand>img {
    width: 130px;
}
#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
    padding: 0;
}
.th-warn {
    background: #6b0129;
    border: 1px solid #6b0129;
}
.th-wating {
    background: #31b0d5;
    border-color: #31b0d5;
}
.th-danger:focus {}
.huge {
    font-size: 50px;
    line-height: normal;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 235px;
    }
    #page-wrapper {
     	padding: 0;
    	margin: 20px 0;
    }
}
/* Top Navigation */
.navbar {
    min-height: 60px !important;
}
.top-nav {
    padding: 0 15px;
}
.top-nav li {
    display: inline-block;
    float: left;
}
.top-nav li a {
    padding-top: 31px;
    padding-bottom: 31px;
    line-height: 20px;
    color: #999;
}
.top-nav li a:hover,
.top-nav li a:focus,
.top-nav .open a,
.top-nav .open a:hover,
.top-nav .open a:focus {
    color: #fff;
    background-color: #000;
}
.top-nav .open .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav .open .dropdown-menu li a {
    white-space: normal;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}
/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 83px;
        left: 0px;
        width: 235px;
        margin-left: 0px !important;
        border: none;
        border-radius: 0;
        background-color: #000;
        bottom: 0;
        overflow: hidden;
        padding-bottom: 40px;
    }
    .side-nav li a {
        width: 235px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}
.side-nav li ul {
    padding: 0;
}
.side-nav li ul li a {
    display: block;
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    color: #999;
}
.side-nav li ul li a:hover {
    color: #fff;
}
/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
/* Custom Colored Panels */
.huge {
    font-size: 40px;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}
nav.navbar.navbar-inverse.navbar-fixed-top.curs-admin ul.nav.navbar-right.top-nav {
    margin-top: 10px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none !important;
    color: #fff !important;
}
.content-div {
    padding: 80px 0 0;
    display: inline-block;
    width: 100%;
}
.content-div .right_col>div {
	padding: 20px 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px #d8d8d8;
    background: #ffffff;
    display: inline-block;
    width: 100%;
}
.navbar-inverse, .navbar-fixed-top {
    background-color: #000 !important;
    border-color: #000000 !important;
    min-height: 60px !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #be2d64 !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #be2d64;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}
a.navbar-brand {
    height: initial;
    padding: 12px;
}
.dc-sub-ico {
    width: 80px;
    height: 70px;
    background: #ffb53e;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 12px;
    position: absolute;
    left: 0;top: 0;
}
.dc-sub {
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 65px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #d8d8d8;
}
.dc-sub-txt {
    display: inline-block;
    width: 100%;
    padding: 5px 0 0 90px;
    height: 70px;
    border-radius: 65px;
    background: #f3f3f3;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.dc-sub-ico.busi-ico {
    background: #00cad6;
}
body {
    background: #f1f4f7 !important;
}
.dc-sub-txt h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 2px 0 0;
}
.dc-sub-txt p {
    color: #929292;
}
.dc-sub-ico.new-let-ico {
    background: #F44336;
}
.dc-sub-ico.event-ico {
    background: #2196F3;
}
.dash-counter h2 {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 35px;
    color: #636363;
    padding-left: 15px;
    border-left: 2px solid rgba(0, 0, 0, 0.13);
}
.dash-counter {
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 1px 1px 5px #d8d8d8;
    background: #ffffff;
    display: inline-block;
    width: 100%;
}
.import-create.dash-counter .dc-sub-ico {
    background: #f3f3f3;
    color: #b7b7b7;
}
.dc-sub-txt.pu-txt h3 {
    color: #be2d64;
}
.dc-sub-txt.bu-txt h3 {
    color: #00cad6;
}
.dc-sub-txt.nl-txt h3 {
    color: #f44336;
}
.dc-sub-txt.et-txt h3 {
    color: #2196f3;
}
.import-create.dash-counter .dc-sub-txt {
    background: rgba(243, 243, 243, 0.49);
}
.user-table.table-responsive th a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}
.user-table.table-responsive th {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    background: #f1f4f7;
}
.read-more {
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 85px;
    margin-left: 1px;
}
.read-more a {
    display: inline-block;
    padding: 7px 15px;
    background: #e2e2e2;
    border-right: 1px solid #d4d3d3;
    color: #000;
    text-decoration: none;
    border-radius: 0;
    margin: 0 0 !important;
    float: left;
}
.read-more a:nth-last-child(1) {
    border: none;
    border-radius: 0 31px 31px 0;
}
.read-more a.current {
    background: #be2d64;
    color: #ffffff;
    border-right: none;
    font-weight: bold;
}
.read-more a:hover{
    text-decoration: none;
    color: #fff;
    background: #be2d64;
}
.news-let-dash {
    display: inline-block;
    width: 100%;
}
.news-let-dash a.btn.btn-large.btn-primary {
    padding: 6px 15px;
    border-radius: 20px;
    background: #e49434;
    border: none;
}
.link-del-view a:hover {
    color: #000 !important; 
}
.link-del-view a {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: #5f5f5f;
    border-radius: 7px;
    padding: 0px;
}
.link-del-view a:hover{
    color: #fff;
}
.tooltip-2 {
    position: relative;
    display: inline-block;
    margin-right: 2px;
}
.tooltip-2 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    padding: 8px;
    font-size: 10px;
    right: 0;
    white-space: nowrap;
}
.tooltip-2:hover .tooltiptext {
    visibility: visible;
}
.collapse.navbar-collapse.navbar-ex1-collapse a {
    border-bottom: 1px solid #131313;
}
@media screen and (max-width: 1199px){
    .dc-sub-ico {
        width: 50px;
    	padding: 13px 3px;
    }
    .dc-sub-txt {
        padding: 5px 0 0 55px;
    }
}
label.error {
    color: #ff0000;
    font-size: 12px;
}
.admin-nav ul.dropdown-menu {
    position: relative;
    width: 100%;
    background: transparent;
    border-radius: 0;
}
table.table-bordered tr td {
    vertical-align: middle;
}
.link-del-view a i.fa.fa-eye {
    color: #d27403;
}
.link-del-view a i.fa.fa-edit {
    color: #2196F3;
}
.link-del-view .fa-trash-o {
    color: #be2d64;
}
.link-del-view .fa-refresh {
    color: #0260b1;
}
.link-del-view .fa-toggle-on {
    color: #4c9847;
}
.link-del-view a i.fa.fa-toggle-off {
    color: #a70b0b;
}
.link-del-view a i.fa.fa-arrow-up {
    color: #404040;
}
.link-del-view a i.fa.fa-play-circle {
    color: #a17ee4;
}
.dash-counter .btn-div button.btn.btn-default.form-btn {
    background: #ff8b00;
    color: #fff;
    border: 1px solid #ff8b00;
}
.x_content table tr td {
    border: 1px solid #ddd;
    padding: 8px 10px;
}
.x_content table {
    width: 100%;
}
.title_left h3 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 35px;
    color: #636363;
    padding-left: 15px;
    border-left: 2px solid rgba(0, 0, 0, 0.13);  }
}
.x_content table tr:nth-child(even) {
    background: #ccc;
}
.x_content table tr:nth-child(odd) {
    background: rgba(167, 161, 161, 0.24);
}
span.msg-count {
    float: right;
    background: #ffb53e;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    color: #000 !important;
}
li.active a span.msg-count {
    background: #000000;
    color: #fff !important;
}
ul.change-l {
    display: block;
    padding: 0;
    margin: 0;
}
ul.change-l li {
    list-style: none;
    padding: 5px 10px;
    display: block;
}
ul.change-l li a {
    display: inline-block;
    color: #e49436;
    text-decoration: none;
}
.tab-content {
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-top: none;
    padding: 10px 0;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
}
/*.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}*/
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 8px;
    padding: 0;
}
.dropdown-submenu > .dropdown-menu li a {
    color: #6d6d6d;
}
.dropdown-submenu > .dropdown-menu li a:hover {
    color: #fff;
}
.dropdown-submenu.open a.dropdown-toggle {
    color: #fff;
}
.dropdown-submenu a.dropdown-toggle {
    background: transparent;
}
li.dropdown-submenu ul.dropdown-menu li a {
    padding: 7px 7px 7px 25px;
}
li.dropdown-submenu ul.dropdown-menu li a .fa.fa-dot-circle-o {
    font-size: 10px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 4px;
}
.navbar-nav li a {
    padding: 8px 10px;
}
.user-panel .panel-heading {
    background: #be2d64;
    color: #fff;
}
.panel-footer a.btn.btn-sm.btn-info {
    background: #000;
    border-color: #000;
}
.profile_tag {
    max-width: 240px;
    text-align: center;
    max-height: 240px;
    overflow: hidden;
    margin: 0 auto 30px;
}
input.option-name {
    width: 100%;
    padding: 5px;
}
textarea.opetion-describe {
    padding: 5px;
    height: 70px !important;
    width: 100% !important;
}
.add-price table {
    width: 100%;
}
.add-price table td {
    padding: 5px;
}
.add-price table td input {
    padding: 6px;
    width: 100%;
}
button.add-more-popup {
    background: #e49434;
    color: #fff;
    padding: 7px 10px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
}
.add-price-tr .modal-dialog {
    width: 750px;
}
.add-price-tr .modal-body.add-t-row {
    padding: 10px 10px;
}
.add-t-row td {
    padding: 0 5px;
}
.add-t-row table {
    width: 100%;
}
.add-value input:focus {
	outline: none;
	box-shadow: none;
}
.add-value input {
    width: 100%;
    padding: 5px 10px;
    height: 35px;
}
.add-price-tr .modal-header {
    background: #e49434;
    color: #fff;
    border-radius: 6px 6px 0 0;
}
.add-price-tr button.close {
    color: #fff;
    opacity: 1;
}
.add-price-btn button.btn {
    padding: 7px 15px;
    background: #ff8d07;
    border: none;
    font-weight: 500;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 24px;
}
button.addmore_fields.btn {
    margin: 10px 0 0 -9px;
    background: #ff8d07;
    color: #fff;
}
button.btn.close-btn {
    background: #000;
}
.option_view tr td:nth-child(1) {
    white-space: nowrap;
    padding-right: 15px;
}
.toppad .panel.panel-custom.user-panel input.btn-sm#btn_submit {
    background: #be2d64;
    color: #fff;
}
.x_panel input.btn.btn-success,
.x_panel button.btn.btn-success {
	background: #be2d64;
    border-color: #be2d64;
}
.import-create .form-group label {
    padding: 10px 0;
}
.import-create .col-md-3 input {
    padding: 10px 16px;
    border: 1px solid #ccc;
    width: 100%;
}
.btn-danger {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.import-create .col-md-4 input.btn.button-loading {
    background: #e49434;
    border: 1px solid #e49434;
    border-radius: 2px;
    margin: 5px 0;
    outline: none !important;
    box-shadow: none !important;
}
.btn {
    height: 35px;
    border-radius: 30px;
    padding: 7px 20px;
    outline: none !important;
    font-size: 13px;
    min-width: 100px;
    margin: 0 2px;    
}
.btn:hover {
	background: #000 !important;
	border-color: #000 !important;
    color: #fff;
}
.form-group input.form-control, .form-group select.form-control {
	width: 100%;
    padding: 7px 15px;
    height: 35px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px;
}
.form-group textarea.form-control {
    padding: 10px;
    border-radius: 14px;;
    max-height: 60px;
    min-height: 60px;
    width: 100% !important;
    outline: none !important;
    box-shadow: none !important;
}
.th-danger {
    background: #000;
    border-color: #000;
}
.th-primary {
    background: #be2d64;
    border-color: #be2d64;
    border-radius: 30px;
}
.import-create.dash-counter input[type="submit"]:hover {
	background: #000;
    border-color: #000;
}
.import-create.dash-counter a.btn.btn-default {
    margin: 8px 0 0 0;
    width: 100%;
}
.news-let-dash .user-table table {
    margin-bottom: 0;
}
.news-let-dash .user-table.table-responsive {
    margin-bottom: 15px;
}
.single_event ul li {
    padding: 0;
    margin: 0 10px 0 0;
    list-style: none;
    display: inline-block;
}
.single_event ul {
    padding: 0;
    margin: 10px 0 0 0;
    display: block;
}
.mcheckbox {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0px;
    background-color: #f3f3f3;
    display: -webkit-box;
}
.putpriceselection {
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    background-color: #e2e2e2;
    margin-top: 5px;
}
.putpriceselection p {
   margin: 0;
}
.putpriceselection label {
   margin-top: 3px;
}
.pkg_details {
   padding-left: 20px;
}
.dash-counter a {
    display:  block;
    margin-bottom: 25px;
}
.dc-sub a {
    margin:  0;
}
.link-del-view a {
    margin:  0;
}
a.btn {
    margin: 0 2px;
    display: inline-block;
}
.dropdown ul.dropdown-menu {
    margin-left: 8px;
}
.admin-nav ul.dropdown-menu li a.active:hover {
    color:  #fff;
    background: transparent;
}
.toggle-group .btn {
    height: 32px !important;
    min-width:  initial !important;
    box-shadow:  none;
    outline:  none;
    margin: 0 0 !important;
}
.table tr a {
    margin: 0 4px;
    box-shadow: none !important;
    display: inline-block;
}
a.btn.btn-edit {
    background: #de99b3;
    color:  #fff;
    min-width: 70px;
    padding: 5px 10px;
    height:  30px;
}
.toggle-on {
    background: #be2d64;
}
.toggle-off {
    background: #000 !important;
    border-color: #000 !important;
}
.ad-menu .mCSB_container {
    margin-right: 0px !important;
}
.title_left h3 a.btn.btn-default.btn-back {
    float:  right;
}
.btn-back {
    background:  #000;
    color:  #fff;
    border-color: #000;
}
.btn-back:hover {
    color:  #fff;
}
.toggle.btn {
    border-color: #be2d64;
}
.toggle.btn.off {
    border-color: #000;
}
.dropdown-submenu span.caret,
.dropdown span.caret {
    float:  right;
    margin: 8px 12px 0 0;
}
.ad-menu ul.nav li a {
    border-bottom: 1px solid rgba(204, 204, 204, 0.42) !important;
        background-color: #000;
}
.th-sele select {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: url(../img/arrow-d-sel.png) no-repeat;
    box-shadow: none;
    background-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    background-size: 16px;
    background-position-x: 96%;
    background-position-y: 10px;
    margin-top: 10px;
    background-position: right 10px top 10px;
}
.top-nav ul.dropdown-menu li a {
    background: #fff;
    display:  block;
    width:  100%;
    color:  #000;
    padding: 10px;
}
.top-nav ul.dropdown-menu li {
    width:  100%;
}
.top-nav ul.dropdown-menu {
    padding:  0;
    margin:  0;
}
.ad-menu ul.nav li a i.fa {
    width: 16px !important;
    margin: 0 6px 0 0;
    text-align:  left;
}
.dc-sub:hover .dc-sub-txt {
    background: #000;
    color:  #fff;
}
.dc-sub:hover .dc-sub-txt p {
    color:  #fff;
}
div#myModaDAct, #myModaAct.title-imge, #myModaAct {
    text-align: center;
}
div#myModaDAct a.btn.btn-default:hover,
#myModaAct a.btn.btn-default:hover,
div#myModaDAct a.btn.btn-default:focus,
#myModaAct a.btn.btn-default:focus {
    color: #fff;
}
.link-del-view .tooltip-2 {
    float:  left;
    margin:  0;
}
.confirmation-buttons a.btn {
    min-width: initial;
    margin: 0;
    padding: 8px 15px;
    float: left;
    width: 50%;
}
.confirmation-buttons a.btn:hover {
    color: #fff;
}
a.delete i.fa.fa-trash-o {
    color:  #be2d64;
}



@media screen and (max-width: 767px) {
	.ad-menu.side-nav {
	    max-height:  300px;
	}
}

div#Cars2 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: -1px;
}

div#Cars3  {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 20px 15px;
    margin-top: -1px;
}
div#myRadioGroup span {
    float: left;
    padding: 5px 10px;
    margin-right: -1px;
    border: 1px solid #ccc;
    background-color: #eaeaea;
}
div#Cars2 label.adrs-label {
    float: left;
    width: 150px;
}
div#Cars3 label.adrs-label {
    float: left;
    width: 150px;
}
div#Cars3 input#autocomplete {
    padding: 7px 15px;
    height: 35px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: calc(100% - 150px);
    /* float: left; */
    /* min-width: 100%; */
    margin-bottom: 0;
}
input#business_address {
    padding: 7px 15px;
    height: 35px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
select#business_city {
    padding: 7px 15px;
    height: 35px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
        min-width: 250px;
}
select#business_country {
    padding: 7px 15px;
    height: 35px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    min-width: 250px;
}
.dash-counter.users-main table.table.table-striped.table-bordered {
    width: 99.9%;
} 
div#myModaDAct .modal-footer {
    text-align: center;
}
div#myModaDAct .modal-footer a.btn.btn-default {
    background-color: #be2d64;
    color: #fff;
}
.imgp-prwv-box {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
.imgp-prwv-box .form-group {
    width: 32.33%;
    display: inline-block;
    padding: 1%;
    margin: 0;
}
.imgp-prwv-box .form-group  img {
    width: 100%;
}
.imgp-prwv-admin .img-prw-box img {
    width: 100%;
}

.imgp-prwv-admin .img-prw-box {
    float: left;
    width: 30%;
    /*margin-bottom: 15px;*/
}
.imgp-prwv-box .form-group .img-prw-box {
    margin-bottom: 5px;
}
.add-mor-sub h2 {
    float: left;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.add-mor-sub p {
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.add-mor-sub {
    float: left;
    font-size: 12px;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.imgp-prwv-admin {
    float: left;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}


/* 18 june */

#filterForm .form-group.col-md-8 {
    float: right;
    width: auto;
}

label.noclass.add_offr_sec select {
    width: 100%;
    padding: 8px 15px;
    height: 40px;
    background: #fff;
    color: #be2d64;
    border: 1px solid rgba(190, 45, 100, 0.39);
    border-radius: 40px;
    margin-bottom: 5px;
}


@media(min-width:992px) and (max-width:1199px)
{
	.dc-sub-txt.pu-txt p {
		font-size: 12px;
	}
	.link-del-view .tooltip-2 {
		width: 14px;
		float: left;
	}
	.link-del-view .tooltip-2 a {
		margin: 0;
		width: 15px;
	}	
	
.link-del-view .tooltip-2 {
    width: 35px;
    margin-left: 0px;
}
	
}

/* 21 june */


.list_vie_one {
    width: 100%;
    background: #f5f5f5;
    float: left;
    padding: 10px;
    margin-bottom: 0px;
    line-height: 30px;
}

.list_vie_two {
    width: 100%;
    background: #fff;
    float: left;
    padding: 10px;
    margin-bottom: 0px;
    line-height: 30px;
}

.list_vie_one .form-group {
    margin-bottom: 0;
}

.list_vie_two .form-group {
    margin-bottom: 0;
}

.user-table.table-responsive.pckeg-listng table tr:first-child th {
    background-color: #d6d6d6;
    font-weight: 600;
}
.user-table.table-responsive.pckeg-listng table tr:last-child {
    background-color: #e4e4e4;
}
.user-table.table-responsive.pckeg-listng table tr:last-child td {
    font-weight: 600;
}
.dash-counter.users-main .user-table.table-responsive {
    position: relative;
}
.dash-counter.users-main span.nolist {
    position: absolute;
    bottom: 10px;
    color: #f31f1f;
}
.img-prw-boxtwo img {
    width: 100%;
}
.img-prw-boxtwo {
    float: left;
    width: 33%;
    margin-bottom: 15px;
}




.add_con_se {
    position: relative;
    top: 96px;
    font-size: 12px;
    left: -15px;
}

.add_con_se label.text-danger {
    font-weight: 400;
}


.col-sm-12.buss_add_sec {
    margin-bottom: 14px;
}


@media(min-width:320px) and (max-width:767px)
{
.right_col.rig_new_cool {
    margin-top: 100px;
}
}




