.navbar-header {
    float: right;
}
.navbar-collapse.text-right {
    text-align: left;
}
.box_headeRight {
    float: left;
    text-align: left;
}
.box_headeRight .box_logSign {
    float: right;
}
.box_logSign ul li {
    float: right;
}
.box_logSign ul li a {
    border-left: 0;
    border-right: 1px solid #e8e4e4;
}
.add_listing {
    float: left;
    margin-top: 20px;
    padding-right: 5px;
}
.box_logSign ul li:first-child a {
    border-right: 0;
}
.our-work .row > div {
    float: right;
}
.main-srch-sub form#searching_form > div {
    float: right;
}
.form-group.form-sub input.add-form {
    border-radius: 0px 30px 30px 0px;
    text-align: right;
}
.form-group.form_first::before {
    left: 0;
    right: inherit;
}
.form-group.form-sub input.form-control {
    border-right: 0 !important;
    border-left: 10px solid rgba(0, 0, 0, 0) !important;
}
.form-group.form-sub select {
    border-radius: 35px 0px 0px 35px;
}
.box_howItWork .row > div,.box_ads .row > div,
.footer_top .row > div,.f_middle .row > div,.footer-bottom .row > div {
    float: right;
}
.footer_top .ft_logo {
    float: right;
}
.working_hours ul {
    text-align: right;
}
.social-demo ul {
    text-align: left !important;
}
.email_su_icon {
    right: 18px;
    left: inherit;
}
.email_su_search button {
    left: 0;
    right: inherit;
}
.email_su_search input[type="text"] {
    text-align: right;
}
nav.servic_pagi.custom_pagination span, nav.servic_pagi.custom_pagination a, 
.servic_pagi .pagination>li>a, .servic_pagi .pagination>li>span {
    float: right;
    border-right: 1px solid #ccc;
}
.f_follow.text-center {
    text-align: right;
}
.copy_left {
    float: left;
}
.main-srch-sub .col-md-2 {
    padding-left: 0;
    padding-right: 5px;
}
ul.nav.navbar-nav.main-nav {
    margin: 0px 35px 0px auto;
}
.rt-course-box .rtin-thumbnail .rtin-price {
    right: 0;
    left: inherit;
}
.profile {
    text-align: right;
}
.rt-course-box .rtin-content .rtin-author,
.rt-course-box .rtin-content .rtin-title {
    text-align: right;
}
.rtin-map span {
    text-align: right;
    padding-right: 18px;
    padding-left: 0;
}
.rtin-map span .fa {
    right: 2px;
    left: inherit;
}
.navbar-nav>li {
    float: right;
}
.login-drop input,.listing-add label, .f-login label,.listing-add input, .f-login input {
    text-align: right;
}
.main-srch-form-sec .lis-grid button.btn {
    float: right;
    margin-right: 5px;
}
.main-srch-form-sec .lis-grid {
    padding: 16px 0px 0 5px;
    text-align: left;
    float: left;
}
span.feat-ad {
    right: 0;
    top: 0;
}
.img-txt-subhead, p.add-l,.dsply-num {
    text-align: right;
}
.add-new i.fa.fa-map-marker {
    margin-right: 0;
    margin-left: 5px;
    float: right;
}
span.add-new {
    padding: 13px 0px 0 45px;
    text-align: right;
}
.image-lis-sub {
    float: right;
}
.bread_out .row > div {
    float: right;
}
.bread_out .pull-right {
    float: left !important;
}
.bread_out .single-data {
    text-align: right;
}
.single-data span.rating-main,.con-details {
    float: right;
}
.con-details ul li {
    margin-right: 0;
    margin-left: 15px;
    float: right;
}
.map-main {
    left: 0;
    right: inherit;
}
.main-listing-sec {
    float: right;
}
.image-txt-sub h3 {
    line-height: 30px;
}
.map-main div#map {
    -webkit-box-shadow: 0px 1px 7px 5px #ccc;
    -moz-box-shadow: 0px 1px 7px 5px #ccc;
    -ms-box-shadow: 0px 1px 7px 5px #ccc;
    -o-box-shadow: 0px 1px 7px 5px #ccc;
    box-shadow: 0px 1px 7px 5px #ccc;
}
.image-lis-sub {
    position: relative;
}
.list_details_page .row > div {
    float: right;
}
.dmv-heading h3 {
    text-align: right;
}
.dmv-heading h3:after {
    right: 0;
    left: inherit;
}
.featur-pro ul li img {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.fre-details {
    text-align: right;
}
.temp-details,.revire-input textarea {
    text-align: right;
}
.btn-success.review-theam {
    float: right;
}
div#modalForm .theame-modal .modal-header {
    text-align: right;
    position: relative;
}
div#modalForm .theame-modal button.close {
    left: 14px;
    top: 20px;
    position: absolute;
}
div#modalForm .modal-body,div#modalForm .theame-modal input,div#modalForm .theame-modal textarea {
    text-align: right;
}
div#modalForm .modal-footer {
    text-align: left;
}
.contact-form,.contact-form .input-field label,
.contact-form .input-field input,.contact-form .input-field textarea {
    text-align: right;
}
.contact-information .row > div,.who_we .row > div {
    float: right;
}
.single-data p {
    max-width: 100% !important;
}
.about-who {
    text-align: right;
}
.working_hours .col-sm-9 ul li {
    float: right;
}
.about-who .heading-section h2 {
    text-align: right;
}
.about-who ul li {
    padding: 9px 25px 9px 0px !important;
    text-align: right;
}
.about-who ul li:after {
    left: inherit !important;
    right: 0;
}
.form-group.form-sub select {
    background-position: 5%;
}


/* -------------------------- */
/* ----- Dashboard CSS ----- */
/* ------------------------ */


select {
    direction:rtl;
    text-align:right;
}
select option {
    direction:rtl;
    text-align:right;
}
.dash-board-inner .row > div {
    float: right;
}
.dash-link-sub li a {
    padding: 13px 40px 13px 15px;
    text-align: right;
    position: relative;
}
.dash-link-sub li a i.fa {
    margin-right: 0;
    position: absolute;
    right: 15px;
    top: 17px;
}
.dash-board-inner .general-info,.package_had,.user-plan,
.user-plan table th,.user-plan table td,.users-main {
    text-align: right;
}
.users-main input,.users-main select,.users-main textarea {
    text-align: right;
}
.users-main form .form-group > div,.upadate_listing_page .row > div {
    float: right;
}
.uploaded_img {
    padding: 20px 0px 0 15px;
}
.sbt-btn input {
    text-align: center !important;
}
.inner-tab-bar li {
    float: right;
}
.page-error {
    float: none !important;
}
.f-login select {
    background-position-x: 5%;
}
.imgp-prwv-box .row .form-group.ad-list-imgb,
textarea.te-box,.prvw-hed h2 {
    text-align: right;
}
.msg-pro-pic {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.imgp-prwv-box .row ,.imgp-prwv-box .row > div {
    float: right;
}
.sbt-btn input {
    float: right;
}
.msg-text {
    float: right;
    text-align: right;
}
.business-img-sec {
    float: right;
}
.form-group.ad-list-imgb span {
    margin-left: 0;
    text-align: right;
    display: block;
}
.feature_redio label, .feature_redio input[type="radio"] {
    float: right;
}
div#myRadioGroup span {
    float: right;
}
.listing-sub.grid-system {
    float: right;
}
