body{
    font-family: 'Source Sans Pro', sans-serif !important;
    overflow-x: hidden;
}
*:focus, button:focus, a:focus, .btn{
    outline: none !important;
    box-shadow: none !important;
}
@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('../fonts/HelveticaNeueThin.eot');
    src: url('../fonts/HelveticaNeueThin.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueThin.woff2') format('woff2'),
         url('../fonts/HelveticaNeueThin.woff') format('woff'),
         url('../fonts/HelveticaNeueThin.ttf') format('truetype'),
         url('../fonts/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
}
.catlisthomesearch {
    vertical-align: middle;
    width: 75px!important;
    height: 75px;
    border-radius: 50px!important;
}
section{
    overflow:hidden;
    width: 100%;
}
header.in-page .navbar-fixed-top {
    background: #111111 !important;
}
.navbar-default {
    background:none !important;
    border:none !important;
}
.navbar-fixed-top {
    background: rgba(0, 0, 0, 0.0) !important;
    transition: background ease-in-out 400ms;
    -webkit-transition: background ease-in-out 400ms;
    -o-transition: background ease-in-out 400ms;
    -moz-transition: background ease-in-out 400ms;
    -ms-transition: background ease-in-out 400ms;
}
nav.navbar.navbar-default.in-page-nav {
    background: #000 !important;
    border-radius: 0;
}
.in-page-nav ul li.active a {
    background: transparent !important;
    color: #dd7c08 !important;
}
.navbar-default a{
    color:#fff !important;
}
.owl-buttons {
    position: absolute;
    top: 40%;
    width: 100%;
}
.owl-next {
    position: absolute;
    right: 0;
}
.owl-prev {
    position: absolute;
    left: 0;
}
.owl-theme .owl-controls .owl-buttons div {
    font-size: 55px !important;
    background: none !important;
}
.owl-pagination {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.event-img a {
    overflow: hidden;
    display: block;
}
section.slider_main {
    position: relative;
    background: #000;
    padding-bottom:0px;
}
.slider_main .owl-theme .owl-controls {
    margin-top: 0 !important;
}
.navbar-default .navbar-nav>li>a{
    -webkit-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
    -moz-transition: all ease-in-out 100ms;
    -ms-transition: all ease-in-out 100ms;    
}
.in-page-nav ul li a.active,
.navbar-default .navbar-nav>li>a:hover {
    color: #dd7c08 !important;
}
ul.nav.navbar-nav.navbar-left a {
    padding: 30px 20px;
    font-size: 15px;
}
ul.nav.navbar-nav.navbar-left {
    margin-left: 90px;
}
li.us-flag a {
    background-color: #fdcd01 !important;
    padding: 2px 10px 2px 10px !important;
    height: 27px;
    color: #333 !important;
}
.us-flag ul.dropdown-menu {
    padding: 0;
    min-width: 95px !important;
    border: none;
}
li.dropdown.us-flag {
    margin-top: 45px;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
}
li.dropdown.us-flag a:hover, li.dropdown.us-flag a:focus {
    color: #333 !important;
}
a.navbar-brand {
    height: 80px;
    z-index: 999;
    position: relative;
}
.navbar-brand>img {
    width: 100%;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
}
ul.nav.navbar-nav.navbar-right {
    margin-top: 15px;
}
ul.nav.navbar-nav.navbar-right a {
    padding: 15px;
    outline: none;
}
.user-intro.dropdown a.dropdown-toggle {
    min-width: 153px;
}
.navi a.navbar-brand{
    height: 85px;
}
.good-place a {
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 5px;
}
.good-place a .fa {
    margin-left: 10px;
}
li.good-place a {
    padding: 10px 25px !important;
}
li.good-place {
    margin-left: 15px;
}
/*New Css*/
.main-search-sec {
    background-size: 100%;
    background-attachment: fixed;
    padding: 10%  0%; 
    position: relative;
    height: 76vh;
}
.main-search-sec::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.76);
    content: '';
}
.main-srch-heading {
    text-align: center;
}
.main-srch-heading {
    margin-bottom: 60px;
    color: #fff;
}
.main-srch-heading h1 {
    font-size: 51px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.main-srch-heading p {
    font-size: 20px;
    letter-spacing: 2px;
}
.main-srch-sub {
    height: 60px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 60px;
}
.main-srch-sub .form-group {
    margin: 0;
}
.form-group.form-sub {
    position: relative;
}
.form-group.form-sub::before {
    content: '';
    position: absolute;
    right: 0;
    height: 30px;
    width: 1px;
    background: rgba(0, 0, 0, 0.22);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}
.form-group.form-sub.no-bord::before {
    display: none;
}
.form-group.form-sub input.form-control {
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 0;
}
.form-group.form-sub input.form-control:focus{
    box-shadow: none;
}
.main-srch-sub button.btn.btn-default {
    width: 100%;
    background: rgba(255, 141, 7, 0.85);
    height: 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 0;
    border: none;
    padding-right: 30px;
}
.main-srch-sub button.btn.btn-default .fa {
    padding-right: 10px;
}
.main-srch-sub .col-md-4, .main-srch-sub .col-md-2 {
    padding: 0;
}
input.form-control.add-form {
    position: relative;
    background-image: url(../img/loc-icon.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: 22px !important;
    border-right: 10px solid rgba(0,0,0,0) !important;
}
input.form-control.cat-form {
    background-image: url(../img/cat-icon.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: 30px !important;
    border-right: 10px solid rgba(0,0,0,0) !important;
}
.main-srch-form-sec input.form-control.add-form {
    background-position-y: 13px !important;
}
.main-srch-form-sec input.form-control.cat-form {
    background-position-y: 20px !important;
}
.srch-links ul {
    padding: 0;
    text-align: center;
    margin: 0;
}
.srch-links ul li {
    text-align: center;
    display: inline-block;
    padding: 0 30px;
}
.srch-links ul li a{
    color: #fff;
}
.srch-links {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.srchtxt {
    margin-top: 10px;
    font-size: 20px;
}
.img-srch {
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
}
.srch-links ul li a:hover .img-srch{
    transform: rotate(360Deg);
    -webkit-transform: rotate(360Deg);
    -moz-transform: rotate(360Deg);
    -ms-transform: rotate(360Deg);
    -o-transform: rotate(360Deg);
}
.srch-links ul li a:hover {
    text-decoration: none;
    color: rgba(255, 141, 7, 0.85);
}
.scrol-btm {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 50px;
    text-align: center;
}
.scrol-btm a {
    color: #fff;
    font-size: 27px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
}
.scrol-btm a:hover {
    color: rgba(255, 141, 7, 0.85);
    border-color: rgba(255, 141, 7, 0.85);
}
section.interstng-sec {
    background: #f5f5f5;
}
.interstng-sec-head {
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
.interstng-sec-head span {
    color: rgba(255, 141, 7, 1);
}
.interstng-sec-head h2 {
    letter-spacing: 1px;
    margin: 40px 0 30px;
}
.interstng-sec-head p{
    font-size: 15px;
    color: #444343;
}
.interstng-sec-head::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
    height: 1px;
    background: rgba(0, 0, 0, 0.35);
}
.interstng-sec-head::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 72px;
    background: #ff8d07;
    height: 3px;
}
.intertng-links-sec ul {
    padding: 0;
    margin: 0;
    border: 1px solid #dbdbdb;
}
.intertng-links-sec ul li {
    float: left;
    width: 16.66%;
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    text-align: left;
}
.intertng-links-sec ul li:last-child {
    border: none;
}
.intertng-links-sec ul li a {
    color: #333;
}
.intertng-links-sec ul li.active a {
    color: #fff !important;
    background: #ff8d07;
}
.intertng-links-sec ul li a .fa {
    color: #ff8d07;
    font-size: 18px;
    margin-right: 10px;
}
.intertng-links-sec ul li.active a .fa {
    color: #fff !important
}
.intertng-links-sec {
    display: inline-block;
    width: 100%;
    margin: 20px 0px;
}
.panel.panel-primary {
    border: none;
    background: none;
    box-shadow: none;
}
section.plane-section .panel.panel-primary {
    border: 1px solid #346a98;
    text-align: center;
}
section.plane-section .panel.panel-primary a.btn {
    background-color: #337ab7;
    color: #fff;
}

.intertng-links-sec .panel-body {
    padding: 0 10px;
    margin-top: 30px;
}
.plan-section h1 {
    margin-top: 0;
}
.plan-section {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.plan-section h1 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 0;
}
.navi {
    background: rgba(0, 0, 0, 0.72) !important;
}
.intrst-link-sub-sec {
    text-align: center;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
	min-height: 156px;
}
.ilss-txt a {
    color: rgba(51, 51, 51, 0.5);
    border: 1px solid rgba(51, 51, 51, 0.51);
    padding: 2px 7px;
    border-radius: 15px;
    display: inline-block;
}
.ilss-txt a:hover {
    text-decoration: none;
    color: #fff;
    background: #333;
}
.intertng-links-sec .panel-body .col-md-2 {
    padding: 5px;
}
.ilss-img img {
    width: 75px;
}
.more-cat-link a {
    text-align: center;
    color: #ff8d07 !important;
    border: 1px solid #ff8d07;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 30px;
    display: inline-block;
    font-weight: 300;
    margin-top: 15px;
}
.more-cat-link a:hover {
    text-decoration: none;
    background: #ff8d07;
    color: #fff !important;
}
.more-cat-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    display: none;
}
section.popu-countries {
    padding: 25px 0;
}
section.popu-countries .interstng-sec-head h2 {
    margin: 0 0 5px;
}
.popu-img {
    overflow: hidden;
    position: relative;
}
.popu-img img {
    width: 100%;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
}
.popu-img-owl {
    max-height: 185px;
}
.popu-con-sub:hover .popu-img img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.popu-con-sub {
    background: #f8f8f8;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.17);
    margin-bottom: 20px;
}
.item {
    padding: 0 10px;
}
.popu-ovrly {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.popu-ovrly h3 {
    bottom: 5px;
    position: absolute;
    left: 0;
    margin: 0;
    color: #fff;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
}
.popu-con-section {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.popu-txt .popu-loca i.fa {
    font-size: 18px;
    margin: 5px 0 0 0;
    color: #959393;
    width: 18px;
    float: left;
}
.popu-loca span {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    width: 87%;
    overflow: hidden;
}
.like-comm .popu-liked {
    float: left;
}
.like-comm .popu-comm {
    float: right;
}
.like-comm {
    display: inline-block;
    width: 100%;
}
.like-comm .fa {
    font-size: 18px;
}
.popu-txt {
    padding: 5px 5px 0;
}
.popu-loca {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.like-comm .fa {
    color: #959393;
    margin-right: 10px;
    width: 18px;
}
.popu-ovrly h3:hover {
    color:#ff8d07;
}
section.other-sec {
    padding: 30px 0;
    background: #f5f5f5;
}
.oss-img {
    height: 200px;
    overflow: hidden;
    text-align: center;
}
/*.other-sec-sub {
    background: #fff;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.17);
    padding: 25px;
    min-height: 405px;
}*/
.other-sec-sub {
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
    padding: 25px;
    min-height: 405px;
    border: 1px solid #ddd;
} 
.oss-img img {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
.oss-txt h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
p.sub-head {
    font-weight: 600;
    font-size: 18px;
}
.vd--txt h3 {
    font-size: 35px;
    font-family: 'HelveticaNeueThin';
    margin-bottom: 30px;
    line-height: 45px;
}
.vd--txt {
    letter-spacing: 0.6px;
    line-height: 22px;
}
section.home-vdeo-sec {
    margin: 20px 0;
    /*background: #f5f5f5;*/
}
.event-type button.evttypedisplay {
    background: #6150aa;
    color: #fff;
    border: none;
    padding: 3px 15px;
    margin: 0 0 0 19px;
}
.print-evt button.prntevt {
    background: #dd7c08;
    border: none;
    padding: 8px 15px;
    color: #fff;
    margin-right: 5px;
}
.event-share-logo {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    background: #fff;
}
label#terms-error {
    position: absolute;
    bottom: -18px;
    left: 18px;
    font-size: 12px;
}
.right-sid_bar {
    background: rgba(0, 0, 0, 0.07);
    overflow: hidden;
}
.google-add {
    float: left;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
}
.vdo-sec-main img {
    width: 100%;
}
.vd--txt {
    padding: 50px 0;
}
section.contxt-location-sec {
    background: url(../img/locaton-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 50px 0;
}
section.contxt-location-sec::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}
.cls-sub {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 25px;
    color: #fff;
}
.cls-sub-img img {
    max-width: 64px;
    width: 100%;
    margin: 0 auto;
}
.cls-sub-txt h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 25px;
}
.cls-sub-txt p {
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.6px;
}
.test-slider {
    color: #fff;
    background-repeat: no-repeat;
    background-size: 150%;
    padding: 0 25px 35px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background: #f5f5f5;
}
.test-sub {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
    padding: 0 50px;
    color: #333;
}
#myModal3 .modal-header {
    background: #ff8b00;
    color: #fff;
    border: none;
}
#myModal3 .modal-footer {
    background: #ff8b00;
    border: none;
}
#myModal3 .modal-footer button.btn {
    background: transparent;
    background: none;
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
}
#myModal3 input.form-control {
    border: none;
    color: #333;
    background: #dcdcdc;
}
#myModal3 input.form-control::-webkit-input-placeholder {
  color: #333;
}
#myModal3 input.form-control::-moz-placeholder {
  color: 