/*@font-face {
     font-family: 'Kimberley Bl';
     src: url('../fonts/KimberleyBl-Regular.eot');
     src: url('../fonts/KimberleyBl-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/KimberleyBl-Regular.woff2') format('woff2'), url('../fonts/KimberleyBl-Regular.woff') format('woff'), url('../fonts/KimberleyBl-Regular.ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
}*/
a, .btn, button {
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

html {
     width: 100%;
     overflow-x: hidden;
}

body {

     /*font-family: 'Open Sans', sans-serif;*/
     font-size: 14px;
     font-weight: normal;
     overflow-x: hidden;
     width: 100%;
}

*, *:focus, .btn:focus, button:focus, a:focus, form:focus {
     outline: none !important;
}

/*header slider*/
ul.nav.navbar-nav.main-nav {
     float: none;
     display: inline-block;
     margin: 0 auto;
}

.navbar-brand h2 {
     margin: 0;
     color: #dec11f;
}

.navbar-brand {
     height: auto;
}

.srch-links ul {
     padding: 0;
     text-align: center;
     margin: 30px 0 0;
}

.srchtxt p {
     margin: 0;
}

.home-slider-img img {
     width: 100%;
     min-height: 100vh;
     max-height: 100vh;
}

.srch-links ul li {
     text-align: center;
     display: inline-block;
     padding: 0 30px;
}

.srch-links ul li a {
     color: #fff;
     display: block;
     font-weight: 400;
}

.srch-links {
     display: inline-block;
     width: 100%;
     margin-top: 40px;
}

.srchtxt {
     margin-top: 10px;
     font-size: 18px;
}

.navbar-brand img {
     max-width: 95px;
     width: 100%;
     transition: all ease-in-out 400ms;
     -webkit-transition: all ease-in-out 400ms;
     -moz-transition: all ease-in-out 400ms;
     -ms-transition: all ease-in-out 400ms;
     -o-transition: all ease-in-out 400ms;
}

a.navbar-brand {
     padding: 10px 0px 10px 0px;
}

.navi a.navbar-brand {
     padding: 8px 0px 8px 15px;
}

.one-6 label {
     color: #fff;
}

.navi .navbar-brand img {
     max-width: 75px;
}

.navi ul.main-nav li a {
     padding: 28px 28px;
}

.navi ul.login-div {
     margin: 14px 0px 14px;
}

#addcontent2 img {
     top: 8px;
}

.img-srch {
     transition: all ease-in-out 400ms;
     -webkit-transition: all ease-in-out 400ms;
     -moz-transition: all ease-in-out 400ms;
     -ms-transition: all ease-in-out 400ms;
     -o-transition: all ease-in-out 400ms;
}

.srch-links ul li a:hover .img-srch {
     transform: scale(1.35, 1.35);
     -webkit-transform: scale(1.35, 1.35);
     -moz-transform: scale(1.35, 1.35);
     -ms-transform: scale(1.35, 1.35);
     -o-transform: scale(1.35, 1.35);
}

.srch-links ul li a:hover {
     text-decoration: none;
     color: rgb(222, 193, 31);
}

.scrol-btm {
     position: absolute;
     bottom: 60px;
     left: 0;
     right: 0;
     margin: 0 auto;
     max-width: 50px;
     text-align: center;
}

.scrol-btm a {
     color: #fff;
     font-size: 27px;
     width: 40px;
     height: 40px;
     display: inline-block;
     border: 1px solid #fff;
     border-radius: 30px;
}

button.user-btn:hover {
     background: #fcba4a !important;
     border-color: #fcba4a !important;
}

.home-slider-img {
     position: relative;
}

.home-slider-img:after {
     background: rgba(0, 0, 0, 0.5);
     content: '';
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     position: absolute;
}

.slider-containt {
     position: absolute;
     bottom: inherit;
     padding: 70px 100px 70px 0px;
     z-index: 999;
     top: 25%;
}

.scrol-btm a:hover {
     color: rgba(255, 141, 7, 0.85);
     border-color: rgba(255, 141, 7, 0.85);
}

.form-group.form-sub.no-bord::before {
     display: none;
}

.home_page .navbar-default {
     background-color: rgba(0, 0, 0, 0.6);
     border-color: rgba(222, 193, 31, 0.54);
}

.navbar-default {
     background-color: rgba(0, 0, 0, 0.99);
     border-color: rgba(222, 193, 31, 0.54);
}

nav.menu-header {

     /*position: absolute;
     */
     top: 0;
     left: 0;
     right: 0;
     z-index: 999;
     border-radius: 0;
     margin: 0;
     border: none;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

.home_page nav.menu-header {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 999;
     border-radius: 0;
     margin: 0;
     border: none;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

nav.menu-header.navi {
     position: fixed;
     background: #000;
     z-index: 999;
     top: 0;
}

ul.login-div {
     padding: 0px;
     margin: 25px 0px 25px;
}

ul.login-div li {
     float: left;
     padding: 0;
     list-style: none;
}

ul.login-div li button.user-btn {
     border: 1px solid #fff;
     background: transparent;
     color: #fff;
     padding: 8px 15px;
     font-size: 15px;
     text-transform: uppercase;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

ul.login-div li a.user-btn {
     border: 1px solid #fff;
     background: transparent;
     color: #fff;
     padding: 8px 15px;
     font-size: 15px;
     display: block;
     text-transform: uppercase;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

ul.login-div li a.user-btn i.fa {
     margin: 0 8px 0 0;
}

button.user-btn.login {
     margin-right: 15px;
     position: relative;
}

.user-btn.login {
     margin-right: 15px;
     position: relative;
}

button.user-btn.login:after {
     position: absolute;
     content: '';
     right: -24px;
     height: 1px;
     width: 31px;
     background: #fff;
     top: 20px;
}

ul.login-div li button.user-btn:after {
     position: inherit;
}

.user-btn.login:after {
     position: absolute;
     content: '';
     right: -24px;
     height: 1px;
     width: 31px;
     background: #fff;
     top: 20px;
}

#main_header_id .user-btn.login:after {
     position: absolute;
     content: '';
     right: -22px;
     height: 1px;
     width: 27px;
     background: #fff;
     top: 18px;
}

ul.main-nav li a {
     color: #fff !important;
     font-weight: 600;
     padding: 35px 30px;
     font-size: 14px;
     text-transform: uppercase;
}

ul.main-nav li a:hover {
     color: #fcba4a !important;
}

.scrol-btm a i.fa {
     line-height: 40px;
}

.list ul li a:hover {
     background: rgba(0, 0, 0, 0.16);
     color: #000;
}

.slider-containt h2 {
     color: #fff;
     font-size: 45px;
     letter-spacing: 2px;
     text-transform: capitalize;
}

.slider-containt p {
     font-size: 16px;
     max-width: 620px;
     color: #fff;
     font-weight: lighter;
     letter-spacing: 0.8px;
     line-height: 28px;
}

.slider-containt button {
     border: 2px solid #fff !important;
     font-weight: 600;
     letter-spacing: 1px;
     font-size: 18px !important;
}

.heading-section h2 {
     margin: 0 auto 18px;
     font-size: 40px;
     font-weight: lighter;
     text-transform: capitalize;
}

.heading-section {
     max-width: 899px;
     text-align: center;
     margin: 0 auto;
     padding: 0 0 35px;
     position: relative;
}

.heading-section p {
     margin: 0;
     font-size: 16px;
     position: relative;
     line-height: 30px;
     letter-spacing: 1.2px;
}

span.yellow {
     color: #000000;
     font-weight: 600;
}

.heading-section:after {
     content: '';
     width: 130px;
     height: 1px;
     background: #afafaf;
     bottom: 36px;
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
}

.heading-section:before {
     content: '';
     width: 50px;
     height: 5px;
     background: #cf9533;
     bottom: 34px;
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
     z-index: 999;
}

section.popu-countries {
     padding: 0px 0 60px;
     background: #f2f2f2;
}

.map-form {
     padding: 30px;
     background: #fff;
     margin: 40px -30px 0 0;
}

.rat {
     padding: 9px;
     background: rgba(0, 0, 0, 0.52);
     position: absolute;
     bottom: 0;
     width: 100%;
}

.rat h4 {
     margin: 0;
     color: #fff;
}

.rat h4 span {
     float: right;
}

/* .squaredThree */
.squaredThree {
     position: relative;
     margin: 0 0 15px;
}

.squaredThree label {
     width: 20px;
     height: 20px;
     cursor: pointer;
     position: absolute;
     top: 0;
     left: 0;
     background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
     background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
     border-radius: 4px;
     -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
     box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
     margin-bottom: 0;
}

.squaredThree span {
     margin: 0 0 0 5px;
     vertical-align: top;
}

.squaredThree label:after {
     content: '';
     width: 9px;
     height: 5px;
     position: absolute;
     top: 6px;
     left: 5px;
     border: 3px solid #fcfff4;
     border-top: none;
     border-right: none;
     background: transparent;
     opacity: 0;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
}

.squaredThree label:hover::after {
     opacity: 0.3;
}

.squaredThree input[type=checkbox] {
     visibility: hidden;
     width: 20px;
     height: 20px;
     margin: 0;
}

.squaredThree input[type=checkbox]:checked + label:after {
     opacity: 1;
}

.sel-clas select {
     width: 100%;
     height: 40px;
     border: 1px solid #404040;
     padding: 5px 10px;
     margin-bottom: 20px;
}

.map-input input {
     height: 40px;
     width: 100%;
     margin: 0px;
     border: 1px solid #404040;
     padding: 5px 15px;
}

.map-submit input {
     height: 40px;
     width: 100%;
     margin-top: 20px;
     background: #fff;
     border: 1px solid #404040;
     text-align: center;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

.map-submit input:hover {
     background: #000;
     color: #fff;
}

/*article.slider-arti, section {
 overflow-x:hidden;
}
*/
.more-category {
     padding: 0;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
     background: #fff;
}

#cate-slid .item, #cate-slid3 .item {
	padding:0px 10px;
	}
.logo {
	text-align:left;
	width:100%;
	margin:0;
	border-radius:0;
	overflow:hidden;
	max-height:180px;
	}	
.more-category .logo {
	min-height:180px;
	}
	
	
.contant h2{
     margin:0 0 7px;
     font-size:18px;
     text-align:left;
     text-transform:uppercase;
     font-weight:600;
     color:#000;
     letter-spacing:1px;
	}

.contant {
     padding: 12px;
     margin-bottom: 5px
}

.contant p {
     font-size: 12px;
     color: #262626;
     margin: 5px 0 0;
     line-height: 20px;
}

.contant p:nth-child(2) {
     white-space: normal;
     text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
     overflow: hidden;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     min-height: 45px;
     max-height: 45px;
}

.contant h3 {
     background: #f2f2f2;
     margin: 0 -12px;
     font-size: 18px;
     padding: 10px;
     color: #000;
}

.owl-theme .owl-controls {
     margin: 0 !important;
}

.contant h3 span a {
     font-size: 13px;
     padding: 1px 5px;
     display: inline-block;
     color: #000;
     text-decoration: none;
     position: relative;
}

.more-nearest {
     padding: 0px 0;
}

.contant h3 span a.active {
     color: #007700;
}

.contant h3 span a:nth-child(1):after {
     content: '/';
     position: absolute;
     right: -5px;
     top: 1px;
     color: #909090;
     font-size: 16px;
}

.contant h3 span a:hover {
     color: #fcba4a;
}

.contant h3 span {
     float: right
}

button.read-m {
     background: #fcba4a;
     border: none;
     padding: 10px 10px;
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
     margin-top: 15px;
     position: relative;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

button.read-m:hover {
     background: #000;
     color: #fff;
}

/*button.read-m:after {
 background: #000;
 position: absolute;
 bottom:18px;
 right: -15px;
 width: 30px;
 content: '';
 height: 2px;
}
*/
section.team-sec {
     background: #f2f2f2;
     padding: 45px 0px 35px;
}

.home_slider .owl-next, .home_slider .owl-prev {
     position: absolute;
     top: 42%;
     z-index: 9999999;
     background: transparent !important;
}

.home_slider .owl-next {
     right: 0;
}

.home_slider .owl-prev {
     left: 0;
}

.home_slider .owl-next i.fa, .home_slider .owl-prev i.fa {
     font-size: 80px;
}

.logo img {
     width: 100%;
     height: 100%;
}

.cate-slider .owl-next, .cate-slider .owl-prev {
     position: absolute;
     top: 35%;
     z-index: 9999999;
     background: transparent !important;
     margin: 0;
}

.cate-slider .owl-next {
     right: -40px;
}

.cate-slider .owl-prev {
     left: -40px;
}

.cate-slider .owl-next i.fa, .cate-slider .owl-prev i.fa {
     font-size: 60px;
     color: #9e9e9e;
}

section.add-class {
     padding: 50px 0;
     background: url(../images/slider-banner.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
}

.new-head span.yellow, .new-head .heading-section h2 {
     color: #fff;
}

.new-head p {
     margin: -4px 0 25px;
     color: #fff;
     text-align: center;
     letter-spacing: 1.2px;
     font-size: 16px;
     font-weight: lighter;
}

#cate-slid2 .item {
     padding: 6px;
}

.list {
     margin-top: 6px;
}

#cate-slid2 .owl-next, #cate-slid2 .owl-prev {
     position: absolute;
     top: 45%;
     z-index: 9999999;
     background: #ffffff;
     margin: 0;
     opacity: 1;
     border-radius: 0;
     padding: 2px 13px;
}

#cate-slid2 .owl-next {
     right: -50px;
}

#cate-slid2 .owl-prev {
     left: -50px;
}

#cate-slid2 .owl-next i.fa, #cate-slid2 .owl-prev i.fa {
     font-size: 45px;
     color: #8c8c8c;
}

#cate-slid2 .owl-controls.clickable {
     margin: 0;
}

/****/
footer {
     margin: 0 0;
     background: url(../images/foterbanner.jpg);
     padding: 0px 0 0;
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     z-index: 1;
     position: relative;
}

.news-letter {
     padding: 0;
}

.new_letter_main {
     display: inline-block;
     width: 100%;
}

.news_letter_heading h2 {
     color: #fff;
     margin: 0;
     font-size: 18px;
     position: relative;
     margin-top: 10px;
     letter-spacing: 1.5px;
     font-weight: 400;
     text-transform: capitalize;
}

.new_letter_input {
     overflow: hidden;
}

.news-letter .input-group {
     width: 100%;
}

.news-letter input.form-control {
     height: 40px;
     border-radius: 5px !important;
     border: 1px solid #fff;
     padding: 10px 140px 10px 32px;
     font-size: 13px;
     background: #fff;
     color: #000;
}

.new_letter_input button.btn.btn-default i.fa {
     margin-right: 10px;
}

.new_letter_input button.btn.btn-default {
     background: #fcba4a;
     color: #181818;
     border: 0;
     border-radius: 0 5px 5px 0;
     padding: 8px 20px;
     height: 40px;
     width: auto;
     text-align: center;
     position: absolute;
     right: 0;
     top: 0;
     z-index: 999;
     font-size: 16px;
     letter-spacing: 1.2px;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     box-shadow: none;
}

.new_letter_input button.btn.btn-default:hover {
     background: #000;
     color: #fff;
}

.input-group.foter-form {
     position: relative;
}

.f_middle {
     display: block;
     overflow: hidden;
}

.f_middle p {
     font-size: 14px;
     color: #cbc8c8;
     letter-spacing: 1.2px;
     font-weight: 400;
     line-height: 24px;
}

.f_heading h3 {
     font-size: 25px;
     color: #fff;
     margin: 0 0 30px;
     font-weight: 600;
     text-transform: capitalize;
}

.f_middle ul {
     padding: 0;
     margin: 0 0;
}

.f_middle ul li {
     list-style: none;
     padding: 0;
     margin: 0 0 7px;
}

.f_middle ul li a {
     color: #ffffff;
     padding: 3px 0;
     display: block;
     font-size: 14px;
     font-weight: lighter;
     letter-spacing: 1.2px;
}

.footer-bottom {
     background: #111010;
     margin-top: 0px;
     padding: 15px;
}

.footer-link-social ul {
     padding: 0;
     margin: 0;
}

.footer-link-social ul li {
     display: inline-block;
}

.footer-link-social ul li a {
     display: inline-block;
     font-size: 20px;
     padding: 7px;
     color: #fff;
}

.f_follow {
     color: #fff;
     margin: 12px 0;
     font-size: 15px;
     letter-spacing: 1.2px;
     font-weight: lighter;
}

.f_middle ul li a i.fa {
     width: 40px;
     font-size: 25px;
     vertical-align: middle;
}

.foter-form i.fa.fa-envelope {
     position: absolute;
     z-index: 999;
     left: 13px;
     top: 13px;
     color: #949494;
}

.news_letter_heading i.fa.fa-bell {
     font-size: 50px;
     vertical-align: middle;
     margin-right: 25px;
}

.foter-form input::-webkit-input-placeholder {
     color: #949494;
     font-weight: 600;
     font-size: 12px
}

.foter-form input::-moz-placeholder {
     color: #949494;
     font-weight: 600;
     font-size: 12px
}

.foter-form input:-ms-input-placeholder {
     color: #949494;
     font-weight: 600;
     font-size: 12px
}

.foter-form input:-moz-placeholder {
     color: #949494;
     font-weight: 600;
     font-size: 12px
}

.f_middle ul li a:hover {
     color: #cf9533;
     text-decoration: none;
}

.footer-link-social ul li a:hover {
     color: #cf9533;
}

.pro-img:hover img {
     transform: scale(1.35, 1.35);
     -webkit-transform: scale(1.35, 1.35);
     -moz-transform: scale(1.35, 1.35);
     -ms-transform: scale(1.35, 1.35);
     -o-transform: scale(1.35, 1.35);
}

.top-menu ul.dropdown-menu li a:hover {
     background: #ddc01e;
     color: #000;
}

section.add-section.three {
     padding-top: 0;
}

section.add-section.two {
     padding-top: 0;
}

.list ul li a span {
     float: right;
}

.footer-link-social ul li p {
     color: #fff;
     margin: 0;
     font-size: 18px;
     position: relative;
     letter-spacing: 1.5px;
     font-weight: 400;
}

.student-list {
     background: #fff;
     padding: 8px;
     border-radius: 7px;
}

.student-footer {
     padding: 10px 0 5px;
}

.student-footer h3 {
     margin: 0;
     font-size: 13px;
     color: #bb811f;
}

.student-footer p {
     font-size: 12px;
     color: #000;
}

.student-footer h3 a {
     color: #fcba4a;
     float: right;
     font-size: 14px;
     text-decoration: none;
}

.student-footer h3 a:hover {
     color: #000;
}

.st-images img {
     width: 100%;
}

section.testo-slider {
     padding: 50px 0;
     background: url(../images/test-slid.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

p.coment {
     text-align: center;
     max-width: 880px;
     margin: 0 auto 24px;
     font-size: 15px !important;
     line-height: 32px;
     color: #000;
     font-style: italic;
}

.stu-coment {
     position: absolute;
     bottom: 0;
     background: #000000b0;
     padding: 5px 10px;
     width: 100%;
}

.st-images {
     position: relative;
}

.stu-coment h4 {
     color: #fff;
     margin: 0;
     line-height: 24px;
     letter-spacing: 1.2px;
     font-size: 16px;
     text-transform: capitalize;
}

.item-cont ul {
     display: block;
     padding: 0;
     margin: 0;
     text-align: center;
}

.item-cont ul li {
     display: inline-block;
     list-style: none;
     color: #cf9533;
}

.slider-back .owl-page.active span {
     background: #cf9533 !important;
     opacity: 1 !important;
     border: 1px solid #cf9533;
}

.item-cont h3 {
     color: #000;
     margin: 0 0 0;
     padding: 10px 0 5px;
     font-weight: 700;
     font-size: 15px;
}

.item-cont p {
     font-style: italic;
     font-size: 12px;
}

.item-cont {
     text-align: center;
}

.slider-back .owl-page span {
     background: transparent !important;
     opacity: 1 !important;
     border: 1px solid #a7a7a7;
     margin: 5px 4px !important;
}

.footer-logo h3 {
     font-weight: 600;
     color: #fff;
     margin: 0 0 30px;
     font-size: 25px;
     text-transform: capitalize;
}

.f_heading.footer-add li {
     margin-top: 10px;
}

.footer-link-social {
     margin: 0;
}

.btn-ap button.app-btn {
     padding: 0;
     margin: 0;
     border: 0;
     background: transparent;
     border-radius: 4px;
     overflow: hidden;
}

.btn-ap li {
     margin-bottom: 10px !important;
     display: block;
}

.footer-social {
     margin-top: 40px;
     padding: 30px 0;
     border-top: 1px solid #6d6d6d;
}

@media screen and (min-width:1600px) {
     .slider-containt {
          bottom: 130px;
     }

}

section.rag-sec {
     background: #fff url(../images/login-banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     margin-bottom: 0px;
     padding: 60px 0px;
     position: relative
}

.col-sm-6.one-6 {
     background: rgba(0, 0, 0, 0.8);
     padding: 50px 35px 50px 50px;
}

.two-6 {
     padding: 30px;
     background: rgb(255, 255, 255);
     border-radius: 6px;
     border: 2px solid #7cbe49;
}

textarea#describe {
     border: 1px solid #c1c1c1 !important;
     color: #000;
     margin-bottom: 20px;
     padding: 5px 10px;
     background: #e4e4e4;
     box-shadow: none;
     background-size: 12px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background-size: 16px;
     background-position-x: 98%;
     background-position-y: 12px;
}

.input-filed.final-registr input.sub-btn:hover {
     background-color: #609239;
     color: #fff;
}

.input-filed.final-registr input.sub-btn {
     background-color: #7cbe49;
     border: 1px solid #63a033;
     width: auto;
     padding: 10px 15px;
}

.guru_register_height {
     padding: 30px;
     background: rgb(255, 255, 255);
     border-radius: 6px;
     border: 2px solid #7cbe49;
     padding-right: 10px;
}

.rag-sec .mCustomScrollbar {

     /* padding: 30px; */
     height: 700px;
     padding-right: 10px;
}

.extra-filter-sec .row {
     margin: 0px;
}

.rag-form h2 {
     color: #000;
     margin: 0 0 35px;
     line-height: 20px;
}

.input-filed input {
     padding: 10px 10px 10px 40px;
     width: 100%;
     background: transparent;
     border: 1px solid rgba(183, 183, 183, 0.54);
     margin-bottom: 25px;
     color: #020202;
}

.input-filed textarea {
     background: transparent;
     width: 100%;
     height: 69px;
     padding: 10px 15px 10px 40px;
     color: #fff;
     border: 1px solid rgba(183, 183, 183, 0.54)
}

.reg-contant h2 {
     padding: 0;
     color: #000;
     font-weight: 600;
     margin: 0 0 40px;
}

.reg-contant p {
     color: #000;
     letter-spacing: 1.5px;
     font-size: 14px;
     font-weight: 600;
     line-height: 25px;
}

.reg-contant ul {
     padding: 0;
     margin: 0;
     text-align: center;
}

.teacher .input-filed input {
     background: #e4e4e4;
     border: 1px solid #c1c1c1;
     margin-bottom: 22px !important;
}

.input-filed p.text-danger {
     position: absolute;
     width: 100%;
     bottom: -10px;
     font-size: 12px;
}

.guru_register_height .teacher .input-filed input[type="submit"] {
     margin-bottom: 10px !important;
}

.rag-form.teacher h2 {
     color: #000;
}

.reg-contant ul li {
     border: 2px solid #000;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     text-align: center;
     list-style: none;
     line-height: 30px;
     display: inline-block;
     margin: 20px 24px 0;
}

/*.rag-sec .col-sm-6 {
 display: table-cell;
 vertical-align: middle;
 min-width: 50%;
 float: none;
}
*/
input.sub-btn {
     color: #fff;
     font-size: 16px;
     letter-spacing: 1.2px;
     margin: 0 0 0;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

input.sub-btn:hover {
     background: #fcba4a;
     color: #000;
     border-color: #fcba4a;
}

.rag-form input::-webkit-input-placeholder {
     color: #fff;
}

.rag-form input::-moz-placeholder {
     color: #fff;
}

.rag-form input:-ms-input-placeholder {
     color: #fff;
}

.rag-form input:-moz-placeholder {
     color: #fff;
}

.rag-form textarea::-webkit-input-placeholder {
     color: #fff;
}

.rag-form textarea::-moz-placeholder {
     color: #fff;
}

.rag-form textarea:-ms-input-placeholder {
     color: #fff;
}

.rag-form textarea:-moz-placeholder {
     color: #fff;
}

.input-filed {
     position: relative;
}

.input-filed img.icon {
     position: absolute;
     top: 32px;
     left: 6px;
     z-index: 1;
}

.reg-contant ul li span {
     font-weight: 600;
     font-size: 26px;
     margin: 15px 0 4px 0;
     display: block;
     text-align: center;
}

/**Range Slider**/
.slidecontainer {
     width: 100%;
}

.slider {
     -webkit-appearance: none;
     width: 100%;
     height: 15px;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
}

.slider:hover {
     opacity: 1;
}

.slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
}

.slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
}

/****/
.more-guru button.more-list {
     background: #fcba4a;
     border: none;
     padding: 10px 15px;
     display: inline-block;
     color: #5f5f5f;
     margin: 0px auto 0;
     font-weight: 600;
     font-size: 14px;
     text-transform: uppercase;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
}

.more-guru button.more-list:hover {
     background: #000;
     color: #fff;
}

.more-guru {
     text-align: center;
     margin-bottom: 40px;
}

.cate-slider {
     display: inline-block;
     width: 100%;
     margin-bottom: 40px;
}

.more-nearest {
     float: left;
     width: 100%;
}

.tes-pro img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     overflow: hidden;
}

.tes-pro {
     margin-top: 10px;
}

.rag-form input[type="submit"] {
     padding-left: 0px;
     margin-bottom: 10px !important;
}

/**Ard**/

/*Filter*/
section.filter-sec {
     background: #14b6c6;
     padding: 20px 0px;
     margin: 0px;
     position: fixed;
     width: 100%;
     top: 170px;
     transition: all ease-in-out 400ms;
     z-index: 9999;
}

.main-srch-form-sec .form-group {
     margin: 0;
}

.main-srch-form-sec .form-control {
     background: #fff;
     border-radius: 0px;
     border: none;
     height: 40px;
}

a.btn.btn-default.extra-filter {
     width: 100%;
     height: 40px;
     border-radius: 0;
     background: transparent;
     color: #fff;
     padding: 10px;
     border: 1px solid #fff;
}

button.btn.btn-default.main-sbmit {
     width: 100%;
     height: 40px;
     border-radius: 0;
     background: #ff8d0700;
     color: #fff;
     text-transform: uppercase;
     border: 1px solid #fff;
}

button.btn.btn-default.main-sbmit:hover {
     background: #fcba4a;
     border: 1px solid #fcba4a;
}

.main-srch-form-sec .col-md-3, .main-srch-form-sec .col-md-2 {
     padding: 0px 1px;
}

.main-srch-form-sec {
     padding: 0px 14px;
}

/*checkbox*/

/* SQUARED THREE */
.squaredThree {
     width: auto;
     position: relative;
     display: inline-block;
     padding-right: 5px;
     margin: 0px;
}

.squaredThree span {
     margin-left: 0px;
     color: #000;
}

.squaredThree label.chk-box-label {
     cursor: pointer;
     position: absolute;
     width: 15px;
     height: 15px;
     top: 3px;
     border-radius: 4px;
     left: 0px;
     -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
     -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
     box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
     background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
     background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
     background: -o-linear-gradient(top, #222 0%, #45484d 100%);
     background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
     background: linear-gradient(top, #222 0%, #45484d 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d', GradientType=0);
}

.squaredThree label.chk-box-label:after {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
     opacity: 0;
     content: '';
     position: absolute;
     width: 9px;
     height: 5px;
     background: transparent;
     top: 5px;
     left: 3px;
     border: 3px solid #fcfff4;
     border-top: none;
     border-right: none;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
}

.squaredThree label.chk-box-label:hover::after {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
     filter: alpha(opacity=30);
     opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label.chk-box-label:after {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     filter: alpha(opacity=100);
     opacity: 1;
}

/*checkbox end*/
.extra-filter-sec {
     margin-top: 15px;
     border-top: 1px solid #fff;
     padding: 0 13px;
     display: none;
     height: 400px;
}

.etra-fil-head h3 {
     color: #fff;
     font-weight: 300;
}

.efs-sub {
     background: #ffffff;
     padding: 15px;
     height: 220px;
     overflow: hidden;
}

.checkbox-main {
     display: inline-block;
}

.checkbox-main {
     padding: 8px 7px 5px;
     background: transparent;
     border-radius: 2px;
     margin: 0 10px 10px 0px;
     border: 1px solid #ffa000;
}

.extra-filter-sec .col-md-4 {
     padding: 2px;
}

section.filter-sec.fs-top {
     top: 0;
     z-index: 9999;
     transition: all ease-in-out 400ms;
}

.map-main {
     width: 50%;
     position: fixed;
     z-index: 0;
     height: 100%;
     padding-top: 75px;
     right: 0;
     transition: all ease-in-out 400ms;
}

.map-main.map-top {
     padding-top: 84px;
}

footer.main_footer.footer-listing {
     position: fixed;
     bottom: 0;
     z-index: 99;
     width: 100%;
}

footer.main_footer.footer-listing .footer-bottom {
     margin: 0;
     padding: 0;
}

.main-listing-sec {
     width: 50%;
     float: left;
     padding: 95px 15px 55px;
     background: #f2f2f2;
}

.image-lis-sub {
     width: 170px;
     height: 170px;
     overflow: hidden;
     float: left;
}

.image-lis-sub img {
     width: 100%;
     min-height: 170px;
}

.image-txt-sub {
     float: left;
     width: calc(100% - 170px);
     min-height: 170px;
     background: #fff;
     padding: 15px;
     position: relative;
}

.image-txt-sub h3 {
     margin: 0 10px 0px 0px;
     vertical-align: middle;
     display: inline-block;
     font-size: 20px;
}

.listing-sub {
     display: inline-block;
     width: 100%;
     margin-bottom: 8px;
     box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.14);
}

.image-txt-sub .fa {
     width: 20px;
     height: 20px;
     border-radius: 100%;
     background: #fcba4a;
     color: #ffffff;
     text-align: center;
     vertical-align: middle;
     padding: 4px;
     font-size: 10px;
     float: left;
     margin-right: 10px;
}

.sub-txt button#av-btn {
     background: #ff8d07;
     border-radius: 0;
     border: none;
     color: #fff;
     padding: 7px 12px;
}

.act-valid-sec label {
     font-weight: 400;
     margin-top: 5px;
}

.act-valid-sec input.form-control {
     border: none;
     background: #f0f0f0;
     box-shadow: none;
}

span.rating-main ul {
     padding: 0;
     margin: 0;
}

button.validate-btn.btn.btn-default {
     background: #ff8d07;
     border-radius: 0;
     color: #fff;
     border: none;
     width: 100%;
     padding: 7px 15px;
}

.mes-opt-two .select-form .form-control {
     border: none;
     border-radius: 0;
     background: #f0f0f0;
     box-shadow: none;
}

.head-cs h3 {
     margin: 0;
     font-size: 16px;
}

.content-select .col-md-3, .content-select .col-md-6 {
     padding: 0;
}

tr.cs-cnt td {
     padding: 10px 12px;
     background: #ecf0f1;
     border: 0.5px solid #fff;
}

.facture-link a.btn.btn-default {
     padding: 7px 25px;
     border: none;
     background: #ff8d07;
     color: #fff;
     border-radius: 0;
}

.mes-opt-one h4.panel-title {
     padding-left: 40px;
     position: relative;
}

.mes-opt-one .checkbox {
     position: absolute;
     left: 0;
     width: 40px;
     height: 39px;
     background: #1a1a1a;
     top: 0;
     margin: 0;
}

.side-txt-tab {
     padding: 15px;
     color: #333;
     letter-spacing: 0.2px;
     margin: 0 15px 15px;
     background: #fff;
}

.mes-opt-one .checkbox input[type="checkbox"] {
     display: block;
     text-align: center;
     width: 100%;
     margin-top: 13px;
}

tr.cs-cnt .fa {
     color: #dedede;
     background: #1b1b1b;
     width: 30px;
     height: 30px;
     padding: 8px;
     border-radius: 100%;
}

tr.cs-cnt a {
     display: block;
     text-align: center;
}

.head-cs {
     border: 0.5px solid #fff;
     padding: 10px 12px;
     background: #1b1b1b;
     color: #dedede;
     font-weight: 400;
}

.facture-sec table {
     width: 100%;
     margin: 15px 0;
}

.content-select table {
     width: 100%;
}

.content-select {
     margin: 15px 0;
}

span.rating-main ul li {
     display: inline-block;
     width: auto;
     vertical-align: middle;
}

span.rating-main ul li .fa {
     background: none;
     color: #fcba4a;
     padding: 0;
     margin: 0;
     font-size: 16px;
     width: 15px;
}

span.rating-main {
     display: inline-block;
     vertical-align: middle;
}

.img-txt-subhead {
     display: inline-block;
     width: 100%;
     margin-bottom: 15px;
}

.dsply-num {
     display: inline-block;
     position: absolute;
     bottom: 10px;
     right: 10px;
}

.dsply-num button.btn.btn-default {
     border: none;
     border-radius: 0;
}

.dsply-num button.btn.btn-default:focus {
     outline: none;
}

.squaredThree input {
     opacity: 0;
}

.logo-paymnt-sub {
     overflow: hidden;
     padding: 10px;
     margin-bottom: 0px;
     border: 1px solid rgba(51, 51, 51, 0.18);
}

.logo-paymnt-sub img {
     width: 100%;
}

.logo-paymnt .col-md-6 {
     padding: 5px;
}

.logo-paymnt {
     padding: 0px 10px;
     margin-bottom: 15px;
}

@media screen and (max-width:1199px) {
     .map-main {
          width: 35%;
     }
     .main-listing-sec {
          width: 65%;
     }
}

@media screen and (max-width:991px) {
     .container {
          width: 100%;
     }
     section.filter-sec {
          position: static;
     }
     .map-main {
          position: static !important;
          width: 100%;
          height: 400px;
          display: inline-block;
          padding: 0 !important;
     }
     .main-listing-sec {
          padding: 0px 15px;
          max-width: 750px;
          margin: 15px auto 0;
          width: 100%;
          display: block;
          float: none;
     }
     footer.main_footer.footer-listing {
          position: static;
          text-align: center;
     }
}

@media screen and (max-width:767px) {
     .side-footer-link {
          top: 55%;
     }

     .main-srch-form-sec .form-group {
          margin: 0 0 2px;
     }

}

@media screen and (max-width:580px) {
     .image-lis-sub {
          width: 100%;
          float: none;
          display: inline-block;
          height: 200px;
     }

     .image-txt-sub {
          width: 100%;
          height: initial;
     }

     .main-srch-form-sec .col-xs-4 {
          width: 100%;
     }

}

/*Filter*/
.footer-listing .f_follow {
     text-align: right;
     color: #fff;
     margin-top: 12px;
     color: #dedede;
}

.footer-listing {
     padding: 0px;
}

.footer-listing .footer-link-social {
     margin-top: 5px;
}

.inner-page .menu-header {
     background: #000;
}

.dsply-num .btn-default {
     background-color: #fcba4a;
}

.dsply-num .btn-default:hover {
     background: #101010;
     color: #fff;
}

.dsply-num .fa {
     float: right;
     margin-left: 15px;
     margin-right: 0px;
     background: #ffffff;
     color: #fcba4a;
}

.image-txt-sub p {
     margin: 0px 0px 7px;
     padding-left: 25px;
     position: relative;
}

.add-l .fa, .catgry-l .fa, .distance-l .fa {
     position: absolute;
     left: 0;
}

.team_main {
     border-bottom: 1px solid #fcba4a;
}

.img_attach label {
     position: absolute;
     background: #e4e4e4;
     width: 100%;
     left: 0px;
     top: 0;
     content: "";
     color: #fff;
     padding: 10px 40px 12px;
     font-weight: normal;
     border: 1px solid #c1c1c1;
}

.img_attach input[type=file] {
     display: block;
     opacity: 0;
     filter: alpha(opacity=0);
}

.img_attachone label {
     background: transparent;
     border: 1px solid rgba(183, 183, 183, 0.54);
}

a.forgot_link {
     margin: 0px;
     padding: 0px;
     color: #000;
}

.rgi_btn {
     float: right;
     margin: 0px;
     padding: 0px;
     color: #000;
}

.teacher a.forgot_link:hover, .teacher .rgi_btn:hover {
     color: #fcba4a;
}

.btn_sec {
     padding-top: 15px;
}

.teacher a.forgot_link, .teacher .rgi_btn {
     color: #000;
}

/**File**/
.js .inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
}

.no-js .inputfile + label {
     display: none;
}

/****/
ul.categries-list {
     list-style: none;
     padding: 10px 20px 0px;
     margin: 0px;
     display: inline-block;
}

ul.categries-list li {
     float: left;
     width: 100%;
     margin: 0 0 5px;
     position: relative;
}

ul.categries-list li a {
     float: left;
     width: auto;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     color: #636363;
     padding-left: 20px;
}

ul.categries-list li a:before {
     float: left;
     content: "\f192";
     margin: 0px;
     color: currentColor;
     font-family: "FontAwesome";
     left: 0px;
     position: absolute;
}

.follow-btn {
     margin: 10px 0px 0px 20px;
     display: inline-block;
}

.btn_follow {
     background: #fcba4a;
     color: #fff !important;
     padding: 7px 20px;
     display: inline-block;
     border-radius: 2px;
     border: none;
     text-decoration: none !important;
}

ul.dash_tab li {
     width: 100%;    /* border-top: 1px solid #37414b; */
     border-bottom: 1px solid #6d6d6d;
     margin: 0px;
}

ul.dash_tab {
     border-bottom: none;
}

ul.dash_tab li a {
     color: #c7c7c7;
     margin: 0px;
     border: none;
     font-size: 13px;
}

.box_tabUser {
     background: #2b2b2b;
}

.box_tabUser .nav-tabs>li.active>a, .box_tabUser .nav-tabs>li.active>a:focus, .box_tabUser .nav-tabs>li.active>a:hover {
     color: #fff;
     background-color: #7cbe49;
     border: none;
     border-radius: 0px;
}

.box_tabUser .nav-tabs>li>a:focus, .box_tabUser .nav-tabs>li>a:hover {
     color: #fff;
     background-color: #7cbe49;
     border-radius: 0px;
     border: none;
}

.box_tabUser .tab-content {
     background: #fff !important;
     display: inline-block;
     width: 100%;
     min-height: 600px;
}

.box_tabUser h3 {
     color: #fff;
     padding: 10px 20px;
     font-size: 20px;
     margin: 0px;
     border-bottom: 1px solid #6d6d6d;
}

.box_tabUser .col-xs-9 {
     padding-left: 0px !important;
     width: -webkit-calc(100% - 250px);
     width: -moz-calc(100% - 250px);
     width: calc(100% - 250px);
}

.box_tabUser .col-xs-3 {
     padding-right: 0px;
     max-width: 250px;
}

.box_welCome {
     float: right;
     margin: 25px 0px 0px 15px;
     min-height: auto;
     background: none;
     border: none;
}

.box_welCome ul.nav > li > a {
     color: #ffffff;
     background: #000;
     border: 1px solid #fff;
     padding: 8px 15px;
}

.box_welCome ul.nav > li.open > a {
     color: #ffffff;
     background: #000;
     border: 1px solid #fff;
     padding: 8px 15px;
}

.box_welCome ul.dropdown-menu {
     border-radius: 0px;
     padding: 0px;
}

.box_welCome ul.dropdown-menu li + li {
     border-top: 1px solid #ccc;
}

.box_welCome ul.dropdown-menu li a {
     padding: 10px 15px;
}

/**About-page**/
section.bcrumb-sec {
     background: url(../images/about_bg.jpg);
     height: 250px;
     padding: 0px;
     background-size: 100%;
     background-attachment: fixed;
     background-position: center bottom;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     background-repeat: no-repeat;
}

.breadcrumb-content.text-center h2.page-cat {
     color: #fff;
}

.page-cat {
     font-size: 28px;
     font-weight: 400;
     letter-spacing: 1px;
     text-transform: uppercase;
}

.page_links {
     margin-top: 11px;
     font-size: 14px;
}

.breadcrumb-content ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

.text-center .breadcrumb-list>li {
     display: inline-block;
     float: none;
     margin: 0 10px;
     position: relative;
}

.text-center .breadcrumb-list li a {
     color: #fff;
}

.breadcrumb-list li:last-child {
     color: #fff;
}

.breadcrumb-list>li::before {
     bottom: -1px;
     content: "/";
     position: absolute;
     left: -15px;
}

section.bcrumb-sec:before {
     background: rgba(0, 0, 0, 0.45);
     height: 100%;
     padding: 50px 0;
     position: absolute;
     content: "";
     width: 100%;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
}

section.form-sec {
     padding: 50px 0;
     background: #eaeaea;
}

.head-main-sec {
     text-align: center;
     padding: 0px 0px 20px;
}

.about_contant {
     max-width: 800px;
     margin: 0 auto;
     text-align: center;
}

.about_contant h2 span {
     font-size: 13px;
     display: block;
     margin: 11px 0 0 0;
}

.about_contant p {
     font-size: 13px;
     line-height: 25px;
     letter-spacing: 1px;
     text-align: center;
}

.about_contant img {
     max-width: 200px;
     margin: 10px 0 0 0;
}

section.who_we {
     padding: 40px 0px;
}

.about-who h3 {
     margin: 0 0 15px 0;
     padding-bottom: 15px;
     position: relative;
}

.about-who h3:after {
     position: absolute;
     content: '';
     background: rgba(51, 51, 51, 0.72);
     height: 2px;
     width: 50px;
     left: 0;
     bottom: 0;
}

.about-who ul {
     padding: 0px;
}

.about-who p {
     font-size: 13px;
     line-height: 24px;
     color: #777777;
}

.about-who ul li {
     list-style: none;
     position: relative;
     padding: 9px 0 9px 25px;
     margin: 0;
     font-size: 13px;
     color: #777777;
}

.about-who ul li:after {
     position: absolute;
     height: 12px;
     width: 12px;
     content: "\f00c";
     font-family: FontAwesome;
     left: 0;
     top: 13px;
     border-radius: 3px;
     color: #000;
     font-size: 10px;
     line-height: 8px;
}

/****/

/**Contact-page**/
section.contact_form {
     float: left;
     width: 100%;
     margin: 0px;
     padding: 60px 0px;
}

.about_are {
     margin: 0px 0px 15px 0px;
     padding-bottom: 15px;
     position: relative;
}

.about_are:after {
     position: absolute;
     content: '';
     background: rgba(51, 51, 51, 0.72);
     height: 2px;
     width: 50px;
     left: 0px;
     bottom: 0px;
}

.info {
     padding: 0px;
     margin-bottom: 20px;
}

.info li {
     list-style: none;
     border-bottom: 1px solid #eeeeee;
     overflow: hidden;
     padding: 15px 0px;
     display: flex;
     align-items: center;
}

.info li .icon {
     float: left;
     margin-right: 15px;
     font-size: 26px;
     color: #696969;
     line-height: 1;
}

.info li .icon .fa-envelope {
     font-size: 22px;
}

.info li .content p {
     margin: 0px;
     color: #696969;
     font-size: 14px;
     font-weight: 600;
}

.contact-info .info li .content {
     display: table;
}

.contact_02_social_media ul {
     padding: 0px;
}

.contact_02_social_media ul li {
     display: inline;
     margin-right: 10px;
     float: left;
}

.contact_02_social_media ul li a {
     text-decoration: none;
     border: solid 1px #999;
     border-radius: 100%;
     overflow: hidden;
     color: #000;
     transition: all ease-in-out 400ms;
     float: left;
     width: 50px;
     height: 50px;
     font-size: 19px;
     position: relative;
     margin-bottom: 15px;
     text-align: center;
}

.contact_02_social_media ul li a:hover {
     transform: rotate(360deg);
     transition: all ease-in-out 400ms;
     background: #fcba4a;
     color: #101010;
     border-color: #fcba4a;
}

.contact_02_social_media .fa {
     text-decoration: none;
     position: absolute;
     top: 15px;
     left: 0px;
     right: 0;
     bottom: 0;
     margin: 0px auto;
     width: 16px;
}

.or_heading {
     float: left;
     width: 100%;
     margin: 0px;
     padding: 0px;
     letter-spacing: 0.6px;
     text-align: center;
     position: relative;
     height: 340px;
}

.or_heading::before {
     position: absolute;
     background: #000;
     width: 1px;
     content: '';
     top: 0;
     left: 33px;
     right: 0;
     bottom: 0;
     margin-top: 30px;
}

.or_heading h3 {
     margin: 0px;
     padding: 0px;
     border-radius: 100%;
     background: #fcb436;
     color: #fff;
     width: 65px;
     height: 65px;
     padding-top: 16px;
     vertical-align: middle;
     position: absolute;
     margin: 0 auto;
     top: 43%;
     left: 0;
     right: 0;
     bottom: 0;
     border: 5px solid #fff;
     border-top: 5px solid #fff;
     font-family: quicksand;
     font-weight: 500;
     font-size: 20px;
}

.contact_form_section input[type="submit"] {
    border-radius:0px;
    background-color:#7cbe49;
    border:1px solid #63a033;
    color:#fff;	     
     border:none;
     padding:10px 20px 10px 20px;
     font-size:16px;
     text-transform:uppercase;
     margin-top:15px;
     position:relative;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     border-radius: 0px;
	}
.contact_form_section input[type="submit"]:hover{
    background-color:#609239 !important;
	}
.contact_form_section textarea {
     border-radius: 0px;
     box-shadow: none;
     padding-left: 45px;
     color: #333;
	}
.contact_form_section {
     margin-top: 40px;
	}

section.contact-map-main {
     display: inline-block;
     width: 100%;
}

.contact_form_section .input-filed input {
     color:#333;
     padding:10px 10px 10px 45px;
	 background:#e4e4e4;
	}
.contact_form_section .input-filed img.icon {
     top:24px;
     left:0px;
     background:#0000;
     padding:8px 7px 8px;
	}
.contact_form_section .input-filed textarea {
     height:110px;
     box-shadow:none;
     background:#e4e4e4;
	}
.contact_form_section .text_areaicon img.icon {
     padding:11px 7px 42px;
	}
.contact_form_section .input-filed textarea {
     border: 1px solid rgba(183, 183, 183, 0.54);
	}
.contact_form_section input[type="submit"]:hover {
     background: #000;
     color: #fff;
	}

/****/

/**News Page**/
section.wel-come {
     padding: 50px 0;
     background: rgba(204, 204, 204, 0.25);
}

article.cmsmasters_post_masonry {
     display: inline-block;
     overflow: hidden;
     width: 100%;
     margin-bottom: 25px;
     box-shadow: -1px 0px 3px 1px #ccc;
}

.cmsmasters_img_link img {
     width: 100%;
}

.cmsmasters_post_header {
     padding: 15px 20px 20px;
     background: #fff;
     box-shadow: 0px 0px 0px 1px #ccc !important;
}

h5.cmsmasters_post_title a {
     font-size: 18px;
     padding: 15px 0;
     margin: 0;
     vertical-align: middle;
     overflow: hidden;
     line-height: 30px;
     color: #777777;
}

h5.cmsmasters_post_title a:hover {
     color: #000;
     text-decoration: none;
}

.cmsmasters_post_content p {
     font-size: 13px;
     font-weight: 400;
     line-height: 18px;
     text-align: justify;
     color: #777777;
}

abbr.published {
     font-size: 15px;
     line-height: 24px;
     font-weight: 600;
     font-style: normal;
     text-transform: none;
     text-decoration: none;
     letter-spacing: 0;
     border: none !important;
     color: #6f6b67 !important;
}

span.cmsmasters_post_likes a {
     color: #3c3834;
     font-size: 13px;
     margin-left: 5px;
}

.cmsmasters_comments a {
     color: #3c3834;
     font-size: 13px;
     margin-left: 5px;
}

span.cmsmasters_post_likes {
     margin-left: 10px;
}

.cmsmasters_comments {
     margin-left: 10px;
}

.search-form input.search-field.form-control {
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     border: 1px solid #ccc;
     box-shadow: none;
     background: #fff;
     height: 55px;
     color: #777777;
}

.btn_ser button.btn.btn-default {
     min-height: 55px;
}

.product-thumb {
     width: 30%;
     float: left;
     border: 1px solid transparent;
     -webkit-transition: all .4s;
     transition: all .4s;
     margin-right: 5%;
     padding: 0px;
}

.product-thumb a img {
     width: 100%;
}

.product-thumb a img {
     width: 100%;
     border: 1px solid #ccc;
}

.product-details {
     width: 65%;
     float: left;
}

ul.list_product {
     list-style: none;
     display: inline-block;
     margin: 0px;
     padding: 0px;
}

.product-details h4 a {
     font-size: 14px;
     color: #444;
     text-decoration: none;
     font-weight: 600;
}

.product-details h4 {
     margin-top: 0px;
}

.box_post {
     display: inline-block;
     width: 100%;
     margin: 10px 0px 0px;
}

p.product-date {
     margin: 0px;
     font-weight: 500;
     font-size: 13px;
}

.box_post h3 {
     border-bottom: 1px solid #ccc;
     margin-bottom: 20px;
     padding-bottom: 10px;
}

.widget_search h3 {
     border-bottom: 1px solid #ccc;
     margin-bottom: 20px;
     padding-bottom: 10px;
     margin-top: 0px;
}

ul.list_product li {
     display: inline-block;
     width: 100%;
     margin-bottom: 5px;
}

/****/

/*How It Work page*/
.acm-head h2 {
     font-size: 40px;
     font-weight: 200;
     letter-spacing: 0.6px;
     line-height: 48px;
     margin: 25px 0 25px;
}

.acm-head h2 strong {
     display: block;
}

.acm-txt-sub p {
     line-height: 25px;
     letter-spacing: 0.3px;
}

section.about-cont-main {
     background: url(../images/about.jpg);
     padding: 20px 0;
     background-size: 100%;
     background-attachment: fixed;
     position: relative;
     margin-top: 2px;
}

section.about-cont-main::before {
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background: rgba(0, 0, 0, 0.66);
     width: 50%;
}

section.about-cont-main .acm-txt {
     color: #fff;
}

.acm-txt-sub ul {
     margin: 0;
     padding: 0;
}

.acm-txt-sub ul li {
     list-style: none;
     padding-left: 30px;
     position: relative;
}

.acm-txt-sub ul li::before {
     content: '';
     position: absolute;
     left: 0;
     top: 5px;
     width: 10px;
     height: 10px;
     background: #b3b3b3;
}

.about-img img {
     width: 100%;
}

.about-img {
     margin-top: 30px;
     margin-right: 30px;
     border: 10px solid rgb(228, 228, 228);
}

.acm-txt-sub ul li p {
     line-height: 22px;
     font-size: 13px;
     letter-spacing: 0;
}

section.about-cont-sub {
     padding: 20px 0;
}

section.firm-value {
     padding: 20px 0;
     background: #f3f3f3;
}

.fv-sub p {
     font-size: 13px;
     letter-spacing: 0.3px;
     line-height: 22px;
}

.fv-sub {
     padding-left: 65px;
     position: relative;
}

.fv-sub h3 {
     font-weight: 700;
     font-size: 16px;
}

section.testimonial-abt {
     text-align: center;
}

.test-sub {
     max-width: 700px;
     margin: 25px auto 70px;
     position: relative;
}

section.testimonial-abt .owl-buttons {
     top: 0;
}

section.testimonial-abt .owl-buttons .owl-prev, section.testimonial-abt .owl-buttons .owl-next {
     color: #333 !important;
}

.author-name {
     font-size: 13px;
     font-weight: 600;
     color: #a0a0a0;
}

.author-name span {
     font-weight: 400;
}

.test-sub::before {
     content: "\f10d";
     position: absolute;
     left: -70px;
     top: -37px;
     font-family: fontAwesome;
     font-size: 70px;
     color: #eaeaea;
     z-index: -1;
}

.test-sub p {
     letter-spacing: 0.3px;
     line-height: 26px;
     font-style: italic;
}

section.testimonial-abt .owl-pagination {
     max-width: initial;
     text-align: center;
     display: block;
}

/*How it Work End*/

/**ARDN**/
ul.login-div li button.user-btn a {
     color: #fff !important;
}

ul.login-div li button.user-btn a:hover {
     color: #fff !important;
     text-decoration: none;
}

.main_personal h4.hed_form {
     padding: 20px;
     background: #f9f9f9;
     color: #757575;
     border-radius: .25rem .25rem 0 0;
     border-bottom: 1px solid #f3f3f3;
     margin-bottom: 15px;
     margin: 0px 0px 25px;
}

.main_personal {
     margin-bottom: 30px;
     border: none;
     box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
     background-color: #fff;
     border-radius: .25rem;
     display: inline-block;
     width: 100%;
     padding: 0px 0px 20px 0px;
}

.main_personal .form-group {
     margin-left: 0px;
     margin-right: 0px;
}

.main_personal input {
     height: 40px !important;
     width: 100% !important;
     margin: 0px;
     border: 1px solid rgba(183, 183, 183, 0.54) !important;
     padding: 5px 15px !important;
     border-radius: 0px !important;
     box-shadow: none !important;
}

.main_personal label {
     text-align: left !important;
     color: #636363;
     font-weight: 600;
}

.primary_level input {
     width: 25px !important;
     height: inherit !important;
     margin: 0px 0px 0px !important;
     border-radius: 0px !important;
     text-align: left !important;
}

.primary_level {
     padding-top: 7px;
}

.up_butOne {
     background: #fcba4a;
     border: none;
     padding: 10px 20px;
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
     border-radius: 0px;
}

.up_butOne:hover {
     background: #000;
     color: #fff;
}

.box_imgUpload img {
     height: 100px;
     width: 100px;
     border: 1px solid #ddd;
     padding: 5px;
     margin: 10px 0px 0px;
}

.box_imgUpload input {
     padding-top: 8px !important;
}

.box_txti textarea {
     min-height: 40px !important;
     width: 100% !important;
     margin: 0px;
     border: 1px solid rgba(183, 183, 183, 0.54) !important;
     padding: 5px 15px !important;
     border-radius: 0px !important;
     box-shadow: none !important;
}

.img_attach label span a {
     color: #000 !important;
}

.rag-form.teacher form {
     padding-top: 15px;
}

.up_but {
     background: #fcba4a;
     border: none;
     padding: 10px 20px;
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
     border-radius: 2px;
}

.mCustomScrollbar .input-filed {
     position: relative;
     color: #000;
}

.up_but:hover {
     background: #000;
     color: #fff;
}

.box_parGuar input {
     width: 25px !important;
}

.box_monthYear {
     height: 40px !important;
     width: 100% !important;
     margin: 0px;
     border: 1px solid rgba(183, 183, 183, 0.54) !important;
     padding: 5px 15px !important;
     border-radius: 0px !important;
     box-shadow: none !important;
}

.navi .box_welCome {
     margin-top: 12px;
}

.general-info .faq-profile-btn {
     float: right;
     margin-top: -5px;
}

.general-info h5.card-header-text {
     display: inline-block;
}

.box_payment {
     margin: 45px 0px;
}

.box_payment .form-group {
     display: inline-block;
     width: 100%;
}

.main_submit input.up_but {
     width: auto !important;
     border: none !important;
     margin-left: -5px;
}

.rag-form select.box_monthYear {
     border: 1px solid #c1c1c1 !important;
     color: #3f3f3f;
     margin-bottom: 20px;
     padding: 5px 10px;
     background: #e4e4e4 url(../images/arrow-d.png) no-repeat;
     box-shadow: none;
     background-size: 12px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background-size: 16px;
     background-position-x: 98%;
     background-position-y: 12px;
}

.selMul {
     background: #292624;
     border: 0px solid #282422 !important;
     color: #fff;
     padding: 0px !important;
}

.selMul button {
     border-radius: 0px;
     height: 40px;
     background: transparent;
     border: 1px solid #282422 !important;
     color: #fff;
}

.selMul button:hover {
     background: transparent !important;
     border: 1px solid #282422 !important;
     color: #fff !important;
}

.selMul.open .dropdown-toggle {
     background: transparent !important;
     border: 1px solid #282422 !important;
     color: #fff !important;
     box-shadow: none !important;
}

.selMul .dropdown-menu.open ul li a {
     color: #fff !important;
}

.selMul .dropdown-menu.open ul li a {
     font-size: 12px;
     padding-top: 8px;
     padding-bottom: 8px;
     background: none;
}

.selMul .dropdown-menu.open ul {
     background: #292624;
}

.selMul .dropdown-menu.open {
     border: 1px solid #fff;
     padding: 0px;
     background: #292624;
     border-radius: 0px;
}

.selMul .dropdown-menu.open ul li + li {
     border-top: 1px solid #fff;
}

/* piyush 24 jan */
.card-header {
     padding: 20px;
     background: #f9f9f9;
     color: #757575;
     border-radius: .25rem .25rem 0 0;
     border-bottom: 1px solid #f3f3f3;
     margin-bottom: 15px;
}

.f_name {
     padding: 7px 5px !important;
     color: #636363;
     font-weight: 700;
}

.f_nameOne {
     padding: 7px 5px !important;
     color: #636363;
}

.f_nameOne a {
     color: #636363;
}

.social-profile {
     margin: 0px 15px;
     padding-top: 15px;
}

.card {
     margin-bottom: 30px;
     border: none;
     box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
     background-color: #fff;
     border-radius: .25rem;
}

.social-profile img {
     width: 100%;
}

.card-block {
     padding: 15px;
}

.card-block h4 {
     color: #000;
     font-weight: 400;
     margin-top: 0px;
}

.card-block h5 {
     font-weight: 400;
     margin-top: 0px;
}

.card-block p {
     font-size: 13px;
}

ul.list_prof {
     list-style: none;
     margin: 10px 0px;
     padding: 0px;
}

ul.list_prof li {
     margin-bottom: 5px;
}

ul.list_prof li .fa {
     margin-right: 5px;
}

ul.list_prof li a {
     color: #636363;
}

.faq-profBtn {
     background: #fcba4a;
     color: #fff !important;
     padding: 5px 20px;
     display: inline-block;
     border-radius: 2px;
     border: none;
}

.general-info {
     margin-bottom: 30px;
     border: none;
     box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
     background-color: #fff;
     border-radius: .25rem;
     display: inline-block;
     width: 100%;
     padding-bottom: 30px;
}

.card-header h5 {
     color: #636363;
     font-size: 16px;
     margin: 0px;
     font-weight: 700;
}

.main-map-sec_new {
     width: 100%;
     float: left;
     margin: 0px;
     padding: 0px;
     margin-top: 20px;
}

.advancBtn {
     width: 100%;
     display: inline-block;
}

.advancBtn a {
     height: 40px;
     width: 100%;
     margin-top: 20px;
     background: #fff;
     border: 1px solid #404040;
     text-align: center;
     transition: all 300ms ease-in-out;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     display: inline-block;
     line-height: 40px;
     text-decoration: none;
     color: #333 !important;
}

/**Collapse**/
.faq_accord .panel-group .panel {
     border-radius: 0;
     box-shadow: none;
     border-color: #EEEEEE;
}

.faq_accord .panel-default > .panel-heading {
     padding: 0;
     border-radius: 0;
     color: #212121;
     background-color: #FAFAFA;
     border-color: #EEEEEE;
}

.faq_accord .panel-title {
     font-size: 14px;
}

.faq_accord .panel-title > a {
     display: block;
     padding: 12px 15px;
     text-decoration: none;
     background: #cf9533;
     color: #fff;
     font-size: 18px;
}

.faq_accord .more-less {
     color: #fff;
     font-size: 14px;
     float: right;
}

.faq_accord .panel-default > .panel-heading + .panel-collapse > .panel-body {
     border-top-color: #EEEEEE;
}

.faq_accord.demo {
     padding-top: 30px;
     padding-bottom: 20px;
}

.faq_accord .panel-group .panel+.panel {
     margin-top: 10px;
}

.faq-main .about-img {
     margin-bottom: 30px;
}

/****/

/*.sidebar_fixed {
 position: fixed;
 top: 70px;
 transform: translateZ(0);
 -webkit-transform: translateZ(0);
 z-index: 99;
}
 div#sticky {
 padding: 0;
 width: 360px;
 float: left;
}
 #sticky_new {
 float: left;
 width: 360px;
 margin: 0px;
 padding: 0px;
}
 #sticky_new.stick_main {
 position: fixed;
 top: 92px;
 z-index: 10;
 border-radius: 0 0 0.5em 0.5em;
}
*/
section.main-map-sec {
     display: inline-block;
     width: 100%;
}

#main_list_sec {
     min-height: 550px;
}

/****/
@media screen and (max-width:1199px) {

     /*.navi ul.main-nav li a, ul.main-nav li a {
          padding: 37px 10px;
     }
      .navi ul.login-div {
          margin: 23px 0 0;
     }
     */
     .container {
          width: 100%;
          max-width: 1170px;
     }

     .contant h3 {
          font-size: 14px;
     }

     .contant h3 span a {
          font-size: 11px;
     }

}

@media screen and (max-width:991px) {
     button.read-m {
          font-size: 13px;
     }

     .contant h3 span {
          float: none;
          display: block;
     }

     .contant h2 {
          font-size: 17px;
     }

     .rat h4 {
          font-size: 14px;
     }

     .who-we-img {
          width: 100%;
     }

     .slider-containt h2 {
          font-size: 35px;
     }

     .slider-containt button {
          font-size: 14px !important;
     }

     .heading-section h2 {
          font-size: 32px;
     }

     section.bcrumb-sec {
          background-repeat: no-repeat;
          background-size: cover;
     }

     section.bcrumb-sec::before {
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
     }

     ul.login-div {
          margin: 20px auto 0px;
     }

     .navbar-brand img {
          max-width: 160px;
     }

     .navi ul.main-nav li a, ul.main-nav li a {
          padding: 27px 10px;
     }

     .navi .navbar-brand img {
          max-width: 150px;
     }

     .navi ul.login-div {
          margin: 20px 0px 0px;
     }

     .stu-coment h4 {
          line-height: 18px;
          letter-spacing: 0.8px;
          font-size: 13px;
     }

     .footer-link-social ul li p {
          font-size: 14px;
     }

     .news_letter_heading h2 {
          font-size: 14px;
          white-space: nowrap;
     }

     .new_letter_input button.btn.btn-default {
          padding: 12px 10px;
          font-size: 12px;
          letter-spacing: 1.0px;
     }

     .news-letter input.form-control {
          padding: 10px 90px 10px 32px;
     }

     .contant h3 {
          font-size: 14px;
     }

     .contant h3 span a {
          font-size: 11px;
     }

     ul.login-div li a.user-btn {
          padding: 5px 10px;
          font-size: 13px;
     }

     .user-btn.login {
          margin-right: 10px;
     }

     #main_header_id .user-btn.login::after {
          right: -16px;
          width: 19px;
          top: 14px;
     }

}

@media screen and (max-width:850px) {
     #cate-slid2 .owl-prev {
          left: -5px;
     }

     #cate-slid2 .owl-next {
          right: -5px;
     }

     #cate-slid .owl-next {
          right: -5px;
          background: #000 !important;
          border-radius: 0;
     }

     #cate-slid .owl-prev {
          left: -5px;
          background: #000 !important;
          border-radius: 0;
     }

     .cate-slider .col-sm-3 {
          width: 50%;
          float: left;
     }

     .contant h3 span {
          float: right;
     }

}

@media screen and (max-width:820px) {
     .rag-sec .col-sm-6 {
          float: left;
          width: 100%;
          display: block;
     }

     .col-sm-6.two-6 {
          padding: 50px 70px;
     }

}

@media screen and (max-width:767px) {
     section.popu-countries {
          padding: 0px 0 20px;
     }

     .about_are {
          padding-bottom: 10px;
          font-size: 20px;
     }

     section.contact_form {
          padding: 30px 0px 20px;
     }

     .or_heading {
          width: 100%;
          margin: 0px;
          padding: 0px;
          height: 100px;
     }

     .or_heading::before {
          width: 100%;
          top: 20px;
          left: 0px;
          right: 0;
          bottom: 0;
          margin-top: 30px;
          height: 1px;
     }

     .or_heading h3 {
          padding-top: 15px;
          top: 18px;
          left: 0;
          right: 0;
          bottom: 0;
     }

     .navbar-default .navbar-toggle .icon-bar {
          background-color: #fff;
     }

     a.navbar-brand {
          padding: 15px 0px 15px 0px;
     }

     .navbar-brand img {
          max-width: 200px;
     }

     #main_header_id ul.login-div {
          margin: 0px auto 20px !important;
          text-align: left;
          float: left !important;
     }

     .about_contant h2 {
          font-size: 20px;
     }

     .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
          background-color: transparent;
     }

     .working_hours .col-sm-6 {
          width: 50%;
          float: left;
     }

     .f_heading h3 {
          font-size: 18px;
     }

     .heading-section h2 {
          font-size: 26px;
     }

     footer {
          padding: 20px 0px 0px;
     }

     .f_middle p {
          padding: 10px 0px 20px;
     }

     .footer-social {
          margin-top: 20px;
          padding: 20px 0 0px;
     }

     .new_letter_main .col-sm-4.col-md-4 {
          max-width: 160px;
          float: left;
     }

     .new_letter_main .col-sm-8.col-md-8 {
          width: calc(100% - 160px);
          float: right;
     }

     .new_letter_main {
          max-width: 450px;
          margin: 10px auto;
          float: none !important;
          display: block;
     }

     .footer-bottom {
          padding: 5px 0px 5px;
     }

     .stu-coment h4 {
          line-height: 20px;
          letter-spacing: 0.8px;
          font-size: 13px;
     }

     .map-form {
          padding: 30px;
          background: #fff;
          margin: 0 0 0 0;
     }

     .news_letter_heading h2 {
          margin: 15px 0;
          text-align: center;
     }

     .footer-link-social ul li:nth-child(1) {
          text-align: center;
     }

     .footer-link-social ul li p {
          margin: 12px 0;
     }

     .footer-link-social ul {
          text-align: center;
     }

     .f_heading h3 {
          margin: 20px 0;
          text-align: center;
     }

     .f_middle ul {
          text-align: center;
     }

     .f_middle p {
          padding: 30px 0;
          text-align: center;
          max-width: 600px;
          margin: 0 auto;
     }

     .footer-logo h3 {
          margin: 20px 0 0;
          text-align: center;
     }

     .slider-containt h2 {
          font-size: 25px;
          letter-spacing: 1px;
          margin: 0 0 30px 0;
     }

     .slider-containt p {
          font-size: 14px;
          letter-spacing: 0.6px;
          line-height: 20px;
          font-weight: 500;
          margin: 0 0 25px;
     }

     ul.login-div li button.user-btn {
          padding: 5px 18px;
          font-size: 13px;
     }

     .home_slider button.user-btn.login:after {
          display: none;
     }

     .slider-containt {
          position: absolute;
          padding: 100px 60px;
          top: 24%;
          text-align: center;
     }

     .home_slider ul.login-div li {
          text-align: center;
          float: none;
          margin: 0;
     }

     .home_slider ul.login-div li button.user-btn {
          margin: 0 0 20px;
     }

     ul.nav.navbar-nav.main-nav {
          display: block;
          margin-bottom: 15px;
     }

     ul.nav.navbar-nav.main-nav li a {
          padding: 10px 0px;
          text-align: left;
     }

     button.user-btn.login:after {
          top: 15px;
     }

     .navbar-toggle {
          margin-top: 10px;
          margin-right: 10px;
     }

     .cate-slider .owl-next {
          right: 0;
          background: #fff !important;
          border-radius: 0 !important;
     }

     .cate-slider .owl-prev {
          left: 0;
          background: #fff !important;
          border-radius: 0 !important;
     }

}

@media screen and (max-width:480px) {
     .cate-slider .col-sm-3 {
          width: 100%;
     }

     section.bcrumb-sec {
          height: 240px;
     }

     section.bcrumb-sec::before {
          padding: 50px 0;
     }

     .page-cat {
          font-size: 24px;
     }

     .new_letter_main .col-sm-4.col-md-4 {
          max-width: inherit;
          float: left;
          width: 100%;
          text-align: center;
     }

     .new_letter_main .col-sm-8.col-md-8 {
          width: 100%;
          float: right;
     }

     .about-who h3 {
          font-size: 20px;
     }

     .footer-logo h3 {
          font-size: 20px;
     }

     .f_middle p {
          padding: 10px 0;
          margin: 0 auto;
          font-size: 13px;
          line-height: 20px;
     }

     ul.login-div li a.user-btn {
          font-size: 12px;
     }

     ul.main-nav li a {
          font-size: 13px;
     }

     .contact_02_social_media .fa {
          top: 12px;
     }

     .contact_02_social_media ul li a {
          width: 40px;
          height: 40px;
          font-size: 14px;
     }

}

label.error {
     color: red !important;
}

/**Appointment page**/
.dash-counter {
     margin-bottom: 30px;
     padding: 15px;
     box-shadow: 1px 1px 5px #d8d8d8;
     background: #ffffff;
     display: inline-block;
     width: 100%;
     min-height: 550px;
}

.dash-counter h2 {
     margin: 0px 0px 25px;
     font-weight: 300;
     font-size: 24px;
     color: #636363;
     padding-left: 15px;
     border-left: 2px solid rgba(0, 0, 0, 0.13);
}

.user-table.table-responsive th {
     color: #333;
     text-decoration: none;
     font-weight: 400;
     font-size: 16px;
     background: #f1f4f7;
}

.Schedule_main_one {
     padding: 0px 15px;
}

.users-main .user-table {
     overflow-x: visible;
}

.user-table.table-responsive th a {
     color: #333;
     text-decoration: none;
     font-size: 15px;
     font-weight: 600;
}

a.btn_appi {
     background: #fcba4a;
     padding: 5px 10px;
     border-radius: 2px;
     color: #fff;
     text-decoration: none;
     font-size: 13px;
     display: inline-block;
}

.read-more a {
     background: #fcba4a;
     padding: 10px 20px;
     display: inline-block;
     border-radius: 1px;
     color: #fff;
     font-size: 15px;
     text-transform: uppercase;
}

.read-more {
     text-align: center;
}

.users-main .table >tbody > tr > td {
     vertical-align: middle;
}

/**Sheet issues**/
.rag-sec label {
     font-weight: 500 !important;
}

.img_attachone label {
     cursor: pointer;
}

.img_attach label {
     cursor: pointer;
}

.teacher .input-filed input {

     /*     cursor: pointer;*/
}

/**End**/

/**28-3-2018**/
.advancBtn a:hover {
     background: #000;
     color: #fff !important;
}

.appointment .modal-dialog .modal-content {
     display: inline-block;
     width: 100%;
     border: none;
     background-color: #fff;
     border-radius: .25rem;
}

.appointment .modal-header {
     border-bottom: 1px solid #e5e5e5;
     padding: 15px 20px;
     background: #f9f9f9;
     color: #757575;
     margin: 0px 0px 20px;
}

.appointment #appointment_form input, .appointment #appointment_form select {
     height: 40px !important;
     width: 100% !important;
     margin: 0px;
     border: 1px solid rgba(183, 183, 183, 0.54) !important;
     padding: 5px 15px !important;
     border-radius: 0px !important;
     box-shadow: none !important;
}

.appointment #appointment_form {
     display: inline-block;
     width: 100%;
}

.appointment #appointment_form label {
     font-weight: normal !important;
}

.appointment .close {
     opacity: 1;
}

.appointment .modal-body {
     padding: 15px 15px 20px;
     display: inline-block;
     width: 100%;
}

.appointment #appointment_submit {
     margin: 0px !important;
     background: #fcba4a;
     color: #fff !important;
     padding: 5px 20px;
     display: inline-block;
     border-radius: 2px;
     border: none;
}

.appointment #appointment_submit:hover {
     background: #000;
     color: #fff !important;
}

.faq-profBtn:hover {
     background: #000;
     color: #fff !important;
}

.sidebar-cls {
     background: #2e363f;
}

.list_of_lesson .row {
     border-top: 1px solid #ccc;
     padding-top: 10px;
     padding-bottom: 10px;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
}

.list_of_lesson .row label.col-md-4 {
     border-right: 1px solid #ccc;
}

.list_of_lesson .row + .row {
     border-bottom: 1px solid #ccc;
}

.list_of_lesson {
     padding: 0px 25px 0px;
     margin-bottom: 35px;
}

.rating_spl #rating_form input {
     height: 40px !important;
     width: 100% !important;
     margin: 0px;
     border: 1px solid rgba(183, 183, 183, 0.54) !important;
     padding: 5px 15px !important;
     border-radius: 0px !important;
}

.rating_spl #rating_form textarea {
     width: 100% !important;
     margin: 0px;
     border: 1px solid rgba(183, 183, 183, 0.54) !important;
     padding: 5px 15px !important;
     border-radius: 0px !important;
}

#rating_form .rating-user-img {
     border-radius: 50%;
     display: inline-block;
     overflow: hidden;
     width: 70px;
     height: 70px;
     margin: 0px !important;
     float: left;
}

.rating_desc .rating .star {
     font-size: 16px;
}

.rating_desc .rating-container {
     display: inline-block;
     margin-right: 10px;
}

.review_desc {
     margin: 15px 0px;
}

#rating_form .form-row + .form-row {
     border-top: 1px solid #ccc;
     display: inline-block;
     width: 100%;
     padding-top: 25px;
}

.rating-user-img img {
     width: 100%;
     height: 100% !important;
}

#rating_form {
     max-height: 300px;
     overflow: auto;
}

/* ----------swati-----------------*/
.undefined.clear-rating-active {
     display: none;
}

span.undefined {
     display: none;
}

.rating-cls {
     float: right;
}

/****/
.input-filed input[type="radio"] {
     width: auto;
     margin-right: 10px;
     vertical-align: top;
}

.guru_register_height .mCSB_dragger_bar {
     background: #000 !important;
}

.length_cls p {
     margin: 0;
     color: #5d5d5d;
     margin-bottom: 10px;
     float: left;
     width: 100%;
}

.radio-box {
     color: #000;
     width: 50%;
     float: left;
}

.radio-box input[type="radio"] {
     margin-right: 12px;
}

.length_cls {
     overflow: hidden;
}

.theam-moadl .modal-header {
     background: #fbb949;
}

.theam-moadl .modal-content {
     border-radius: 4px;
     overflow: hidden;
}

.theam-moadl h3 {
     color: #000;
}

.theam-moadl .modal-body {
     overflow: hidden;
}

.theam-moadl button.close {
     margin: 6px 0 0;
}

#inline9 input#whatsapp_num {
     width: 100%;
     margin: 10px 0 0;
     padding: 5px;
     height: 38px;
}

.theam-moadl p {
     color: #5d5d5d;
}

#whatsappModal .modal-dialog {
     max-width: 460px;
     width: 100%;
}

.theam-moadl  button.close {
     margin: 7px 0 0;
}

.confirm {
     background: #fbb949;
     color: #000;
     text-transform: capitalize;
     letter-spacing: 0.5px;
}

.length_cls .checkbox input[type="checkbox"] {
     margin: 0 5px 0 0;
     position: static;
}

.length_cls .checkbox {
     float: left;
     color: #000;
     width: 100%;
     margin: 0 0 8px 0;
}

.theam-moadl .modal-body.mCustomScrollbar {
     max-height: 590px;
}

.theam-moadl .modal-body .mCSB_dragger_bar {
     background: #000 !important;
}

.input-filed label.error {
     position: absolute;
     width: 100%;
     left: 0;
     bottom: 2px;
     margin: 0;
     font-size: 13px;
}

.teacher label {
     width: 100%;
     color: #000;
}

.input-filed.img_attach img {
     top: 8px;
}

#addcontent2 a {
     padding: 15px;
     height: 42px;
     width: 42px;
     background: #fcba4a;
     top: 0;
     right: 0;
     position: absolute;
     color: #fff;
}

.alert.alert-success.message {
     z-index: 9999;
     position: relative;
     border-radius: 5px;
     max-width: 950px;
     margin: 0 auto 20px;
}

div#addcontent2 {
     position: relative;
}

.rag-sec .alert.message {
	padding: 12px;
    position: relative;
    z-index: 8;
    margin: 0 10px;
    border-radius: 4px;
}

.main_personal input#submit {
     background-color: #e89d1f;
     color: #fff;
}

div#tutor_place .modal-body input[type="checkbox"] {
     margin: 8px;
}

div#tutor_place .modal-body {
     color: #000;
}

div#accept_nationality .modal-body input[type="checkbox"] {
     margin: 8px;
}

div#accept_nationality .modal-body {
     color: #000;
}

div#accept_ethnicity .modal-body input[type="checkbox"] {
     margin: 8px;
}

div#accept_ethnicity .modal-body {
     color: #000;
}

.image-check-sub {
     float: left;
     width: 50px;
     position: relative;
     top: 60px;
}

.image-check-sub input[type="checkbox"] {
     width: 18px !important;
     margin-left: 16px;
}

.for-radio-dash {
     float: left;
     width: 100%;
     margin-bottom: 5px;
}

.for-radio-dash input[type="radio"] {
     float: left;
     width: 16px !important;
     height: 16px !important;
     margin-right: 10px;
}

ul.login-div li:last-child a:after {
     display: none;
}

.for-language {
     float: right;
     margin-top: 24px;
     background-color: #000;
}

.for-language .input-filed {
     position: relative;
     border: 1px solid #fff;
}

.for-language .input-filed select {
     background-color: #000;
     height: 39px !important;
     color: #fff;
}

.tab-content.mng-tab-secsn {
     padding-top: 15px;
}

.vedio-box-g {
     float: left;
     width: 31%;
     margin: 1%;
     position: relative;
}

.vedio-box-g video {
     width: 100%;
}

.vedio-box-g span i {
     color: #000;
     font-size: 24px;
}

.vedio-box-g span {
     position: absolute;
     top: 0;
     right: 0;
}

/* 2 may */
.text_areaicon label.error {
     position: relative;
     top: 2px;
}

.general-info video {
     margin: 1%;
     width: 31%;
}

.for-language {
     margin-top: 24px;
}
.job-listing thead {
    background: #7cbe49;
    color:  #fff;
    vertical-align:  top;
}
.job-listing thead th, .job-listing td {
    padding: 10px 6px;
    vertical-align: top;
}
.job-listing td {
     border: 1px solid #d2d2d2;
     word-break: break-word;
     min-width: 85px;
}
.job-listing thead th {
    border: 1px solid #cacaca;
}
section.job-list {
    padding:  50px 0;
    background: #fff;
}
section.job-list tbody tr:nth-child(even) {background-color: #fff;}
section.job-list tbody tr:nth-child(odd) {background-color: #f2f2f2;}
.job-listing table {
    width:  100%;
    display:  block;
}
.job-listing {
    overflow-x: auto;
}



/*****/

.newforgot .input-filed .sub-btn {
    color:#fff;
    background-color:#7cbe49;
    border:1px solid #59902f;
    letter-spacing:0px;
    text-transform:uppercase;
	}
.newforgot input.sub-btn:hover {
    background-color:#59902f !important;
    color:#fff !important;
	}	
.newforgot a.forgot_link:hover {
    color:#fcba4a;
	}
.newforgot .input-filed input[type="text"] {
	background:#e4e4e4;
	border:1px solid #c1c1c1;
	}




/*****/

.main-list_box {
    float: left;
    width: 100%;
    position: relative;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.main-list_box .pics {
    float: left;
    width: 110px;
}
.main-list_box .details {
    float: left;
    width: calc(100% - 110px);
    padding-left: 15px;
    padding-right: 80px;
}
.main-list_box .apply-btn {
    position: absolute;
    top: 0;
    right: 15px;
}
.main-list_box .details h3 {
    margin-top: 0;
}
.main-list_box .details h5 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
        line-height: 18px;
}
.main-list_box .details ul li span {
    margin-left: 6px;
}
.main-list_box .details ul li {
    margin-bottom: 2px;
}
.parallax-one {
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(http://aewtutors.com/assets/images/foterbanner.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.parallax-one h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    color: #FFF;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
}



.listing-sub.common_tutor_list {
    width: 48%;
    margin: 0.5%;
    border: 1px solid #99999947;
    box-shadow: none;
}


.listing-sub.common_tutor_list .image-txt-sub.tutor_list_name {
    width: 66%;
    float: left;
}
.listing-sub.common_tutor_list .image-txt-sub.tutor_list_name {
    width: 63%;
    float: left;
}

.listing-sub.common_tutor_list .image-check-sub.tutor_list_check {
    width: 8%;
}

.listing-sub.common_tutor_list .image-lis-sub
{
    padding-top: 8px;
}

.listing-sub.common_tutor_list p.catgry-l {
    float: left;
    width: 100%;
    margin-bottom: 6px;
	    font-size: 13px;
}

.listing-sub.common_tutor_list p.distance-l {
    float: left;
    width: 100%;
	    font-size: 13px;

}

.dsply-num {
    width: 100%;
    float: left;
    position: relative;
    bottom: 0;
    right: 0;
}

.listing-sub.common_tutor_list .img-txt-subhead
{
margin-bottom: 9px;	
}

.listing-sub.common_tutor_list .image-txt-sub.tutor_list_name
{
    padding-bottom: 8px;
    padding-top: 7px;	
}



@media(min-width:320px) and (max-width:400px)
{
	
.box_tabUser .col-xs-9
{
width: 100%;
}

.main-reg-content.box_tabUser .col-xs-3 {
    width: 100%;
    max-width: 100%;
}
.listing-sub.common_tutor_list
{
    width: 100%;	
}

.listing-sub.common_tutor_list .image-txt-sub.tutor_list_name
{
    width: 100%;	
}




}

@media(min-width:1020px) and (max-width:1520px)
{


.listing-sub.common_tutor_list .image-lis-sub {
    width: 28%;
}

.listing-sub.common_tutor_list .image-txt-sub.tutor_list_name {
    width: 58%;
}

.listing-sub.common_tutor_list p.catgry-l
{
    font-size: 12px;	
}

.listing-sub.common_tutor_list p.distance-l
{
    font-size: 12px;	
}
}

.SumoSelect.sumo_tutor_subject label.error {
    top: 41px;
}
.rdgap label.error {
    top: 100px;
}

div#video_loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0a0a0aa6;
    z-index: 999999;
    text-align: center;
    padding-top: 23%;
}
div#video_loader img#new_loading_img {
    width: 70px !important;
}





















 
