.text-white {
    color: #fff;
}
.back-color {
    background: rgba(0, 0, 0, 0.37) !important;
    height: 78px;
    margin-bottom: 50px;
}
.inner-page-heading {
    padding-bottom: 1%!important;
    margin-bottom: 10px!important;
}
.top-pad {
    margin-top: 80px!important;
}
.center-div {
    width: 80%!important;
    margin: 80px auto!important;
}
.inline_block {
    display: inline-block!important;
    width: 79%!important;
}
.login_form_container {
    width: 60%!important;
    margin: 0 auto;
}
.lbl_block {
    width: 20%!important;
    text-align: right;
    padding-right: 5px;
}
.help-block {
    color: red;
    text-align: left;
!important;
}
.body_top {
    height: 200px;
    padding-top: 50px;
    margin: 0 auto;
    width: 90%;
}
.subscription {
    padding: 20px;
    background: #ccc;
}
.select-acount {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.select-acount .select-sub {
    float: left;
    width: 50%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.select-acount .select-sub img {
    width: 100%;
    transition: all ease-in-out 200ms;
}
.select-sub h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: all ease-in-out 200ms;
    z-index: 11;
    font-weight: 300;
}
.select-sub::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: rgba(0, 0, 0, 0.52);
    transition: all ease-in-out 200ms;
    z-index: 9;
}
.overly-sub-select {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    transform: scale(0);
    transition: all ease-in-out 200ms;
    z-index: 11;
}
.select-sub:hover .overly-sub-select {
    transform: scale(1);
}
.select-sub:hover h2 {
    transform: scale(0);
}
.select-sub:hover::before {
    background: rgba(221, 124, 8, 0.65);
    z-index: 9;
}
.select-sub:hover img {
    transform: scale(1.2);
}
.overly-sub-select .btn {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    background: none;
    border-radius: 0;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.overly-sub-select .btn:hover {
    background: #fff;
    color: rgba(221, 124, 8, 1);
}
.select-sub h2::before, .select-sub h2::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 10px;
    border: 2px solid #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0.2;
}
.select-sub h2::before {
    top: -14px;
    border-bottom: none;
}
.select-sub h2::after {
    bottom: -14px;
    border-top: none;
}
a.learn-mre {
    color: #fff;
}
div#myModal .modal-body {
    padding: 0;
}
 div#myModal3 .modal-body {
    padding: 15px;
 }
div#myModal .modal-header, div#myModal .modal-footer, div#myModal3 .modal-header, div#myModal3 .modal-footer {
    border-radius: 0;
    border: none;
    background: #ff8b00;
}
div#myModal .modal-header, div#myModal2 .modal-header, div#myModal2 .modal-footer, div#myModal3 .modal-header {
    background: #ff8b00;
    color: #fff;
    border: none;
}
div#myModal .modal-header h4, div#myModal3 .modal-header h4 {
    font-weight: 500;
    font-size: 18px;
}
.subscription {
    display: inline-block;
    width: 100%;
    background: #2474d3 !important;
    color: #fff;
}
.row.news-letter-form input {
    width: 100% !important;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
}
.row.news-letter-form input::placeholder {
 color: #fff;
}
.row.news-letter-form .col-md-5, .row.news-letter-form .col-md-2 {
    padding: 0 5px;
}
.row.news-letter-form {
    padding: 0 10px;
}
.news-letter-head h4 {
    font-weight: 200;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.3px;
    margin: 0 0 10px;
}
.row.agree-sec {
    margin-top: 10px;
}
input.submit-main {
    background: #ff8b00 !important;
    border: 1px solid #ff8b00 !important;
}
.row.agree-sec input[type="checkbox"] {
    width: 20px;
    float: left;
}
div#myModal .modal-footer button.btn.btn-default {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    border-radius: 0;
}
div#myModal2 .form-group:last-child {
    margin-bottom: 0px;
}
.modal-login-txt {
    background: #2474d3;
    padding: 15px;
}
.modal-login-txt .form-control {
    background: none;
    border-radius: 0;
    color: #fff;
    padding: 10px;
    height: 42px;
}
.modal-login-txt .form-control:focus {
    box-shadow: none;
}
 .modal-login-txt input::placeholder {
 color: #fff;
}
.modal-login-txt input.btn-primary {
    background: #ff8b00 !important;
    border: 1px solid #ff8b00 !important;
    padding: 10px;
    width: 100%;
}
.modal-login-txt .row .col-md-5, .modal-login-txt .row .col-md-2 {
    padding: 0 5px;
}
.modal-login-txt .row {
    padding: 0 10px;
}
.modal-login-txt h2 {
    font-weight: 200;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.3px;
    margin: 0 0 10px;
    color: #fff;
}
div#myModal2 .modal-body center, div#myModal .modal-body center {
    padding: 15px;
}
div#myModal2 .modal-footer button {
    background: none;
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
}
div#myModal2 .modal-footer button:hover, div#myModal2 .modal-footer button:focus {
    background: #fff;
    color: #ff8b00;
}