body{
    font-family: 'Source Sans Pro', sans-serif !important;
}
*:focus, button:focus, a:focus {
    outline: none;
}
@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('../fonts/HelveticaNeueThin.eot');
    src: url('../fonts/HelveticaNeueThin.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueThin.woff2') format('woff2'),
         url('../fonts/HelveticaNeueThin.woff') format('woff'),
         url('../fonts/HelveticaNeueThin.ttf') format('truetype'),
         url('../fonts/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
}
.catlisthomesearch
{
    vertical-align: middle;
    width: 75px!important;
    height: 75px;
    border-radius: 50px!important;
}
section{
    overflow:hidden;
    width: 100%;
}
header.in-page .navbar-fixed-top {
    background: #111111 !important;
}
.navbar-default {
    background:none !important;
    border:none !important;
}
.navbar-fixed-top {
    background: rgba(0, 0, 0, 0.0) !important;
    transition: background ease-in-out 400ms;
    -webkit-transition: background ease-in-out 400ms;
    -o-transition: background ease-in-out 400ms;
    -moz-transition: background ease-in-out 400ms;
    -ms-transition: background ease-in-out 400ms;
}
nav.navbar.navbar-default.in-page-nav {
    background: #000 !important;
    border-radius: 0;
}
.in-page-nav ul li.active a {
    background: transparent !important;
    color: #dd7c08 !important;
}
.navbar-default a{
    color:#fff !important;
}
.owl-buttons {
    position: absolute;
    top: 40%;
    width: 100%;
}
.owl-next {
    position: absolute;
    right: 0;
}
.owl-prev {
    position: absolute;
    left: 0;
}
.owl-theme .owl-controls .owl-buttons div {
    font-size: 55px !important;
    background: none !important;
}
.owl-pagination {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

section.slider_main {
    position: relative;
    background: #000;
    padding-bottom:0px;
}
.slider_main .owl-theme .owl-controls {
    margin-top: 0 !important;
}

.navbar-default .navbar-nav>li>a{
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;    
}
.navbar-default .navbar-nav>li>a:hover {
    color: #dd7c08 !important;
}
ul.nav.navbar-nav.navbar-left a {
    padding: 30px 20px;
    font-size: 15px;
}
ul.nav.navbar-nav.navbar-left {
    margin-left: 90px;
}
li.us-flag a {
    background-color: #fdcd01 !important;
    padding: 2px 10px 2px 10px !important;
    height: 27px;
    color: #333 !important;
}
.us-flag ul.dropdown-menu {
    padding: 0;
    min-width: 95px !important;
    border: none;
}
li.dropdown.us-flag {
    margin-top: 45px;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
}
li.dropdown.us-flag a:hover, li.dropdown.us-flag a:focus {
    color: #333 !important;
}
a.navbar-brand {
    height: 80px;
    z-index: 999;
    position: relative;
}
.navbar-brand>img {
    width: 201px;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;

}

ul.nav.navbar-nav.navbar-right {
    margin-top: 15px;
}
ul.nav.navbar-nav.navbar-right a {
    padding: 15px 20px;
}
.navi a.navbar-brand{
    height: 85px;
}
.good-place a {
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 5px;
}

.good-place a .fa {
    margin-left: 10px;
}
li.good-place a {
    padding: 10px 25px !important;
}
li.good-place {
    margin-left: 15px;
}


@media (max-width:767px){
.test-slider .owl-prev {
    position: absolute;
    left: -23px;
}
.test-slider .owl-next {
    position: absolute;
    right: -23px;
}
}
/*New Css*/
.main-search-sec {
/*    background: url(../img/slider1.jpg);*/
    background-size: 100%;
    background-attachment: fixed;
    padding: 10%  0%; 
    position: relative;
}
.main-search-sec::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.76);
    content: '';
}
.main-srch-heading {
    text-align: center;
}

.main-srch-heading {
    margin-bottom: 60px;
    color: #fff;
}

.main-srch-heading h1 {
    font-size: 51px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.main-srch-heading p {
    font-size: 20px;
    letter-spacing: 2px;
}
.main-srch-sub {
    height: 60px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 60px;
}
.main-srch-sub .form-group {
    margin: 0;
}
.form-group.form-sub {
    position: relative;
}
.form-group.form-sub::before {
    content: '';
    position: absolute;
    right: 0;
    height: 30px;
    width: 1px;
    background: rgba(0, 0, 0, 0.22);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}
.form-group.form-sub.no-bord::before {
    display: none;
}
.form-group.form-sub input.form-control {
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 0;
}
.form-group.form-sub input.form-control:focus{
    box-shadow: none;
}
.main-srch-sub button.btn.btn-default {
    width: 100%;
    background: rgba(255, 141, 7, 0.85);
    height: 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 0;
    border: none;
    padding-right: 30px;
}
.main-srch-sub button.btn.btn-default .fa {
    padding-right: 10px;
}
.main-srch-sub .col-md-4, .main-srch-sub .col-md-2 {
    padding: 0;
}
input.form-control.add-form {
    padding-left: 45px !important;
    position: relative;
    background-image: url(../img/loc-icon.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: 22px !important;
    border-right: 10px solid rgba(0,0,0,0) !important;
}
input.form-control.cat-form {
    background-image: url(../img/cat-icon.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: 30px !important;
    border-right: 10px solid rgba(0,0,0,0) !important;
}
.srch-links ul {
    padding: 0;
    text-align: center;
    margin: 0;
}
.srch-links ul li {
    text-align: center;
    display: inline-block;
    padding: 0 30px;
}
.srch-links ul li a{
    color: #fff;
}
.srch-links {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.srchtxt {
    margin-top: 10px;
    font-size: 20px;
}

.img-srch {
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
}
.srch-links ul li a:hover .img-srch{
    transform: rotate(360Deg);
    -webkit-transform: rotate(360Deg);
    -moz-transform: rotate(360Deg);
    -ms-transform: rotate(360Deg);
    -o-transform: rotate(360Deg);
}
.srch-links ul li a:hover {
    text-decoration: none;
    color: rgba(255, 141, 7, 0.85);
}
.scrol-btm {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 50px;
    text-align: center;
}
.scrol-btm a {
    color: #fff;
    font-size: 27px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
}
.scrol-btm a:hover {
    color: rgba(255, 141, 7, 0.85);
    border-color: rgba(255, 141, 7, 0.85);
}
section.interstng-sec {
    background: #f5f5f5;
}
.interstng-sec-head {
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
.interstng-sec-head span {
    color: rgba(255, 141, 7, 1);
}
.interstng-sec-head h2 {
    letter-spacing: 1px;
    margin: 40px 0 30px;
}
.interstng-sec-head p{
    font-size: 15px;
    color: #444343;
}

.interstng-sec-head::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
    height: 1px;
    background: rgba(0, 0, 0, 0.35);
}

.interstng-sec-head::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 72px;
    background: #ff8d07;
    height: 3px;
}
.intertng-links-sec ul {
    padding: 0;
    margin: 0;
    border: 1px solid #dbdbdb;
}
.intertng-links-sec ul li {
    float: left;
    width: 16.66%;
    min-width: 180px;
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    text-align: center;
}
.intertng-links-sec ul li:last-child {
    border: none;
}
.intertng-links-sec ul li a {
    color: #333;
}
.intertng-links-sec ul li.active a {
    color: #fff !important;
    background: #ff8d07;
}
.intertng-links-sec ul li a .fa {
    color: #ff8d07;
    font-size: 18px;
    margin-right: 10px;
}
.intertng-links-sec ul li.active a .fa {
    color: #fff !important
}
.intertng-links-sec {
    display: inline-block;
    width: 100%;
    margin: 20px 0px;
}
.panel.panel-primary {
    border: none;
    background: none;
    box-shadow: none;
}
.intertng-links-sec .panel-body {
    padding: 0 10px;
    margin-top: 30px;
}
.navi {
    background: rgba(0, 0, 0, 0.72) !important;
}
.intrst-link-sub-sec {
    text-align: center;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}
.ilss-txt a {
    color: rgba(51, 51, 51, 0.5);
    border: 1px solid rgba(51, 51, 51, 0.51);
    padding: 2px 7px;
    border-radius: 15px;
    display: inline-block;
}
.ilss-txt a:hover {
    text-decoration: none;
    color: #fff;
    background: #333;
}
.intertng-links-sec .panel-body .col-md-2 {
    padding: 5px;
}
.ilss-img img {
    width: 60px;
}
.more-cat-link a {
    text-align: center;
    color: #ff8d07 !important;
    border: 1px solid #ff8d07;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 30px;
    display: inline-block;
    font-weight: 300;
    margin-top: 15px;
}
.more-cat-link a:hover {
    text-decoration: none;
    background: #ff8d07;
    color: #fff !important;
}
.more-cat-link {
    display: inline-block;
    width: 100%;
    text-align: center;
}
section.popu-countries {
    padding: 25px 0;
}
section.popu-countries .interstng-sec-head h2 {
    margin: 0 0 5px;
}
.popu-img {
    height: 160px;
    overflow: hidden;
    position: relative;
}
.popu-img img {
    width: 100%;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
}
.popu-con-sub:hover .popu-img img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.popu-con-sub {
    background: #f8f8f8;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.17);
    margin-bottom: 20px;
}
.item {
    padding: 0 10px;
}
.popu-ovrly {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.popu-ovrly h3 {
    bottom: 5px;
    position: absolute;
    left: 10px;
    margin: 0;
    color: #fff;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.popu-con-section {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.popu-txt .popu-loca i.fa {
    font-size: 18px;
    margin: 5px 0 0 0;
    color: #959393;
    width: 18px;
    float: left;
}
.popu-loca span {
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    width: 88%;
    overflow: hidden;
}
.like-comm .popu-liked {
    float: left;
}
.like-comm .popu-comm {
    float: right;
}
.like-comm {
    display: inline-block;
    width: 100%;
}
.like-comm .fa {
    font-size: 18px;
}
.popu-txt {
    padding: 5px 5px 0;
}
.popu-loca {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.like-comm .fa {
    color: #959393;
    margin-right: 10px;
    width: 18px;
}
.popu-ovrly h3:hover {
    color:#ff8d07;
}
section.other-sec {
    padding: 30px 0;
    background: #f5f5f5;
}
.oss-img {
    height: 200px;
    overflow: hidden;
}
.other-sec-sub {
    background: #fff;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.17);
    padding: 25px;
    min-height: 405px;
}
.oss-img img {
    width: 100%;
}
.oss-txt h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
p.sub-head {
    font-weight: 600;
    font-size: 18px;
}
.vd--txt h3 {
    font-size: 35px;
    font-family: 'HelveticaNeueThin';
    margin-bottom: 30px;
    line-height: 45px;
}
.vd--txt {
    letter-spacing: 0.6px;
    line-height: 22px;
}
section.home-vdeo-sec {
    margin: 20px 0;
    background: #f5f5f5;
}
.vdo-sec-main img {
    width: 100%;
}
.vd--txt {
    padding: 50px 0;
}
section.contxt-location-sec {
    background: url(../img/locaton-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 50px 0;
}
section.contxt-location-sec::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}
.cls-sub {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 25px;
    color: #fff;
}
.cls-sub-txt h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 25px;
}
.cls-sub-txt p {
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.6px;
}
.test-slider {
    color: #fff;
    background-repeat: no-repeat;
    background-size: 150%;
    padding: 0 25px 35px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background: #f5f5f5;
}
.test-sub {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
    padding: 0 50px;
    color: #333;
}
.test-sub h4 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #ff8d07;
}
.owl-theme .owl-controls .owl-page span {
    background: #ff8d07;
}
.test-sub p {
    letter-spacing: 0.6px;
    line-height: 27px;
    margin-top: 30px;
    color: #333;
}
.tst-heading {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.overlay-test {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.70);
    margin: 0 auto;
}
section.test-sec .interstng-sec-head h2 {
    margin-bottom: 0;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #333 !important;
}
.test-slider h2 {
    color: #333;
}

.owl-theme .owl-controls .owl-page span {
    background: #ff8d07 !important;
}




.info-parralax, .info-parralax-2  {
    background: url(../img/parallax-01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10% 0%;
}
.info-parralax-2 {
    background: url(../img/parallax-02.jpg);
    background-position: center;
    background-attachment: fixed;
}
.info-parralax-txt {
    color: #fff;
}
.info-parralax-txt h3 {
    font-size: 35px;
}
.info-parralax-txt p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.3px;
    margin-top: 30px;
}
.side-footer-link {
    position: fixed;
    left: 10px;
    top: 100px;
    width: 30px;
    z-index: 99999;
}
.side-footer-link ul li {
    background: #dd7c08;
    display: inline-block;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    padding: 5px;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.side-footer-link ul li::before {
    position: absolute;
    bottom: -13px;
    width: 10px;
    height: 15px;
    background: #dd7c08;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
}
.side-footer-link ul li:last-child::before{
    display: none;
}
.icon-detail {
    padding: 7px 7px 7px 20px;
    width: 0px;
    background: #dd7c08;
    border-radius: 30px;
    top: -2px;
    position: absolute;
    left: 0px;
    transition: all ease-in-out 200ms;
    overflow: hidden;
    z-index: -25;
    opacity: 0;
}
.side-footer-link ul li:hover .icon-detail {
    left: 0px;
    z-index: -1;
    opacity: 1;
    width: 115px;
}
.icon-detail a {
    color: #fff;
}
.icon-detail a:hover {
    text-decoration: none;
    color: #fff;
}

.side-footer-link ul {
    padding: 0;
    margin: 0;
}






footer {
    margin: 0 0;
    background: #000;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.news-letter {
    padding: 25px 0;
}
.news_letter_heading h2 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif !important;
    letter-spacing: 1.5px;
    margin: 25px 0;
    font-size: 16px;
}
.new_letter_input {
    overflow: hidden;
}
.new_letter_main {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
.news-letter .input-group {
    width: 100%;
}
.news-letter span.input-group-btn {
    position: absolute;
    right: 0;
    width: 25%;
    padding: 0 0 0 20px;
}
.news-letter input.form-control {
    height: 60px;
    border-radius: 0;
    border: 0;
    width: 75%;
    background: #c2c2c2;
}
.new_letter_input button.btn.btn-default {
    background: #ff8d07;
    color: #fff;
    border: 0;
    border-radius: 0;
    padding: 18px 15px;
    height: 60px;
    width: 100%;
    text-align: center;
}
.footer-logo {
    padding: 20px 0;
}
.f_middle {
    display: block;
    overflow: hidden;
}
.f_middle p {
    line-height: 26px;
    font-size: 14px;
    color: #cbc8c8;
    letter-spacing: 1.2px;
    font-weight: 300;
}
.f_middle ul {
    padding: 0;
    margin: 0;
}
.f_middle ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.f_middle ul li a {
    color: #cbc8c8;
    padding: 0 0 10px;
    display: block;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.f_heading h3 {
    font-size: 17px;
    text-transform: uppercase;
    color: #dedede;
    margin: 35px 0 45px;
}
.f_follow {
    text-align: right;
    color: #fff;
    margin-top: 12px;
    color: #dedede;
}
.footer-link-social ul {
    padding: 0;
    margin: 0;
}


.footer-link-social ul li {
    display: inline-block;
}

.footer-link-social ul li a {
    display: inline-block;
    font-size: 20px;
    padding: 7px;
    color: #848383;
}

footer.main-footer {
    display: inline-block;
    width: 100%;
    background: #000;
    padding: 25px 0 0;
}
.news-letter-main h3 {
    color: #fff;
    font-size: 26px;
    margin: 12px 0;
    letter-spacing: 0.6px;
}
.news-letter-main .btn-default {
    width: 100%;
    height: 55px;
    border-radius: 30px;
    padding: 13px;
    font-size: 18px;
}
.news-letter-main {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #0e0d0d;
}
.ft-links h3 {
    font-size: 20px;
    color: #fdcd01;
    letter-spacing: 0.6px;
    margin: 25px 0 35px;
}
.ft-links ul {
    padding: 0;
}

.ft-links ul li {
    margin-bottom: 10px;
    list-style: none;
}

.ft-links ul li a {
    color: #fff;
    letter-spacing: 0.6px;
    font-size: 13px;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
}
.ft-links ul li a:hover {
    color: #fdcd01;
    text-decoration: none;
}
.foot-bott-txt {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #676767;
}
.footer-bottom {
    background: #111010;
    margin-top: 15px;
    padding: 15px;
}
/*Business Registration*/
.Register-business nav#nav-top {
    background: rgba(0, 0, 0, 0.72) !important;
}
section.reg-main-sec {
    background: url(../img/parallax-03.jpg);
    padding: 8% 0;
    background-attachment: fixed;
    position: relative;
    background-size: 100%;
}
section.reg-main-sec::before {
    background: rgba(0, 0, 0, 0.35);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.reg-text h3 {
    color: #fff;
    font-size: 35px;
    line-height: 50px;
    font-weight: 300;
}
.reg-text h3 strong {
    font-weight: 600;
}
.reg-text p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.reg-form-main {
    padding: 30px;
    background: rgba(0, 0, 0, 0.65);
}
.reg-form-main .form-control {
    color: #333;
    border: none;
    height: 45px;
    border-radius: 0;
    border-left: 1px solid #dd7c08;
}
.reg-form-main .form-control:focus{
    box-shadow: none;
}
.for-radio {
    display: inline-block;
    width: 164px;
    position: absolute;
    right: 0;
    top: 0;
}
.reg-form-main {
    color: #ccc;
}
.for-radio .btn-group label.btn.btn-default {
    background: rgba(29, 29, 29, 0.78);
    border: none;
    color: #ccc;
    border-radius: 0;
    padding: 12px 18px;
    height: 45px;
}
.for-radio .btn-group label.btn.btn-default:focus{
    outline: none;
}
.for-radio label.btn.btn-default.active {
    background: rgba(0, 0, 0, 0.78) !important;
    color: #ff8d07 !important;
    outline: none !important;
}
.for-radio label.btn.btn-default.active:focus{
    outline: none;
}
label.gender-main {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0.46);
    border-left: 1px solid #dd7c08;
    padding: 12px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 0px;
}
.check-box-inline label.checkbox-inline {
    height: 45px;
    background: rgba(0, 0, 0, 0.7);
    padding: 13px 10px 10px 30px;
    margin: 0px 0 0 2px;
    float: left;
    color: #999494;
}
.check-box-inline {
    display: inline-block;
    vertical-align: middle;
    float: right;
}
label.language-main {
    width: calc(100% - 493px);
    height: 45px;
    background: rgba(0, 0, 0, 0.46);
    border-left: 1px solid #dd7c08;
    padding: 12px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 0;
}
.reg-form-main .form-group {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.reg-form-main textarea.form-control {
    height: initial;
    width: 100% !important;
    overflow: hidden;
}
label.terms-offer {
    font-weight: 400;
    margin: 0;
}
label.terms-offer input {
    float: left;
    width: 20px;
}
label.terms-offer span {
    float: left;
    width: calc(100% - 20px);
    cursor: pointer;
}
.recaptcha {
    text-align: center;
    margin-bottom: 25px;

}
.btn-div {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
p.footInfo {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}
button.btn.btn-default.form-btn {
    background: #ff8d07;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 9px 25px;
}
/*Filter*/
section.filter-sec {
    background: #111111;
    padding: 20px 0px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 80px;
    transition: all ease-in-out 400ms;
    z-index: 999;
}
.main-srch-form-sec .form-group {
    margin: 0;
}
.main-srch-form-sec .form-control {
    background: #ececec;
    border-radius: 0;
    border: none;
    height: 40px;
}
a.btn.btn-default.extra-filter {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: none;
    background: #2871d0;
    color: #fff;
    padding: 10px;
}
button.btn.btn-default.main-sbmit {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 0;
    background: #ff8d07;
    color: #fff;
    text-transform: uppercase;
}
.main-srch-form-sec .col-md-3, .main-srch-form-sec .col-md-2 {
    padding: 0px 1px;
}
.main-srch-form-sec {
    padding: 0px 14px;
}
/*checkbox*/
/* SQUARED THREE */
.squaredThree {
    width: auto;
    position: relative;
    display: inline-block;
    padding-right: 5px;
    margin: 0 0 10px;
}
.squaredThree span {
    margin-left: 10px;
    color: #dedede;
}
.squaredThree label.chk-box-label {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    border-radius: 4px;
    left: 0px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label.chk-box-label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 3px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label.chk-box-label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label.chk-box-label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*checkbox end*/
.extra-filter-sec {
    margin-top: 15px;
    border-top: 1px solid;
    padding: 0 13px;
    display: none;
}
.etra-fil-head h3 {
    color: #dedede;
    font-weight: 300;
}
.efs-sub {
    background: #212121;
    padding: 15px;
    height: 220px;
    overflow: hidden;
}
.checkbox-main {
    display: inline-block;
}
.checkbox-main {
    padding: 8px 7px 0;
    background: #111;
    border-radius: 10px;
    margin: 0 10px 10px 0px;
}
.extra-filter-sec .col-md-4 {
    padding: 2px;
}
section.filter-sec.fs-top {
    top: 0;
    z-index: 9999;
    transition: all ease-in-out 400ms;
}
.map-main {
    width: 50%;
    position: fixed;
    z-index: 99;
    height: 100%;
    padding-top: 144px;
    right: 0;
    transition: all ease-in-out 400ms;
}
.map-main.map-top {
    padding-top: 84px;
}
footer.main_footer.footer-listing {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
}
footer.main_footer.footer-listing .footer-bottom {
    margin: 0;
    padding: 0;
}
.main-listing-sec {
    width: 50%;
    float: left;
	    transition: all ease-in-out 400ms;
    padding: 180px 15px 30px;
}
.image-lis-sub {
    width: 170px;
    height: 170px;
    overflow: hidden;
    float: left;
}
.image-lis-sub img {
    width: 100%;
    min-height: 170px;
}
.image-txt-sub {
    float: left;
    width: calc(100% - 170px);
    height: 170px;
    background: #f3f3f3;
    padding: 15px;
    position: relative;
}
.image-txt-sub h3 {
    margin: 0 10px 0px 0px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 600;
}
.listing-sub {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.14);
}
.image-txt-sub .fa {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #dd7c08;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    font-size: 10px;
    float: left;
    margin-right: 10px;
}
span.rating-main ul {
    padding: 0;
    margin: 0;
}

span.rating-main ul li {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
span.rating-main ul li .fa {
    background: none;
    color: #dd7c08;
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 15px;
}
span.rating-main {
    display: inline-block;
    vertical-align: middle;
}
.img-txt-subhead {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.dsply-num {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.dsply-num button.btn.btn-default {
    border: none;
    border-radius: 0;
}
.dsply-num button.btn.btn-default:focus{
    outline: none;
}
.squaredThree input {
    opacity: 0;
}
@media screen and (max-width: 1199px){
.map-main {
    width: 35%;
}
.main-listing-sec {
    width: 65%;
}
}
@media screen and (max-width: 991px){
section.filter-sec {
    position: static;
    padding-top: 100px;
}

.map-main {
    position: static !important;
    width: 100%;
    height: 400px;
    display: inline-block;
    padding: 0 !important;
}
.main-listing-sec {
    padding: 0px 15px;
    max-width: 750px;
    margin: 15px auto 0;
    width: 100%;
    display: block;
    float: none;
}
footer.main_footer.footer-listing {
    position: static;
    text-align: center;
}
}
@media screen and (max-width: 767px){
.side-footer-link {
    top: 55%;
}
.main-srch-form-sec .form-group {
    margin: 0 0 2px;
}
}
@media screen and (max-width: 580px){
.image-lis-sub {
    width: 100%;
    float: none;
    display: inline-block;
    height: 200px;
}
.image-txt-sub {
    width: 100%;
    height: initial;
}
.main-srch-form-sec .col-xs-4 {
    width: 100%;
}
}
/*Filter*/
/*Listing-main*/
section.list-main-sec {
    padding-top: 100px;
}
section.list-main-sec .image-lis-sub {
    width: 200px;
    height: 200px;
}
section.list-main-sec .image-txt-sub {
    width: calc(100% - 200px);
    height: 200px;
}
section.list-main-sec .image-lis-sub img {
    width: 100%;
    min-height: 200px;
}
.its-main {
    max-width: 400px;
    min-height: 170px;
}
.list-status ul {
    margin: 0;
    padding: 0;
}
.list-status ul li {
    list-style: none;
    padding: 7px;
    margin-bottom: 10px;
    background: #fff;
}
.list-status ul li a {
    color: #333;
}
li.close-list {
    border: 1px solid #f00;
    color: #f00;
    text-align: center;
}
.opning-hours-main ul {
    margin: 0;
    padding: 0;
}

.opning-hours-main ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
}
.opning-hours-main h3 {
    font-size: 20px;
    text-align: center;
}
.opning-hours-main ul li h4 {
    font-weight: 600;
    color: #dd7c08;
    font-size: 16px;
    margin: 0px 0 10px;
    position: relative;
    z-index: 10;
}
.opning-hours-main {
    background: #f3f3f3;
    padding: 15px;
}
.opning-hours-main ul li p {
    color: #848484;
    font-size: 12px;
}
.opning-hours-main h3 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 24px;
    padding: 10px;
    background: #fff;
    color: #969696;
    text-transform: lowercase;
}
.opning-hours-main ul li h4::before {
    height: 1px;
    content: '';
    position: absolute;
    top: 40%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    z-index: -1;
}

.opning-hours-main ul li h4::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 92px;
    background: #f3f3f3;
    height: 22px;
    top: -3px;
    z-index: -1;
}
span.tme-intrval:first-child {
    margin-right: 10px;
}
.web-address h3 {
    font-size: 20px;
    margin: 0 0 10px;
    background: #fff;
    color: #969696;
    padding: 10px;
    text-transform: lowercase;
}
.web-address {
    padding: 15px;
    background: #f3f3f3;
}
.web-address a .fa {
    width: 20px;
    color: #fff;
    background: #dd7c08;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    padding: 3px;
    margin-right: 10px;
}
.side-categ h3 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #969696;
    padding: 10px;
    text-transform: lowercase;
    background: #ffffff;
}
.side-categ {
    background: #f3f3f3;
    margin-top: 15px;
    padding: 15px;
}
.side-categ ul {
    padding: 0;
    margin: 0;
}
.side-categ ul li {
    list-style: none;
    margin-bottom: 10px;
}
.side-categ ul li .fa {
    width: 18px;
    color: #dd7c08;
}
ul.pic-gallery {
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 100%;   
}
ul.pic-gallery li {
    float: left;
    height: 135px;
    max-width: 135px;
    overflow: hidden;
    width: 25%;
    cursor: pointer;
    list-style: none;
    border: 1px solid #f3f3f3;
}
ul.pic-gallery li img{
    height: 100%;
    min-width: 135px;
}
.list-sub-imgs {
    padding: 15px;
    background: #f3f3f3;
}
.list-sub-imgs h3 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 24px;
    padding: 10px;
    background: #fff;
    color: #969696;
}
div#myModal-pic .modal-content {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.71);
    margin-top: 100px;
}
.control-main {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
a.controls.next, a.controls.previous  {
    position: absolute;
    right: 15px;
    background: rgba(0, 0, 0, 0.72);
    padding: 10px 15px;
    color: #fff;
    font-size: 25px;
}
a.controls.previous {
    right: initial;
    left: 15px;
}
.pic-gal-work {
    background: #f3f3f3;
    display: inline-block;
    width: 100%;
    box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.14);
    overflow: hidden;
    padding: 0 15px 0;
}
.pic-gal-work .col-md-3, .pic-gal-work .col-md-6 {
    padding: 0;
}
.description-main ul {
    padding-left: 18px;
}
.description-main h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
}
.map-main-list iframe {
    width: 100%;
    height: 320px;
}
.description-main {
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
.map-main-list {
    margin-top: 15px;
}
.info-diver {
    background: #f3f3f3;
    padding: 15px;
    margin-top: 15px;
}
.info-diver h3 {
    font-size: 20px;
    margin: 0 0 10px;
    background: #fff;
    color: #969696;
    padding: 10px;
}

.info-diver ul {
    padding: 0;
    margin: 0;
}

.info-diver ul li span {
    width: 120px;
    display: inline-block;
    font-weight: 600;
}
.info-diver ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.efl-sub ul {
    padding: 0;
    margin: 0;
}

.efl-sub ul li {
    list-style: none;
    margin-bottom: 6px;
}

.efl-sub ul li .fa {
    width: 18px;
}
.efl-back {
    padding: 15px;
    background: #f3f3f3;
    margin: 10px 0;
}
.efl-sub h3 {
    font-size: 20px;
    margin: 0 0 20px;
    background: #fff;
    color: #969696;
    padding: 10px;
}
.pac-container {
    margin-left: 40px !important;
    width: 230px !important;
}
/*Modal Css*/
.select-acount {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.select-acount .select-sub {
    float: left;
    width: 50%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.select-acount .select-sub img {
    width: 100%;
    transition: all ease-in-out 200ms;
}
.select-sub h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: all ease-in-out 200ms;
    z-index: 11;
    font-weight: 300;
}
.select-sub::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: rgba(0, 0, 0, 0.52);
    transition: all ease-in-out 200ms;
    z-index: 9;
}
.overly-sub-select {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    transform: scale(0);
    transition: all ease-in-out 200ms;
    z-index: 11;
}
.select-sub:hover .overly-sub-select {
    transform: scale(1);
}
.select-sub:hover h2 {
    transform: scale(0);
}
.select-sub:hover::before {
    background: rgba(221, 124, 8, 0.65);
    z-index: 9;
}
.select-sub:hover img {
    transform: scale(1.2);
}
.overly-sub-select .btn {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    background: none;
    border-radius: 0;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.overly-sub-select .btn:hover {
    background: #fff;
    color: rgba(221, 124, 8, 1);
}
.select-sub h2::before, .select-sub h2::after  {
    position: absolute;
    content: '';
    width: 80px;
    height: 10px;
    border: 2px solid #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0.2;
}
.select-sub h2::before {
    top: -14px;
    border-bottom: none;
}

.select-sub h2::after{
    bottom: -14px;
    border-top: none;
}
a.learn-mre {
    color: #fff;
}
div#myModal .modal-body {
    padding: 0;
}
div#myModal .modal-header, div#myModal .modal-footer {
    border-radius: 0;
    border: none;
    background: #ff8b00;
}
div#myModal .modal-header, div#myModal2 .modal-header, div#myModal2 .modal-footer {
    background: #ff8b00;
    color: #fff;
    border: none;
}
div#myModal .modal-header h4, div#myModal3 .modal-header h4 {
    font-weight: 500;
    font-size: 18px;
}
.subscription {
    display: inline-block;
    width: 100%;
    background: #2474d3 !important;
    color: #fff;
}
.row.news-letter-form input {
    width: 100% !important;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
}
.row.news-letter-form input::placeholder{
    color: #fff;
}
.row.news-letter-form .col-md-5, .row.news-letter-form .col-md-2 {
    padding: 0 5px;
}
.row.news-letter-form {
    padding: 0 10px;
}
.news-letter-head h4 {
    font-weight: 200;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.3px;
    margin: 0 0 10px;
}
.row.agree-sec {
    margin-top: 10px;
}
input.submit-main {
    background: #ff8b00 !important;
    border: 1px solid #ff8b00 !important;
}
.row.agree-sec input[type="checkbox"] {
    width: 20px;
    float: left;
}
div#myModal .modal-footer button.btn.btn-default {
    color: #fff ;
    border: 1px solid #fff ;
    background: none ;
    border-radius: 0 ;
}
div#myModal2 .form-group:last-child {
    margin-bottom: 0px;
}
div#myModal2 .modal-body {
    padding: 0;
}
.modal-login-txt {
    background: #2474d3;
    padding: 15px;
}
.modal-login-txt .form-control {
    background: none;
    border-radius: 0;
    color: #fff;
    padding: 10px;
    height: 42px;
}
.modal-login-txt .form-control:focus{
    box-shadow: none;
}

.modal-login-txt input::placeholder{
    color: #fff;
}
.modal-login-txt input.btn-primary {
    background: #ff8b00 !important;
    border: 1px solid #ff8b00 !important;
    padding: 10px;
    width: 100%;
}
.modal-login-txt .row .col-md-5, .modal-login-txt .row .col-md-2 {
    padding: 0 5px;
}
.modal-login-txt .row {
    padding: 0 10px;
}
.modal-login-txt h2 {
    font-weight: 200;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.3px;
    margin: 0 0 10px;
    color: #fff;
}
div#myModal2 .modal-body center, div#myModal .modal-body center {
    padding: 15px;
}
div#myModal2 .modal-footer button {
    background: none;
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
}
div#myModal2 .modal-footer button:hover, div#myModal2 .modal-footer button:focus {
    background: #fff;
    color: #ff8b00;
}
@media screen and (min-width: 1600px){
.modal.in .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.modal.fade .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    margin: 0 auto;
}
}
body.modal-open nav#nav-top {
    margin-right: 17px;
}
body.modal-open section {
    background-attachment: initial;
}
body {
    padding: 0 !important;
}
body.modal-open {
    position: fixed;
    width: 100%;
    padding-right: 17px !important;
}
.title-imge img {
    width: 100%;
}
.title-imge {
    width: 120px;
    overflow: hidden;
    background: #fff;
    padding: 16px 12px;
    display: inline-block;
    float: right;
    margin: -15px;
    height: 55px;
}
.modal-header h4 {
    float: left;
    width: 200px;
}
.social-media-login a {
    width: 100%;
    border-radius: 0;
    border: none;
    margin-bottom: 15px;
    padding: 10px;
}

.social-media-login {
    margin: 0 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.social-media-login a .fa {
    float: left;
}
.social-media-login a .fa {
    float: left;
    font-size: 20px;
    width: 40px;
    margin: -10px;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #2474d3;
    background: #074a98;
    color: #fff;
}
a.btn.btn-default.fb-so {
    background: #3b5998;
    color: #fff;
}
a.btn.btn-default.go-so {
    background: #d34836;
    color: #fff;
}
a.btn.btn-default.go-so .fa {
    background: #982718;
    border-color: #ec6d5c;
}
a.btn.btn-default.fb-so .fa {

}
div#myModal2 .modal-login-txt {
    background: #f3f3f3;
}
div#myModal2 .modal-login-txt h2 {
    display: none;
}
div#myModal2 .modal-login-txt .form-control {
    border: none;
    margin-bottom: 15px;
    color: #333;
    background: #dcdcdc;
}
div#myModal2 .modal-login-txt input::placeholder{
    color: #333;
}
button.btn.btn-default.frgt-pass {
    margin: 15px 7.5px 0px 15px;
    float: left;
    padding: 6px 15px;
    border: 1px solid #333;
    background: none;
    border-radius: 0;
    width: calc(50% - 22.5px );
}
button.btn.btn-default.new-acc-m {
    margin: 15px 15px 0px 7.5px;
    float: right;
    padding: 6px 15px;
    border: 1px solid #333;
    background: none;
    width: calc(50% - 22.5px);
    border-radius: 0;
}
div#myModal2 .modal-login-txt .row {
    padding: 0;
}
div#myModal3 .form-group {
    margin: 0;
}
@media (min-width: 768px){
div#myModal2 .modal-dialog {
    width: 360px;
}
}
/*Modal Css End*/
@media screen and (max-width: 991px){
section.list-main-sec .image-lis-sub {
    width: 170px;
    height: 170px;
    margin: 10px;
    border-radius: 15px;
}
.listing-sub {
    background: #f3f3f3;
}
section.list-main-sec .image-txt-sub {
    height: initial;
}
}
@media screen and (max-width: 767px){
   section.list-main-sec .image-lis-sub {
        width: 100%;
        height: initial;
        margin: 0;
        padding: 25px;
    }
    section.list-main-sec .image-txt-sub {
        width: 100%;
    }
    .side-footer-link {
        display: none;
    }
    nav.navbar.navbar-default.in-page-nav {
        display: none;
    }
}
li.user-intro.dropdown.open ul.dropdown-menu a {
    color: #333 !important;
}
li.user-intro.dropdown ul.dropdown-menu a {
    padding: 10px;
    position: relative;
}
li.user-intro.dropdown ul.dropdown-menu .fa {
    width: 25px;
    color: #a5a5a5;
}
span.counter-msg, span.counter-not {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffa53a;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-size: 11px;
    right: 7px;
    top: 8px;
}
li.user-intro.dropdown ul.dropdown-menu {

    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    display: block;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
li.user-intro.dropdown.open ul.dropdown-menu {
    border: 1px solid #fff;
    background: #fff;
    padding: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    overflow: hidden;

    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}
li.user-intro.dropdown.open a.dropdown-toggle {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
    color: #333 !important;
}
li.user-intro.dropdown.open ul.dropdown-menu a:hover {
    background: #f3f3f3;
    color: #333;
}
li.user-intro.dropdown a.dropdown-toggle {
    border: 1px solid rgba(0, 0, 0, 0);
}
.g-signin2 .abcRioButton.abcRioButtonLightBlue {
    width: 100% !important;
    background: #d34836;
    color: #fff;
    position: relative;
    height: 40px !important;
    box-shadow: none;
}
.g-signin2 .abcRioButton.abcRioButtonLightBlue::before {
    content: "\f0d5";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background: #982718;
    font-family: fontAwesome;
    font-size: 20px;
    text-align: center;
    padding: 6px 0;
    border-right: 1px solid #ec6d5c;
    z-index: 66;
}
span.abcRioButtonContents::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: 'Login with google';
    text-align: center;
    background: rgb(211, 72, 54);
    padding: 3px;
}
span.abcRioButtonContents {
    display: inline-block;
    margin-top: 4px;
}
.g-signin2 .abcRioButton.abcRioButtonLightBlue:hover{
    box-shadow: none;
}
li.user-intro.dropdown.open ul.dropdown-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

li.user-intro.dropdown.open ul.dropdown-menu li:last-child {
    border: none;
}

label.error{
    color:#F00;
}
.login_form_container.modal-login-txt input.form-control {
    color: #333;
}
span.help-block {
    padding: 0px 10px;
}
.login_form_container.modal-login-txt h3 {
    margin: 0;
    font-weight: 300;
}




/*Dashboard*/
.main-dashboard {
    padding-top: 100px;
    background: #ecf0f1;
}
.dash-board-head {
    background: url(../img/parallax-03.jpg);
    padding: 100px 15px;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
    z-index: 2;
}
.header-link-dash a {
    width: 180px;
    display: block;
    background: none;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 10px;
    transition: all ease-in-out 200ms;
}

.header-link-dash a .fa {
    margin: -10px 10px -10px -10px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 13px;
    border-right: 1px solid #fff;
    float: left;
    transition: all ease-in-out 200ms;
}
.header-link-dash a:hover, .header-link-dash a:focus, .header-link-dash a:active {
    background: #ff8d07 !important;
    color: #fff !important;
    border-color: #ffa841 !important;
}
.header-link-dash a:hover .fa {
    background: #ce6f00;
    border-color: #ffa841;
}
.header-link-dash a:first-child {
    margin-bottom: 15px;
}
.dash-link-main ul {
    max-width: 640px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.dash-board-head::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.45);
    content: '';
}
.dash-link-main ul li {
    display: inline-block;
    margin-right: -2px;
}
.dash-link-main ul li a {
    padding: 15px 25px;
    display: inline-block;
    color: #fff;
    border-right: 1px solid #404040;
}
.dash-link-main ul li:first-child a {
    border-left: 1px solid #404040;
}
.dash-link-main {
    background: rgba(0, 0, 0, 0.61);
    margin-top: -50px;
}
.dash-link-main ul li.active a, .dash-link-main ul li a:hover {
    background: rgba(0, 0, 0, 0.81);
    border-color: rgba(0, 0, 0, 0.81);
    text-decoration: none;
}
.dash-board-inner {
    position: relative;
    z-index: 9;
}
.dash-board-inner .panel.panel-primary {
    margin: 0;
}
.dash-board-inner .panel-body {
    background: #fff;
    padding: 0;
}
.dash-link-sub ul {
    padding: 30px 0px 30px 15px;
    margin: 0;
}
.dash-link-sub ul li.active {
    background: #fff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
}
.dash-link-sub ul li a:hover, .dash-link-sub ul li a:focus {
    background: none;
}
.dash-link-sub ul li a {
    color: #dedede;
}
.dash-link-sub ul li.active a {
    color: #333;
}
.dash-link-sub ul li.active::before {
    content: '';
    position: absolute;
    right: 0;
    top: -15px;
    background: url(../img/liactive.png);
    height: 15px;
    width: 15px;
    background-size: 100% 100%;
}
.dash-link-sub ul li.active::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -15px;
    background: url(../img/liactive-2.png);
    height: 15px;
    width: 15px;
    background-size: 100% 100%;
}
.dash-board-inner .tab-content .col-md-3.col-sm-4.bg-col, .dash-board-inner .tab-content .col-md-9.col-sm-8.bg-col {
    float: none;
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.dash-board-inner .tab-content .row.row-table {
    display: table;
    width: 100%;
    margin: 0;
    table-layout: fixed;
}
.dash-board-inner .tab-content .col-md-3.col-sm-4.bg-col {
    background: #1b1b1b;
}
.panel-body.panel-bodyy {
    padding: 30px 15px 10px;
}
.mes-info-sec label.language-main {
    color: #333;
    background: none;
    display: inline-block;
    width: 100%;
    border: none;
    height: inherit;
    padding: 0;
}
.mes-info-sec .check-box-inline label.checkbox-inline {
    color: #333;
    background: none;
}
.mes-info-sec .check-box-inline {
    float: none;
    display: inline-block;
    background: #f0f0f0;
    width: 100%;
}
label.form-label {
    margin: 0;
    /*height: 45px;*/
    width: 100%;
    /*background: #dedede;*/
    font-weight: 500;
    text-transform: uppercase;
    /*padding: 12px;*/
    /*border-left: 1px solid #dd7c08;*/
    vertical-align: middle;
    /*display: table-cell;
    border-right: 1px solid #fff;
    min-width: 170px !important;*/
}
.mes-info-sec .form-group{
    display: inline-block;
    width: 100%;
}
.mes-info-sec input.form-control {
    background: #f0f0f0;
    height: 45px;
    border-radius: 0;
    vertical-align: middle;
    box-shadow: none;
    border: none;
    display: table-cell;
}
.mes-info-sec label.gender-main {
    background: none;
    border: none;
    color: #333;
    height: initial;
    padding: 0;
    width: 100%;
}
.mes-info-sec .for-radio {
    display: inline-block;
    float: none;
}
.mes-info-sec .for-radio label.btn.btn-default.active {
    background: rgb(221, 124, 8) !important;
    color: #ffffff !important;
}
.mes-info-sec .for-radio .btn-group label.btn.btn-default {
    background: rgb(222, 222, 222);
    color: #333;
}


button.chnge-mail.btn.btn-default {
    display: inline-block;
    height: 45px;
    border: none;
    background: #dd7c08;
    color: #fff;
    width: 130px;
    border-radius: 0;
    margin-bottom: 15px;
}

.cat-name {
    float: left;
    width: calc(100% - 130px);
}

.cat-main-sel {
    float: left;
    width: 100px;
}
.catergory-con-sub .radio {margin: 0;}

.remove-cat {
    float: right;
}
.cat-name p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.catergory-con-sub {
    background: #f0f0f0;
    padding: 12px 15px;
    height: 45px;
    display: inline-block;
    width: 100%;
}
.remove-cat a {
    margin: -12px -15px;
    width: 45px;
    height: 45px;
    padding: 12px 17px;
    float: right;
    color: #1b1b1b;
    background: #dedede;
}
.catergory-containr {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
input.form-control.form-file {
    padding: 12px;
}
.file-uploaded {
    height: 45px;
    background: rgba(222, 222, 222, 0.46);
    padding-right: 45px;
    position: relative;
    margin-bottom: 15px;
}
.file-upload-del {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
}
.file-upload-del a {
    display: inline-block;
    width: 100%;
    padding: 12px 17px;
    background: #dedede;
    height: 45px;
    color: #1b1b1b;
}
.file-upl-name p {
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.service_ul.mCustomScrollbar {
    padding: 15px;
    margin: 0;
    height: 200px;
}
.ano-cat-sub {
    background: #f0f0f0;
    margin-bottom: 15px;
}
.anno-cat-head {
    display: inline-block;
    width: 100%;
    background: #1b1b1b;
    color: #fff;
}
.anno-cat-head h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
}
.service_ul.mCustomScrollbar .checkbox-main {
    margin: 0;
    padding: 0;
    background: none;
}
.ano-cat-sub .squaredThree span {
    color: #333;
    vertical-align: top;
}
.ano-cat-sub .squaredThree label.chk-box-label {
    background: -webkit-linear-gradient(top, #dfdfdf 0%, #c4c4c4 100%);
    background: -moz-linear-gradient(top, #dfdfdf 0%, #c4c4c4 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%, #c4c4c4 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%, #c4c4c4 100%);
    background: linear-gradient(top, #dfdfdf 0%, #c4c4c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#c4c4c4',GradientType=0 );
}
.ano-cat-sub .squaredThree label.chk-box-label:after {
    border-color: #333;
}
.row.text-area label.form-label {
    width: 100%;
    display: inline-block;
}
.row.text-area textarea.form-control.text-main {
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #333;
    overflow: hidden;
    width: 100% !important;
}
span.max-char {
    padding: 7px 12px;
    display: inline-block;
    background: #dedede;
}
p.wickedpicker__title {
    display: none;
}
.wickedpicker {
    z-index: 9;
    height: 96px !important;
    width: 150px !important;
}
.form-group.time-shift label.form-label {
    min-width: 100px !important;
    width: 80px !important;
    border: none;
}

.mes-info-sec .form-group.time-shift input.form-control {
    width: 22%;
    border-right: 1px solid #ffffff;
    float: left;
}
.time-input {
    display: inline-block;
    width: 100%;
}
label.or-label {
    float: left;
    width: 12%;
    height: 45px;
    margin: 0;
    background: #dedede;
    text-align: center;
    padding: 13px 0;
    font-weight: 500;
}
.mes-info-sec.mesg-send button.btn.btn-default {
    display: inline-block;
    height: 45px;
    border: none;
    background: #dd7c08;
    color: #fff;
    width: 130px;
    border-radius: 0;
    margin-bottom: 15px;
}
p#datepairExample {
    margin: 0;
}
.update-button button.btn.btn-default {
    display: inline-block;
    height: 45px;
    border: none;
    background: #dd7c08;
    color: #fff;
    width: 130px;
    border-radius: 0;
    margin-bottom: 15px;
}
.msg-pro-pic {
    width: 60px;
    height: 60px;
    background: rgba(121, 121, 121, 0.21);
    color: #9b9b9b;
    float: left;
    margin-right: 10px;
}
.msg-pro-pic .fa {
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 17px;
}
.msg-text {
    float: left;
    width: calc(100% - 170px);
    padding: 10px;
}
.msg-button-date {
    float: left;
    width: 100px;
    height: 61px;
    border-left: 1px solid #d5d5d5;
}
h4.usr-name {
    margin: 0 0 2px;
}
.msg-sub-list {
    display: inline-block;
    width: 100%;
    background: #ecf0f1;
    margin: -5px 0 15px;
}
.mes-messages {
    display: inline-block;
    width: 100%;
}
p.msg-show {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #646464;
    margin: 0;
    line-height: 20px;
    height: 20px;
    font-size: 13px;
    white-space: nowrap;
}
span.msg-lat-head {
    font-size: 12px;
    font-weight: 600;
}
span.btn-msg {
    display: block;
    padding: 0 10px;
}

span.btn-msg button.btn.btn-default {
    width: 100%;
    background: #ff8d07;
    padding: 2px 4px;
    border-radius: 0;
    border: none;
    color: #fff;
}

span.msg-date {
    display: block;
    text-align: center;
    margin: 7px 0 3px;
    font-size: 12px;
    color: #7f7f7f;
}
span.date-time {
    float: right;
}
span.calender-not {
    margin-right: 15px;
}

span.clock-not .fa, span.calender-not .fa {
    width: 20px;
}
.noti-sub {
    padding: 10px;
    background: #ecf0f1;
    margin-bottom: 10px;
}
span.date-time {
    color: #7b7b7b;
}
.card
{
    margin-bottom: 4px;
    background: rgb(95,176,228);
}
.card-header
{
    border: solid 1px grey;
    border-radius: 4px;
    padding-left: 5px;
    background: rgb(51,122,183);
}
.card-header a
{
    color: white;
}
.card-block
{
    color: white;
    padding: 12px;
}
.mes-opt-one .panel.panel-default {
    border-radius: 0;
    border: none;
    background: #333;
}

.mes-opt-one .panel-default>.panel-heading {
    background: none;
    padding: 0;
}
.mes-opt-one .panel-default>.panel-heading a {
    color: #dedede;
    text-transform: lowercase;
    display: inline-block;
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
    text-decoration: none;
}
.mes-opt-one .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 1px solid #333;
    padding: 10px;
    border-top: none;
}
.mes-opt-one .panel-default>.panel-heading a:first-letter {
    text-transform: uppercase !important;
}
.abo-pre-txt {
    padding: 0 15px;
}
.abo-pre-txt ul li {
    list-style: none;
}

.abo-pre-txt ul {
    padding: 0;
}
/*Message Modal*/
            .chat-modal {
                background: rgba(0, 0, 0, 0.75);
            }
                .msg-modal .modal-content{
                    border-radius: 0px;
                }
            .msg-profile-pic {
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: -5px;
    text-align: center;
    padding: 7px;
    background: #ff8d07;
    color: #fff;
    font-size: 18px;
}
            .msg-profile-pic img{
                width: 100%
            }
            .msh-prof-details h3 {
                margin: 0px;
                color: #dedede;
                font-weight: 300;
                font-size: 20px;
            }
            .msh-prof-details {
                font-family: open sans;
                display: inline-block;
                padding: 0px 10px;
                vertical-align: top;
                color: #fff;
                margin-top: 7px;
            }
            .chat-modal .modal-header {
                background: #f3f3f3;
                padding: 0;
                position: relative;
            }
            .chat-modal button.close {
                position: absolute;
                top: 5px;
                right: 20px;
                color: #fcb436;
                opacity: 1;
                box-shadow: none;
                outline: none;
                text-shadow: none;
            }
            .msg-pro-pic-sec {
    background: #212121;
    padding: 10px;
}
            .chat-modal .modal-footer .col-md-2, .modal-footer .col-md-10 {
                padding: 0;
            }
           .chat-modal .modal-footer {
    background: #212121;
    text-align: left;
    padding: 10px;
}
            .reply-sec-msg textarea {
                border-radius: 0px;
                border: none;
                overflow: hidden;
                width: 100% !important;
                background: #424242;
                color: #fff;
                resize: none;
                overflow-y: auto;
                height: 60px !important;
            }
            .reply-sec-msg textarea:focus{
                box-shadow: none;
                outline: none;
            }
            .chat-modal a.btn.btn-default {
                padding: 7px 25px;
                border-radius: 0px;
                background: #fcb436;
                border: none;
                color: #141414;
            }
            .chat-modal .modal-body {
                height: 350px;
                padding: 0;
                overflow-x: hidden;
                background: #e3e3e3;
            }
.msg-user-pro-pic {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 7px;
    font-size: 18px;
    color: #fff;
}
            .msg-user-pro-pic img{
                width: 100%;
            }
            .msg-user-sec {
                float: left;
                width: 100%;
                position: relative;
                z-index: 1;
            }
            .msg-user-main-msg {
                float: left;
                vertical-align: top;
                padding: 0px 10px;
                max-width: 450px;
            }
            p.msg-date-m {
                padding-right: 15px;
                display: inline-block;
                font-size: 10px !important;
                color: #8f8f8f;
            }
            p.msg-time-m {
                display: inline-block;
                font-size: 10px !important;
                color: #8f8f8f;
            }
            .msg-user-main-msg p {
                font-size: 13px;
            }
            .msg-user {
                padding: 10px 10px 0px;
                margin: 10px 0px;
            }

            .chat-modal {
                font-family: open sans;
                letter-spacing: 0.3px;
            }

            .msg-user .msg-user-main-msg {
    margin-left: 30px;
    padding: 10px 15px 5px;
    background: rgb(213, 213, 213);
    position: relative;
    float: left;
    width: 80%;
}
.msg-user .msg-user-main-msg::before {
    background: #c6c6c6 !important;
}
            .msg-user .msg-user-main-msg::before, .msg-admin .msg-user-main-msg::before {
                position: absolute;
                content: '';
                width: 49px;
                height: 45px;
                background: #fff;
                transform: skewY(28Deg) skewX(-43Deg);
                left: -2px;
                z-index: -1;
                border-radius: 2px;
                top: 4px;
            }

            .reply-sec-msg .form-group {
                margin: 0;
            }
            .msh-prof-details a {
                text-decoration: none;
            }
            .modal-open .msg-modal {
                background: rgba(0, 0, 0, 0.75);
            }
            .mCSB_inside > .mCSB_container {
                margin-right: 15px;
            }
           .reply-sec-msg button.btn.btn-default {
    padding: 7px 25px;
    background: #ff8d07;
    border: none;
    border-radius: 0px;
    margin-top: 15px;
    font-weight: 500;
    color: #ffffff;
}
            .reply-sec-msg button.btn.btn-default:focus{
                outline: none;
            }
             @media screen and (max-width: 500px){
                .msg-user-pro-pic{
                    height: 30px;
                    width: 30px;
                }
                .msg-user .msg-user-main-msg{
                    margin-left: 15px;
                }
                /*.msg-admin .msg-user-main-msg{
                    margin-right: 15px;
                }*/
                .msg-user .msg-user-main-msg::before, .msg-admin .msg-user-main-msg::before {
                    width: 20px;
                    height: 20px;
                }
             }


            .msg-admin {
                text-align: right;
                padding: 10px 10px 0px;
                margin: 10px 0px;
            }
            .msg-admin .msg-user-pro-pic {
    float: right;
    background: #ff8d07 !important;
}
.msg-user-sec .msg-user-pro-pic {
    background: #424242;
}
            .msg-admin .msg-user-main-msg {
                float: right;
                margin-right: 30px;
                padding: 10px 15px 5px;
                background: #fff;
                position: relative;
                width: 80%;
            }
            .msg-admin .msg-user-main-msg::before{
                left: initial;
                right: -2px;
            }
            @media screen and (max-width: 500px){
                
                .msg-admin .msg-user-main-msg{
                    margin-right: 15px;
                
             }
           }
             .reply-sec-msg input.form-control {
                 border-radius: 0px;
                 border: none;
                 overflow: hidden;
                 width: 100% !important;
                 background: #424242;
                 margin-bottom: 15px;
                 height: 40px;
             }
             label.atch-vdo-msg {
                 display: inline-block;
                 width: 100%;
                 position: relative;
             }

             label.atch-vdo-msg::before {
                 position: absolute;
                 content: "Choose File";
                 background: #212121;
                 border: 1px solid #fff;
                 width: 100px;
                 padding: 3px 7px;
                 color: #fff;
                 font-weight: 400;
             }
             label.atch-vdo-msg input {
                 margin-top: 3px;
                 padding-left: 7px;
                 color: #808080;
             }
             label.form-atch {
                 margin-top: 15px;
                 color: #fff;
                 font-weight: 300;
             }
            /*Message Modal*/

/*Dashboard Sec-2*/
    .form-sub-txt .form-control {
    border-radius: 0;
    background: #f0f0f0;
    border: none;
    box-shadow: none;
}
.form-sub-txt button.btn.btn-default {
    padding: 7px 25px;
    background: #dd7c08;
    border: none;
    border-radius: 0;
    color: #fff;
}
.btn-group.radio-btn label.btn.btn-default.active {
    background: #dd7c08;
    color: #fff;
}

.btn-group.radio-btn label.btn.btn-default {
    border: none;
    border-radius: 0;
    padding: 7px 12px;
}
label.rdio-mny {
    display: block;
    font-weight: 400; 
}
.form-sub-txt {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(51, 51, 51, 0.12);
}
label.rdio-mny input {
    float: left;
    margin-right: 6px;
    text-align: left;
}
.form-sub-txt label {
    font-weight: 400;
}
.act-valid-sec {
    display: none;
}
/*Dashboard Sec-2 End*/
/*Dashboard Responsive*/
@media screen and (max-width: 767px){
.dash-board-inner .tab-content .col-md-3.col-sm-4, .dash-board-inner .tab-content .col-md-9.col-sm-8 {
    float: left !important;
    width: 100%;
}
.dash-board-inner .tab-content .row {
    display: block !important;
}
.dash-link-sub ul li.active::before, .dash-link-sub ul li.active::after {
    display: none;
}
.dash-link-sub ul {
    padding: 30px 15px 30px 15px;
}
.dash-link-sub ul li.active {
    border-radius: 0;
}
}
/*Dashboard Responsive End*/


.about-us .main-srch-heading p {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: right;
}
.about-us .main-srch-heading h1 {
    font-size: 36px;
    text-align: right;
    margin: 0 0 30px;
    position: relative;
    display: inline-block;
}
.about-us .main-srch-heading h1:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -15px;
    background: #dd7c08;
    height: 2px;
    width: 50px;
}
.about-us .main-srch-heading {
    margin-bottom: 0;
}
.about-us .main-srch-heading {
    text-align: right;
}
.about-us section.main-search-sec {
    padding: 160px 0 60px;
}
.about-content h2 {
    position: relative;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0 20px;
}
.about-content {
    margin: 5px 0;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.22);
    padding: 20px;
}
.about-content h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #ff8d07;
    content: '';
    height: 2px;
    width: 65px;
}
.about-content p {
    margin: 0 0 16px 0;
    line-height: 21px;
    text-align: justify;
    letter-spacing: .8px;
    font-size: 14px;
}
.about-content ul li {
    padding: 0 0 15px 32px;
    list-style: none;
    position: relative;
    font-size: 14px;
    letter-spacing: .8px;
    text-align: justify;
}
.about-content ul {
    padding: 0;
    margin: 0;
}
.about-content ul li:after {
    background: url(../img/correct.png);
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    left: 5px;
    background-size: 100% 100%;
    top: 2px;
}
section.about-sec {
    display: block;
    padding: 40px 0;
}
.social-media-login.page-l {
    overflow: hidden;
    margin: 30px 0 0;
    background: rgba(0, 0, 0, 0.65);
    padding: 20px 0;
}
.social-media-login.page-l a {
    margin: 0;
}
.page-l h3 {
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    margin: 0 0 18px;
}
.page-l span.abcRioButtonContents::before {
    content: 'Sign up with Google' !important;
    text-align: center;
    padding: 4px 0 4px 20px;
}
header.dtp-header,
.dtp-date,
.dtp-time,
a.dtp-select-day.selected,
a.dtp-meridien-am.selected,
a.dtp-meridien-pm.selected {
    background: #dd7c08 !important;
}
.dtp-actual-num {
    font-size: 25px !important;
}
i.material-icons {
    color: #fff;
}
a.dtp-select-day {
    height: 28px !important;
    width: 28px !important;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 6px !important;
}
a.dtp-meridien-am, a.dtp-meridien-pm {
    height: 35px !important;
    width: 35px !important;
    display: block;
    text-align: center;
    padding: 8px !important;
    background: #8bc34a !important;
    color: #fff !important;
}
line[Attributes Style] {
    stroke: #e8840c !important;
}
circle[Attributes Style] {
    fill: #e8840c !important;
}
button.dtp-btn-clear {
    background: #754308;
    color: #fff;
    margin-right: 5px;
}
button.dtp-btn-cancel {
    background: #e8840c;
    color: #fff;
    margin-right: 5px;
}
button.dtp-btn-ok {
    background: #8bc34a;
    color: #fff;
}
.light-list-gallery ul {
	padding: 0;
	margin: 0;
}
.light-list-gallery ul li {
    width: 20%;
    height: 150px;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 2px;
}
.light-list-gallery ul li a img {
	width: 100%;
}
.del-cross {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ff8d07;
    padding: 1px 7px;
    color: #fff;
    border-radius: 5px;
}
.del-cross a i.fa {
    color: #fff;
}
.main-search-sec div#myCarousel .item img {
    width: 100%;
}
.main-search-sec div#myCarousel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    float: left;
    width: 100%;
    z-index: -1;
}.carousel-control {
    display: none;
}
ol.carousel-indicators {
    display: none;
}
.popu-con-section .customNavigation {
    display: none;
}

.about-us .main-search-sec::before {
    background: url("../img/bannerabout.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* User Profile */
.usr-profile-wrapper {
    float: left;
    width: 100%;
    background-color: #f1f1f1;
}
.usr-map-section {
    float: left;
    width: 100%;
    margin-top: 85px;
}
.busines-map {
    float: left;
    width: 100%;
}
.busines-map iframe {
    width: 100%;
}
.usr-profile-dtl {
    float: left;
    width: 100%;
    padding: 0px 0px;
}
.usr-busns-dtl {
    float: left;
    width: 100%;
}
.pg-list-1-left {
    float: left;
    width: 100%;
}
.usr-busns-dtl .pg-list-1-left h3 {
    margin-top: 0px;
    color: #4e4e4e;
    font-size: 30px;
    font-weight: 700;
}
.list-rat-ch {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}
.pg-list-1-left a {
    text-decoration: none;
}
.list-rat-ch i.fa {
    color: #ff8d07;
    font-size: 24px;
}
.list-rat-ch span {
    padding: 5px;
    background-color: #ff8d07;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
}
.usr-busns-dtl {
    float: left;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
	margin-bottom: 15px;
}
.pg-list-1-left h4 {
    float: left;
    width: 100%;
}
.pg-list-1-left p b {
    margin-right: 10px;
}
.pg-list-1-left p {
    float: left;
    width: 100%;
    font-size: 16px;
}
.list-number.pag-p1-phone {
    float: left;
    width: 100%;
}
.list-number.pag-p1-phone ul {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
.list-number.pag-p1-phone ul li {
    float: left;
    width: 50%;
    margin-bottom: 15px;
    color: #333;
}
.list-number.pag-p1-phone ul li a {
    color: #333;
    font-size: 16px;
}
.list-number.pag-p1-phone ul li a i.fa {
    margin-right: 10px;
    font-size: 21px;
    color: #a2a2a2;
}
.busns-dtl-lable {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.busns-dtl-pera ul.bullets li i.fa {
    margin-right: 10px;
    color: #a2a2a2;
}
.busns-dtl-pera ul.bullets {
    float: left;
    width: 100%;
    padding-left: 0px;
    list-style: none;
}
.busns-dtl-pera dl.lines dd {
    float: left;
    width: 70%;
    margin-bottom: 5px;
}
.busns-dtl-pera dl.lines dt {
    float: left;
    width: 30%;
    margin-bottom: 5px;
}
.busns-dtl-pera ul.bullets {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.years-in-business .count {
    float: left;
    text-align: center;
    padding: 3px 6px;
    background-color: #333;
    /* border-radius: 50%; */
    color: #fff;
    margin-right: 5px;
}
.years-in-business {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.years-in-business span {
    line-height: 27px;
}
.usr-busns-img img {
    width: 100%;
}
.usr-profile-dtl-left {
    float: left;
    width: 60%;
}
.usr-busns-img {
    float: left;
    width: 40%;
}
.usr-profile-wrapper {
    padding: 50px 0px;
}

/* gallery */

#progressbar {
  width: 100%;
  height: 3px;
  margin-top: -3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(130, 130, 130, 0.8)), color-stop(90%, rgba(215, 215, 235, 0.85)), color-stop(95%, rgba(225, 225, 255, 0.9)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 64, scss/index.scss */

#gallery-con {
  width: 100%;
  margin: 0 auto 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* line 72, scss/index.scss */

#gallery-con #gallery-main {
  margin: 0;
  padding: 0;
  z-index: -1;
}

#gallery-con #gallery-main img {
	width:100%;
}

/* line 79, scss/index.scss */

#gallery-con #gallery-hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  z-index: -1;
}

/* line 87, scss/index.scss */

#gallery-con #thumbnails {
    width: 100%;
    background: rgba(130, 130, 130, 0.6);
    z-index: 10;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* opacity: 0.6; */
    float: left;
	    border: 1px solid #7f7f7f;
    margin-top: 5px;
}

/* line 97, scss/index.scss */

#gallery-con #thumbnails:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* line 102, scss/index.scss */

#gallery-con #thumbnails #thumbcon {
  width: 80%;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

/* line 111, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb {
    width: 70px;
    height: auto;
    display: inline;
    margin: 0px 1px;
    opacity: 0.6;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 1px solid #7f7f7f;
}

/* line 121, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}

/* line 128, scss/index.scss */

#gallery-con #thumbnails #thumbcon .selected {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}

/* line 135, scss/index.scss */

#gallery-con #thumbnails .ui-button {
    width: 10%;
    height: 48px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.85)), color-stop(100%, rgba(215, 215, 215, 0.85)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.85) 0%, rgba(215, 215, 215, 0.85) 100%);
  padding: 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
  opacity: 0.60;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 145, scss/index.scss */

#gallery-con #thumbnails .ui-button:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
}

/* line 152, scss/index.scss */

#gallery-con #thumbnails #left-arrow {

    /* margin-left: 10px; */
    /* margin-right: 10px; */
    display: inline-block;
    float: left;
    background-image: none;
    background-color: #949494;
    opacity: 1;
    box-shadow: none;
    border-radius: 0px;
	    padding-top: 10px;
    font-size: 20px;
}

/* line 161, scss/index.scss */

#gallery-con #thumbnails #right-arrow {

    /* margin-left: 10px; */
    /* margin-right: 10px; */
    display: inline-block;
    float: left;
    background-image: none;
    background-color: #949494;
    opacity: 1;
    box-shadow: none;
    border-radius: 0px;
	    padding-top: 10px;
    font-size: 20px;
}

/* line 170, scss/index.scss */

#gallery-con #thumbnails #playtoggle {
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

/* line 176, scss/index.scss */

#gallery-con #thumbnails .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(sprites.png);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 22;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 187, scss/index.scss */

#gallery-con #thumbnails .icon-play {
  background-position: 0 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 191, scss/index.scss */

#gallery-con #thumbnails .icon-pause {
  background-position: -32px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 195, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-right {
  background-position: -64px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 199, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-left {
  background-position: -96px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}

.share-btn ul li a i.fa {
    margin-right: 5px;
}

.share-btn ul li:nth-child(1) {
    background-color: #3b5998;
}
.share-btn ul li:nth-child(2) {
    background-color: #00aced;
}
.share-btn ul li:nth-child(3) {
    background-color: #d34836;
}


.share-btn ul li a {
    color: #fff;
}

.share-btn ul li {
    float: left;
    padding: 5px;
    margin-right: 10px;
}

.share-btn ul {
    list-style: none;
    padding-left: 0;
}

.share-btn {
    float: left;
    width: 100%;
	    margin-top: 10px;
}
.bsns-evnt-hed ul li {
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
}
.bsns-evnt-hed ul li {
    float: left;
    padding: 10px 5px;
    margin-right: 10px;
    width: 100%;
}
.bsns-evnt-hed ul li .list-pg-guar-img {
    float: left;
    margin-right: 10px;
    width: 35px;
}
.bsns-evnt-hed ul {
    list-style: none;
    padding-left: 0;
}
.bsns-evnt-hed {
    float: left;
    width: 100%;
	    margin-top: 10px;
}
.bsns-evnt-hed ul li .list-pg-guar-img i.fa {
    font-size: 26px;
}
.bsns-evnt-hed ul li .list-pg-guar-box {
    float: left;
    width: 82%;
}
.bsns-evnt-hed ul li .list-pg-guar-box h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.pbsns-evnt-hed h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.pbsns-evnt-hed {
    float: left;
    width: 100%;
}
.bsns-evnt-hed ul li .list-pg-guar-box p {
    margin-bottom: 0;
    color: #848484;
}
.bsns-evnt-hed ul li .list-pg-guar-box h4 a {
    color: #333;
}    
.busns-dtl-pera .popu-con-sub {
    float: left;
    width: 31%;
    margin: 0px 8px;
}


/* 2 0july piyush */

#toggle-map-button {
    position: absolute;
    top: 170px;
    width: 50px;
    height: 50px;
    background: #387fcc;
    text-align: center;
    font-size: 25px;
    border-top-left-radius: 10px;
    left: -50px;
    border-bottom-left-radius: 10px;
}


.map-main.stretch-m .google-ad {
    width: 0;
    overflow: hidden;
    padding: 0;
}
.google-ad {
    float: left;
    width: 180px;
    padding: 15px;
    height: 480px;
}

#toggle-map-button a {
    color: #fff;
    padding: 7px;
    display: inline-block;
}


.main-listing-sec.stretch-l {
    width: 40%;
}

.map-main.stretch-m {
    width: 60%;
}


